openapi: 3.1.0
info:
  title: ZoomInfo Authentication Corporate Hierarchy Enrich API
  description: The ZoomInfo API is a set of HTTPS endpoints you can use to programmatically retrieve and integrate ZoomInfo data into your existing technology stack and ...
  contact:
    name: ZoomInfo API Support
    url: https://www.zoominfo.com/about/help-center
    email: support@zoominfo.com
  version: '1.0'
  x-last-validated: '2026-04-18'
servers:
- url: https://api.zoominfo.com
  description: ZoomInfo API Production Server
security:
- bearerAuth: []
tags:
- name: Corporate Hierarchy Enrich
  description: 'Use [Corporate Hierarchy Enrich](#585acff6-f231-4109-b818-b2ff586c18d3) to retrieve corporate hierarchy detail using valid query parameters. A Corporate Hierarchy Enrich request requires you to specify both input parameters about the company you are enriching, and the output fields you want to retrieve.


    Refer to the examples provided to build a valid JSON request. For supported input and output parameters:


    *   Use the [Corporate Hierarchy Enrich Inputs](#d72da288-2069-47c9-b36f-16cdab5d9988) endpoint to retrieve a list of valid input parameters you can provide

    *   Use the [Corporate Hierarchy Enrich Outputs](#d6813026-dcae-4b20-9ee4-b1301451a2c7) endpoint to retrieve a list of valid output fields that can be returned'
paths:
  /enrich/corporatehierarchy:
    parameters: []
    post:
      tags:
      - Corporate Hierarchy Enrich
      summary: Zoominfo Corporate Hierarchy Enrich
      description: 'Use this endpoint to match corporate hierarchical information based on [input values](#d72da288-2069-47c9-b36f-16cdab5d9988) and return the desired [output fields](#d6813026-dcae-4b20-9ee4-b1301451a2c7) in the response.


        **Input params**


        | Parameter | DataType | Description |

        | --- | --- | --- |

        | companyId | Integer | Unique ZoomInfo identifier for a company |

        | companyName | String | Company name |

        | companyWebsite | String | Company website URL in [http://www.example.com](http://www.example.com) format |


        **Output fields**


        | Field | Description |

        | --- | --- |

        | parentage | Lists companies higher up in the corporate hierarchy for this company |

        | familyTree | Lists companies and locations in the family tree for this company |

        | companyId | Unique ZoomInfo identifier for a company |'
      operationId: CorporateHierarchyEnrich
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CorporateHierarchyEnrichRequest'
              - examples:
                - matchCompanyInput:
                  - companyName: zoominfo
                  outputFields:
                  - parentage
                  - familyTree
                  - companyId
              contentMediaType: application/json
            example:
              matchCompanyInput:
              - companyName: zoominfo
              outputFields:
              - parentage
              - familyTree
              - companyId
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Tue, 19 May 2020 17:16:00 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            CF-Ray:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 595f76925a63ff88-BOS
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: _pxhd=533f98300b99c5431f86bb221c6e877daac516468d9a13fc0e1fc33171b5ac05:197a38e1-94a0-11ea-a0cd-9f819741a458; path=/;
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1.1 google, 1.1 google
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: DYNAMIC
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            x-application-context:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: application:production:8080
            X-RateLimit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1500'
            X-RateLimit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1499'
            X-RateLimit-Reset:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1589908620'
            X-Usage-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999996830'
            X-Usage-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999965353'
            X-Usage-Unique-Id-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Unique-Id-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9999957'
            X-Usage-Websights-Api-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Websights-Api-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9999914'
            X-Usage-Websights-Api-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '100000000'
            X-Usage-Websights-Api-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '99999914'
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: cloudflare
            cf-request-id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 02cf886f740000ff88e521a200000001
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Enrichcorporatehierarchy-multiplecompanies'
              examples:
                CorporateHierarchyEnrich200Example:
                  summary: Default CorporateHierarchyEnrich 200 response
                  x-microcks-default: true
                  value:
                    status: success
                    data: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /lookup/inputfields/corporatehierarchy/enrich:
    parameters: []
    get:
      tags:
      - Corporate Hierarchy Enrich
      summary: Zoominfo Corporate Hierarchy Enrich Inputs
      description: Returns a list of fields you can use as input for the [Corporate Hierarchy Enrich](#1bf83184-9ee9-478f-b839-9afab4dfe18e) endpoint.
      operationId: CorporateHierarchyEnrichInputs
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 22 Jan 2020 20:16:27 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            CF-Ray:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 5594348b6f7eebec-BOS
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: _pxhd=dc7435039f4c5280195b59ec461e6abed3a56a2451feb3b81654a031685469ba:646e0a80-3d51-11ea-9298-b7d007b5c092; path=/;
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1.1 google, 1.1 google
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: DYNAMIC
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            x-application-context:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: application:production:8080
            X-RateLimit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '750'
            X-RateLimit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '744'
            X-RateLimit-Reset:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1579724210'
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: cloudflare
          content:
            application/json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetCorporateHierarchyEnrichInput'
                description: ''
                examples:
                - - fieldName: companyId
                    fieldType: Integer
                    description: The id of the company you are searching for
                  - fieldName: companyName
                    fieldType: String
                    description: The name of the company you are searching for
                  - fieldName: companyWebsite
                    fieldType: String
                    description: The website of the company you are searching for
                contentMediaType: application/json;charset=utf-8
              example:
              - fieldName: companyId
                fieldType: Integer
                description: The id of the company you are searching for
              - fieldName: companyName
                fieldType: String
                description: The name of the company you are searching for
              - fieldName: companyWebsite
                fieldType: String
                description: The website of the company you are searching for
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /lookup/outputfields/corporatehierarchy/enrich:
    parameters: []
    get:
      tags:
      - Corporate Hierarchy Enrich
      summary: Zoominfo Corporate Hierarchy Enrich Outputs
      description: Returns a list of fields you can specify as output for the [Corporate Hierarchy Enrich](#1bf83184-9ee9-478f-b839-9afab4dfe18e) endpoint.
      operationId: CorporateHierarchyEnrichOutputs
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 22 Jan 2020 20:16:47 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            CF-Ray:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 5594350f2913ebec-BOS
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: _pxhd=dc7435039f4c5280195b59ec461e6abed3a56a2451feb3b81654a031685469ba:646e0a80-3d51-11ea-9298-b7d007b5c092; path=/;
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1.1 google, 1.1 google
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: DYNAMIC
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            x-application-context:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: application:production:8080
            X-RateLimit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '750'
            X-RateLimit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '745'
            X-RateLimit-Reset:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1579724226'
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: cloudflare
          content:
            application/json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetCorporateHierarchyEnrichOutput'
                description: ''
                examples:
                - - fieldName: parentage
                    description: All companies higher up in the corporate hierarchy for this company
                  - fieldName: familyTree
                    description: All companies and locations in the family tree for this company
                  - fieldName: companyId
                    description: The company id of the matching company
                contentMediaType: application/json;charset=utf-8
              example:
              - fieldName: parentage
                description: All companies higher up in the corporate hierarchy for this company
              - fieldName: familyTree
                description: All companies and locations in the family tree for this company
              - fieldName: companyId
                description: The company id of the matching company
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SubUnitTypeInfo:
      title: SubUnitTypeInfo
      required:
      - typeId
      - typeDescription
      type: object
      properties:
        typeId:
          type: integer
          contentEncoding: int32
          example: 500123
        typeDescription:
          type: string
          example: Enterprise software company
      examples:
      - typeId: 1
        typeDescription: Location
    Parentage1:
      title: Parentage1
      required:
      - companyId
      - companyName
      - city
      - state
      - subUnitType
      - subUnitDesc
      - acquiredByDate
      type: object
      properties:
        companyId:
          type: string
          example: '500123'
        companyName:
          type: string
          example: Acme Corporation
        city:
          type: string
          example: San Francisco
        state:
          type: string
          example: CA
        subUnitType:
          type: string
          example: standard
        subUnitDesc:
          type: string
          example: example_value
        acquiredByDate:
          type: string
          example: '2025-03-15T14:30:00Z'
      examples:
      - companyId: '346572700'
        companyName: DiscoverOrg LLC
        city: Vancouver
        state: Washington
        subUnitType: '4'
        subUnitDesc: ''
        acquiredByDate: '2019-03-04T00:00:00.000Z'
    FamilyTree:
      title: FamilyTree
      required:
      - companyId
      - name
      - city
      - state
      - familyNodes
      type: object
      properties:
        companyId:
          type: integer
          contentEncoding: int32
          example: 500123
        name:
          type: string
          example: Acme Corporation
        city:
          type: string
          example: San Francisco
        state:
          type: string
          example: CA
        familyNodes:
          type: array
          items:
            $ref: '#/components/schemas/FamilyNode'
          description: ''
          example: []
      examples:
      - companyId: 344589814
        name: Zoom Information, Inc.
        city: Vancouver
        state: Washington
        familyNodes:
        - companyId: 440083468
          name: ''
          city: Grand Rapids
          state: Michigan
          subUnitTypeInfo:
            typeId: 1
            typeDescription: Location
        - companyId: 444874817
          name: ''
          city: Ra'anana
          state: Central District
          subUnitTypeInfo:
            typeId: 1
            typeDescription: Location
        - companyId: 12715058
          name: Eliyon Technologies Corp.
          city: Cambridge
          state: Massachusetts
          subUnitTypeInfo:
            typeId: 5
            typeDescription: ''
        - companyId: 356263316
          name: Datanyze Inc
          city: San Mateo
          state: California
          subUnitTypeInfo:
            typeId: 3
            typeDescription: ''
          familyNodes:
          - companyId: 357334302
            name: LeadLedger LLC
            city: San Francisco
            state: California
            subUnitTypeInfo:
              typeId: 3
              typeDescription: ''
          - companyId: 370064497
            name: ''
            city: San Mateo
            state: California
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 370092210
            name: ''
            city: San Mateo
            state: California
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
        - companyId: 346572700
          name: DiscoverOrg LLC
          city: Vancouver
          state: Washington
          subUnitTypeInfo:
            typeId: 4
            typeDescription: ''
          familyNodes:
          - companyId: 360079580
            name: ''
            city: Vancouver
            state: Washington
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 362940152
            name: ''
            city: Columbus
            state: Ohio
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 372341509
            name: ''
            city: Narberth
            state: Pennsylvania
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 417210616
            name: ''
            city: Bethesda
            state: Maryland
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 433070340
            name: ''
            city: Vancouver
            state: Washington
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 438585188
            name: ''
            city: Conshohocken
            state: Pennsylvania
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 127632468
            name: iProfile
            city: Austin
            state: Texas
            subUnitTypeInfo:
              typeId: 3
              typeDescription: ''
            familyNodes:
            - companyId: 361511922
              name: ''
              city: London
              state: Greater London
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 361511923
              name: ''
              city: Austin
              state: Texas
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 362981183
              name: ''
              city: London
              state: Greater London
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 362981185
              name: ''
              city: Henderson
              state: Nevada
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 400311147
              name: ''
              city: Vancouver
              state: Washington
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 451872063
              name: ''
              city: Palo Alto
              state: California
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 455100136
              name: ''
              city: Austin
              state: Texas
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 480462081
              name: ''
              city: Chicago
              state: Illinois
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
          - companyId: 467273758
            name: ''
            city: Waltham
            state: Massachusetts
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 405950842
            name: NeverBounce
            city: Cleveland
            state: Ohio
            subUnitTypeInfo:
              typeId: 3
              typeDescription: ''
            familyNodes:
            - companyId: 415852278
              name: ''
              city: Cleveland
              state: Ohio
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 435226486
              name: ''
              city: Park City
              state: Utah
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 480181228
              name: ''
              city: Vancouver
              state: Washington
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
          - companyId: 472733346
            name: ''
            city: Seattle
            state: Washington
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474323829
            name: ''
            city: Gaithersburg
            state: Maryland
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474323830
            name: ''
            city: New Britain
            state: Connecticut
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474323831
            name: ''
            city: Conyers
            state: Georgia
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474323832
            name: ''
            city: Walnut Creek
            state: California
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474323833
            name: ''
            city: Portland
            state: Oregon
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474323834
            name: ''
            city: Vancouver
            state: Washington
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474323835
            name: ''
            city: Cheyenne
            state: Wyoming
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474323836
            name: ''
            city: Mountain View
            state: California
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474323837
            name: ''
            city: Watertown
            state: Massachusetts
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474323838
            name: ''
            city: Woodbridge
            state: New Jersey
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474323839
            name: ''
            city: El Segundo
            state: California
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474323840
            name: ''
            city: New York City
            state: New York
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474323841
            name: ''
            city: Egham
            state: Surrey
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474323842
            name: ''
            city: Vienna
            state: Virginia
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474323843
            name: ''
            city: Buffalo
            state: New York
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474323844
            name: ''
            city: Northport
            state: New York
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 395930676
            name: RainKing Software Inc
            city: Bethesda
            state: Maryland
            subUnitTypeInfo:
              typeId: 3
              typeDescription: ''
            familyNodes:
            - companyId: 477747958
              name: ''
              city: Bethesda
              state: Maryland
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
          - companyId: 477857692
            name: ''
            city: Mc Lean
            state: Virginia
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 478822278
            name: ''
            city: New Hudson
            state: Michigan
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
        - companyId: 474328613
          name: ''
          city: Conshohocken
          state: Pennsylvania
          subUnitTypeInfo:
            typeId: 1
            typeDescription: Location
        - companyId: 474328614
          name: ''
          city: Bethesda
          state: Maryland
          subUnitTypeInfo:
            typeId: 1
            typeDescription: Location
        - companyId: 474630732
          name: ''
          city: Waltham
          state: Massachusetts
          subUnitTypeInfo:
            typeId: 1
            typeDescription: Location
        - companyId: 476310572
          name: ''
          city: Waltham
          state: Massachusetts
          subUnitTypeInfo:
            typeId: 1
            typeDescription: Location
        - companyId: 478161257
          name: ''
          city: Cleveland
          state: Ohio
          subUnitTypeInfo:
            typeId: 1
            typeDescription: Location
        - companyId: 371535605
          name: Komiko Limited
          city: Redmond
          state: Washington
          subUnitTypeInfo:
            typeId: 3
            typeDescription: ''
          familyNodes:
          - companyId: 480849085
            name: ''
            city: Vancouver
            state: Washington
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
    CorporateHierarchyEnrichRequest:
      title: CorporateHierarchyEnrichRequest
      required:
      - matchCompanyInput
      - outputFields
      type: object
      properties:
        matchCompanyInput:
          type: array
          items:
            $ref: '#/components/schemas/MatchCompanyInput2'
          description: ''
          example: []
        outputFields:
          type: array
          items:
            type: string
          description: ''
          example: []
      examples:
      - matchCompanyInput:
        - companyName: zoominfo
        outputFields:
        - parentage
        - familyTree
        - companyId
    FamilyNode1:
      title: FamilyNode1
      required:
      - companyId
      - name
      - city
      - state
      - subUnitTypeInfo
      type: object
      properties:
        companyId:
          type: integer
          contentEncoding: int32
          example: 500123
        name:
          type: string
          example: Acme Corporation
        city:
          type: string
          example: San Francisco
        state:
          type: string
          example: CA
        subUnitTypeInfo:
          $ref: '#/components/schemas/SubUnitTypeInfo'
        familyNodes:
          type: array
          items:
            $ref: '#/components/schemas/FamilyNode2'
          description: ''
          example: []
      examples:
      - companyId: 357334302
        name: LeadLedger LLC
        city: San Francisco
        state: California
        subUnitTypeInfo:
          typeId: 3
          typeDescription: ''
    Data32:
      title: Data32
      required:
      - parentage
      - familyTree
      - companyId
      type: object
      properties:
        parentage:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Parentage'
            - allOf:
              - $ref: '#/components/schemas/Parentage1'
              - examples:
                - companyId: '346572700'
                  companyName: DiscoverOrg LLC
                  city: Vancouver
                  state: Washington
                  subUnitType: '4'
                  subUnitDesc: ''
                  acquiredByDate: '2019-03-04T00:00:00.000Z'
          description: ''
          example: []
        familyTree:
          type: array
          items:
            $ref: '#/components/schemas/FamilyTree'
          description: ''
          example: []
        companyId:
          type: integer
          contentEncoding: int32
          example: 500123
      examples:
      - parentage: []
        familyTree:
        - companyId: 344589814
          name: Zoom Information, Inc.
          city: Vancouver
          state: Washington
          familyNodes:
          - companyId: 440083468
            name: ''
            city: Grand Rapids
            state: Michigan
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 444874817
            name: ''
            city: Ra'anana
            state: Central District
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 12715058
            name: Eliyon Technologies Corp.
            city: Cambridge
            state: Massachusetts
            subUnitTypeInfo:
              typeId: 5
              typeDescription: ''
          - companyId: 356263316
            name: Datanyze Inc
            city: San Mateo
            state: California
            subUnitTypeInfo:
              typeId: 3
              typeDescription: ''
            familyNodes:
            - companyId: 357334302
              name: LeadLedger LLC
              city: San Francisco
              state: California
              subUnitTypeInfo:
                typeId: 3
                typeDescription: ''
            - companyId: 370064497
              name: ''
              city: San Mateo
              state: California
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 370092210
              name: ''
              city: San Mateo
              state: California
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
          - companyId: 346572700
            name: DiscoverOrg LLC
            city: Vancouver
            state: Washington
            subUnitTypeInfo:
              typeId: 4
              typeDescription: ''
            familyNodes:
            - companyId: 360079580
              name: ''
              city: Vancouver
              state: Washington
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 362940152
              name: ''
              city: Columbus
              state: Ohio
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 372341509
              name: ''
              city: Narberth
              state: Pennsylvania
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 417210616
              name: ''
              city: Bethesda
              state: Maryland
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 433070340
              name: ''
              city: Vancouver
              state: Washington
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 438585188
              name: ''
              city: Conshohocken
              state: Pennsylvania
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 127632468
              name: iProfile
              city: Austin
              state: Texas
              subUnitTypeInfo:
                typeId: 3
                typeDescription: ''
              familyNodes:
              - companyId: 361511922
                name: ''
                city: London
                state: Greater London
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 361511923
                name: ''
                city: Austin
                state: Texas
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 362981183
                name: ''
                city: London
                state: Greater London
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 362981185
                name: ''
                city: Henderson
                state: Nevada
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 400311147
                name: ''
                city: Vancouver
                state: Washington
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 451872063
                name: ''
                city: Palo Alto
                state: California
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 455100136
                name: ''
                city: Austin
                state: Texas
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 480462081
                name: ''
                city: Chicago
                state: Illinois
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
            - companyId: 467273758
              name: ''
              city: Waltham
              state: Massachusetts
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 405950842
              name: NeverBounce
              city: Cleveland
              state: Ohio
              subUnitTypeInfo:
                typeId: 3
                typeDescription: ''
              familyNodes:
              - companyId: 415852278
                name: ''
                city: Cleveland
                state: Ohio
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 435226486
                name: ''
                city: Park City
                state: Utah
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 480181228
                name: ''
                city: Vancouver
                state: Washington
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
            - companyId: 472733346
              name: ''
              city: Seattle
              state: Washington
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474323829
              name: ''
              city: Gaithersburg
              state: Maryland
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474323830
              name: ''
              city: New Britain
              state: Connecticut
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474323831
              name: ''
              city: Conyers
              state: Georgia
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474323832
              name: ''
              city: Walnut Creek
              state: California
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474323833
              name: ''
              city: Portland
              state: Oregon
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474323834
              name: ''
              city: Vancouver
              state: Washington
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474323835
              name: ''
              city: Cheyenne
              state: Wyoming
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474323836
              name: ''
              city: Mountain View
              state: California
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474323837
              name: ''
              city: Watertown
              state: Massachusetts
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474323838
              name: ''
              city: Woodbridge
              state: New Jersey
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474323839
              name: ''
              city: El Segundo
              state: California
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474323840
              name: ''
              city: New York City
              state: New York
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474323841
              name: ''
              city: Egham
              state: Surrey
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474323842
              name: ''
              city: Vienna
              state: Virginia
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474323843
              name: ''
              city: Buffalo
              state: New York
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474323844
              name: ''
              city: Northport
              state: New York
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 395930676
              name: RainKing Software Inc
              city: Bethesda
              state: Maryland
              subUnitTypeInfo:
                typeId: 3
                typeDescription: ''
              familyNodes:
              - companyId: 477747958
                name: ''
                city: Bethesda
                state: Maryland
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
            - companyId: 477857692
              name: ''
              city: Mc Lean
              state: Virginia
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 478822278
              name: ''
              city: New Hudson
              state: Michigan
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
          - companyId: 474328613
            name: ''
            city: Conshohocken
            state: Pennsylvania
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474328614
            name: ''
            city: Bethesda
            state: Maryland
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 474630732
            name: ''
            city: Waltham
            state: Massachusetts
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 476310572
            name: ''
            city: Waltham
            state: Massachusetts
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 478161257
            name: ''
            city: Cleveland
            state: Ohio
            subUnitTypeInfo:
              typeId: 1
              typeDescription: Location
          - companyId: 371535605
            name: Komiko Limited
            city: Redmond
            state: Washington
            subUnitTypeInfo:
              typeId: 3
              typeDescription: ''
            familyNodes:
            - companyId: 480849085
              name: ''
              city: Vancouver
              state: Washington
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
        companyId: 344589814
    MatchCompanyInput2:
      title: MatchCompanyInput2
      required:
      - companyName
      type: object
      properties:
        companyName:
          type: string
          example: Acme Corporation
      examples:
      - companyName: zoominfo
    Data31:
      title: Data31
      required:
      - outputFields
      - result
      type: object
      properties:
        outputFields:
          type: array
          items:
            type: array
            items:
              type: string
          example: []
        result:
          type: array
          items:
            $ref: '#/components/schemas/Result15'
          description: ''
          example: []
    Result15:
      title: Result15
      required:
      - input
      - data
      type: object
      properties:
        input:
          $ref: '#/components/schemas/Input15'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Data32'
          description: ''
          example: []
      examples:
      - input:
          companyname: zoominfo
        data:
        - parentage: []
          familyTree:
          - companyId: 344589814
            name: Zoom Information, Inc.
            city: Vancouver
            state: Washington
            familyNodes:
            - companyId: 440083468
              name: ''
              city: Grand Rapids
              state: Michigan
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 444874817
              name: ''
              city: Ra'anana
              state: Central District
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 12715058
              name: Eliyon Technologies Corp.
              city: Cambridge
              state: Massachusetts
              subUnitTypeInfo:
                typeId: 5
                typeDescription: ''
            - companyId: 356263316
              name: Datanyze Inc
              city: San Mateo
              state: California
              subUnitTypeInfo:
                typeId: 3
                typeDescription: ''
              familyNodes:
              - companyId: 357334302
                name: LeadLedger LLC
                city: San Francisco
                state: California
                subUnitTypeInfo:
                  typeId: 3
                  typeDescription: ''
              - companyId: 370064497
                name: ''
                city: San Mateo
                state: California
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 370092210
                name: ''
                city: San Mateo
                state: California
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
            - companyId: 346572700
              name: DiscoverOrg LLC
              city: Vancouver
              state: Washington
              subUnitTypeInfo:
                typeId: 4
                typeDescription: ''
              familyNodes:
              - companyId: 360079580
                name: ''
                city: Vancouver
                state: Washington
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 362940152
                name: ''
                city: Columbus
                state: Ohio
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 372341509
                name: ''
                city: Narberth
                state: Pennsylvania
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 417210616
                name: ''
                city: Bethesda
                state: Maryland
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 433070340
                name: ''
                city: Vancouver
                state: Washington
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 438585188
                name: ''
                city: Conshohocken
                state: Pennsylvania
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 127632468
                name: iProfile
                city: Austin
                state: Texas
                subUnitTypeInfo:
                  typeId: 3
                  typeDescription: ''
                familyNodes:
                - companyId: 361511922
                  name: ''
                  city: London
                  state: Greater London
                  subUnitTypeInfo:
                    typeId: 1
                    typeDescription: Location
                - companyId: 361511923
                  name: ''
                  city: Austin
                  state: Texas
                  subUnitTypeInfo:
                    typeId: 1
                    typeDescription: Location
                - companyId: 362981183
                  name: ''
                  city: London
                  state: Greater London
                  subUnitTypeInfo:
                    typeId: 1
                    typeDescription: Location
                - companyId: 362981185
                  name: ''
                  city: Henderson
                  state: Nevada
                  subUnitTypeInfo:
                    typeId: 1
                    typeDescription: Location
                - companyId: 400311147
                  name: ''
                  city: Vancouver
                  state: Washington
                  subUnitTypeInfo:
                    typeId: 1
                    typeDescription: Location
                - companyId: 451872063
                  name: ''
                  city: Palo Alto
                  state: California
                  subUnitTypeInfo:
                    typeId: 1
                    typeDescription: Location
                - companyId: 455100136
                  name: ''
                  city: Austin
                  state: Texas
                  subUnitTypeInfo:
                    typeId: 1
                    typeDescription: Location
                - companyId: 480462081
                  name: ''
                  city: Chicago
                  state: Illinois
                  subUnitTypeInfo:
                    typeId: 1
                    typeDescription: Location
              - companyId: 467273758
                name: ''
                city: Waltham
                state: Massachusetts
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 405950842
                name: NeverBounce
                city: Cleveland
                state: Ohio
                subUnitTypeInfo:
                  typeId: 3
                  typeDescription: ''
                familyNodes:
                - companyId: 415852278
                  name: ''
                  city: Cleveland
                  state: Ohio
                  subUnitTypeInfo:
                    typeId: 1
                    typeDescription: Location
                - companyId: 435226486
                  name: ''
                  city: Park City
                  state: Utah
                  subUnitTypeInfo:
                    typeId: 1
                    typeDescription: Location
                - companyId: 480181228
                  name: ''
                  city: Vancouver
                  state: Washington
                  subUnitTypeInfo:
                    typeId: 1
                    typeDescription: Location
              - companyId: 472733346
                name: ''
                city: Seattle
                state: Washington
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 474323829
                name: ''
                city: Gaithersburg
                state: Maryland
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 474323830
                name: ''
                city: New Britain
                state: Connecticut
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 474323831
                name: ''
                city: Conyers
                state: Georgia
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 474323832
                name: ''
                city: Walnut Creek
                state: California
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 474323833
                name: ''
                city: Portland
                state: Oregon
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 474323834
                name: ''
                city: Vancouver
                state: Washington
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 474323835
                name: ''
                city: Cheyenne
                state: Wyoming
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 474323836
                name: ''
                city: Mountain View
                state: California
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 474323837
                name: ''
                city: Watertown
                state: Massachusetts
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 474323838
                name: ''
                city: Woodbridge
                state: New Jersey
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 474323839
                name: ''
                city: El Segundo
                state: California
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 474323840
                name: ''
                city: New York City
                state: New York
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 474323841
                name: ''
                city: Egham
                state: Surrey
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 474323842
                name: ''
                city: Vienna
                state: Virginia
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 474323843
                name: ''
                city: Buffalo
                state: New York
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 474323844
                name: ''
                city: Northport
                state: New York
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 395930676
                name: RainKing Software Inc
                city: Bethesda
                state: Maryland
                subUnitTypeInfo:
                  typeId: 3
                  typeDescription: ''
                familyNodes:
                - companyId: 477747958
                  name: ''
                  city: Bethesda
                  state: Maryland
                  subUnitTypeInfo:
                    typeId: 1
                    typeDescription: Location
              - companyId: 477857692
                name: ''
                city: Mc Lean
                state: Virginia
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
              - companyId: 478822278
                name: ''
                city: New Hudson
                state: Michigan
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
            - companyId: 474328613
              name: ''
              city: Conshohocken
              state: Pennsylvania
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474328614
              name: ''
              city: Bethesda
              state: Maryland
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 474630732
              name: ''
              city: Waltham
              state: Massachusetts
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 476310572
              name: ''
              city: Waltham
              state: Massachusetts
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 478161257
              name: ''
              city: Cleveland
              state: Ohio
              subUnitTypeInfo:
                typeId: 1
                typeDescription: Location
            - companyId: 371535605
              name: Komiko Limited
              city: Redmond
              state: Washington
              subUnitTypeInfo:
                typeId: 3
                typeDescription: ''
              familyNodes:
              - companyId: 480849085
                name: ''
                city: Vancouver
                state: Washington
                subUnitTypeInfo:
                  typeId: 1
                  typeDescription: Location
          companyId: 344589814
    Enrichcorporatehierarchy-multiplecompanies:
      title: Enrichcorporatehierarchy-multiplecompanies
      required:
      - success
      - data
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/Data31'
    Input15:
      title: Input15
      type: object
      properties:
        companyname:
          type: string
          example: Acme Corporation
        companyid:
          type: integer
          contentEncoding: int32
          example: 500123
      examples:
      - companyname: zoominfo
    Parentage:
      title: Parentage
      type: object
      properties:
        companyId:
          type: string
          example: '500123'
        companyName:
          type: string
          example: Acme Corporation
        city:
          type: string
          example: San Francisco
        state:
          type: string
          example: CA
        subUnitType:
          type: string
          example: standard
        subUnitDesc:
          type: string
          example: example_value
        acquiredByDate:
          type: string
          example: '2025-03-15T14:30:00Z'
    GetCorporateHierarchyEnrichOutput:
      title: GetCorporateHierarchyEnrichOutput
      required:
      - fieldName
      - description
      type: object
      properties:
        fieldName:
          type: string
          example: Acme Corporation
        description:
          type: string
          example: Enterprise software company
      examples:
      - fieldName: parentage
        description: All companies higher up in the corporate hierarchy for this company
    FamilyNode2:
      title: FamilyNode2
      required:
      - companyId
      - name
      - city
      - state
      - subUnitTypeInfo
      type: object
      properties:
        companyId:
          type: integer
          contentEncoding: int32
          example: 500123
        name:
          type: string
          example: Acme Corporation
        city:
          type: string
          example: San Francisco
        state:
          type: string
          example: CA
        subUnitTypeInfo:
          $ref: '#/components/schemas/SubUnitTypeInfo'
      examples:
      - companyId: 361511922
        name: ''
        city: London
        state: Greater London
        subUnitTypeInfo:
          typeId: 1
          typeDescription: Location
    GetCorporateHierarchyEnrichInput:
      title: GetCorporateHierarchyEnrichInput
      required:
      - fieldName
      - fieldType
      - description
      type: object
      properties:
        fieldName:
          type: string
          example: Acme Corporation
        fieldType:
          type: string
          example: standard
        description:
          type: string
          example: Enterprise software company
      examples:
      - fieldName: companyId
        fieldType: Integer
        description: The id of the company you are searching for
    FamilyNode:
      title: FamilyNode
      required:
      - companyId
      - name
      - city
      - state
      - subUnitTypeInfo
      type: object
      properties:
        companyId:
          type: integer
          contentEncoding: int32
          example: 500123
        name:
          type: string
          example: Acme Corporation
        city:
          type: string
          example: San Francisco
        state:
          type: string
          example: CA
        subUnitTypeInfo:
          $ref: '#/components/schemas/SubUnitTypeInfo'
        familyNodes:
          type: array
          items:
            $ref: '#/components/schemas/FamilyNode1'
          description: ''
          example: []
      examples:
      - companyId: 440083468
        name: ''
        city: Grand Rapids
        state: Michigan
        subUnitTypeInfo:
          typeId: 1
          typeDescription: Location
  securitySchemes:
    httpBearer:
      type: http
      scheme: bearer
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from the /authenticate endpoint
