openapi: 3.2.0
info:
  title: Zoominfo Lookup API
  version: '1.0'
  x-refined-note:
  - x-last-validated differs across the merged source definitions and was not carried
  description: 'Operations tagged Lookup across 2 of this provider''s published API definitions: zoominfo-gtm-data-v1-openapi.json, zoominfo-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.zoominfo.com/gtm
  description: Base URL for the Data API
- url: https://api.zoominfo.com
  description: ZoomInfo API Production Server
tags:
- name: Lookup
paths:
  /data/v1/lookup/{fieldName}:
    get:
      operationId: LookupInterface_lookup
      summary: Lookup Data
      description: Returns lookup data.
      parameters:
      - name: fieldName
        in: path
        required: true
        description: The name of the lookup field e.g. 'company-rankings'
        schema:
          $ref: '#/components/schemas/FieldNameEnum'
      - name: filter[category]
        in: query
        required: false
        description: The category of the lookup field. Only applicable when accessing hashtag lookups e.g. 'Unified Communications'
        schema:
          type: string
        explode: false
      - name: filter[parentCategory]
        in: query
        required: false
        description: The parentCategory. Only applicable when accessing hashtag and tech lookups e.g. 'Communication and Collaboration'
        schema:
          type: string
        explode: false
      - name: filter[subCategory]
        in: query
        required: false
        description: The subCategory. Only applicable when accessing hashtag and tech lookups e.g. 'Unified Communications as a Service'
        schema:
          type: string
        explode: false
      - name: filter[vendor]
        in: query
        required: false
        description: The vendor of the lookup field. Only applicable when accessing hashtag and tech lookups e.g. 'microsoft corporation'
        schema:
          type: string
        explode: false
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LookupResponse'
              examples:
                Look up board member filters:
                  summary: Look up board member filters
                  description: This example demonstrates how to look up board member filters using the ZoomInfo API. The response includes a sample list of available filters for board members.
                  value:
                    data:
                    - attributes:
                        name: exclude
                      id: exclude
                      type: BoardMember
                    - attributes:
                        name: include
                      id: include
                      type: BoardMember
                Look up buying groups:
                  summary: Look up buying groups
                  description: This example demonstrates how to look up buying groups using the ZoomInfo API. The response includes a sample list of available buying group types.
                  value:
                    data:
                    - attributes:
                        accessLevel: private
                        isDefault: false
                        name: HR Decision Makers
                        personas:
                        - departmentsAndJobFunctions:
                          - Human Resources
                          managementLevels:
                          - C_EXECUTIVES
                          - VP_EXECUTIVES
                          - DIRECTOR
                          - MANAGER
                          titles: null
                      id: '1913024'
                      type: BuyingGroup
                    - attributes:
                        accessLevel: private
                        isDefault: false
                        name: SecondTestGroup
                        personas:
                        - departmentsAndJobFunctions:
                          - Medical & Health
                          managementLevels:
                          - VP_EXECUTIVES
                          titles:
                          - Dentist
                      id: '1913025'
                      type: BuyingGroup
                Look up company rankings:
                  summary: Look up company rankings
                  description: This example demonstrates how to look up company rankings using the ZoomInfo API. The response includes a sample company ranking.
                  value:
                    data:
                    - attributes:
                        name: Fortune 500
                      id: fortune500
                      type: CompanyRanking
                Look up company types:
                  summary: Look up company types
                  description: This example demonstrates how to look up company types using the ZoomInfo API. The response includes a sample company type.
                  value:
                    data:
                    - attributes:
                        name: private
                      id: private
                      type: CompanyType
                Look up continents:
                  summary: Look up continents
                  description: This example demonstrates how to look up continents using the ZoomInfo API. The response includes a sample continent.
                  value:
                    data:
                    - attributes:
                        name: Africa
                      id: africa
                      type: Continent
                Look up countries:
                  summary: Look up countries
                  description: This example demonstrates how to look up countries using the ZoomInfo API. The response includes a sample country.
                  value:
                    data:
                    - attributes:
                        name: Bahamas
                      id: bahamas
                      type: Country
                Look up departments:
                  summary: Look up departments
                  description: This example demonstrates how to look up departments using the ZoomInfo API. The response includes a sample department.
                  value:
                    data:
                    - attributes:
                        name: Information Technology
                      id: '5'
                      type: Department
                Look up employee count ranges:
                  summary: Look up employee count ranges
                  description: This example demonstrates how to look up employee count ranges using the ZoomInfo API. The response includes a sample employee count range.
                  value:
                    data:
                    - attributes:
                        name: 1 - 5
                      id: 1to4
                      type: EmployeeCount
                Look up hashtag results:
                  summary: Look up hashtag results
                  description: This example demonstrates how to look up hashtag results using the API. The response includes a sample hashtag result.
                  value:
                    data:
                    - attributes:
                        name: 250+ Doctors
                      id: '#250_plus_doctors'
                      type: Hashtag
                Look up industry categories:
                  summary: Look up industry categories
                  description: This example demonstrates how to look up industry categories using the API. The response includes a sample industry category.
                  value:
                    data:
                    - attributes:
                        name: Animals & Livestock
                      id: agriculture.animals
                      type: Industry
                Look up intent topics:
                  summary: Look up intent topics
                  description: This example demonstrates how to look up intent topics using the ZoomInfo API. The response includes a sample intent topic.
                  value:
                    data:
                    - attributes:
                        category: Cloud
                        department: Information Technology
                        description: ''
                        jobFunction: Cloud / Mobility
                        name: Cloud Applications
                      id: Cloud Applications
                      type: IntentTopic
                Look up job functions:
                  summary: Look up job functions
                  description: This example demonstrates how to look up job functions using the API. The response includes a sample job function.
                  value:
                    data:
                    - attributes:
                        name: Project Development
                      id: '4.11'
                      type: JobFunction
                Look up job title hierarchies:
                  summary: Look up job title hierarchies
                  description: This example demonstrates how to look up job titles using the ZoomInfo API. The response includes samples of job titles.
                  value:
                    data:
                    - attributes:
                        name: C-Level
                        order: '2'
                      id: exec
                      type: JobTitle
                    - attributes:
                        name: VP-Level
                        order: '3'
                      id: vp
                      type: JobTitle
                Look up management levels:
                  summary: Look up management levels
                  description: This example demonstrates how to look up management levels using the API. The response includes a sample management level.
                  value:
                    data:
                    - attributes:
                        name: VP Level Execs
                      id: VP Level Exec
                      type: ManagementLevel
                Look up metro region:
                  summary: Look up metro region
                  description: This example demonstrates how to look up metro refions using the ZoomInfo API. The response includes a sample metro region.
                  value:
                    data:
                    - attributes:
                        name: AL - Birmingham
                      id: usa.alabama.birmingham
                      type: MetroRegion
                Look up NAICS codes:
                  summary: Look up NAICS codes
                  description: This example demonstrates how to look up NAICS codes using the API. The response includes a sample NAICS code.
                  value:
                    data:
                    - attributes:
                        name: Soybean Farming
                      id: '11111'
                      type: NAICSCode
                Look up news categories:
                  summary: Look up news categories
                  description: This example demonstrates how to look up news categories using the API. The response includes a sample news category.
                  value:
                    data:
                    - attributes:
                        name: GENERAL_NEWS
                      id: GENERAL_NEWS
                      type: NewsCategory
                Look up revenue ranges:
                  summary: Look up revenue ranges
                  description: This example demonstrates how to look up revenue ranges using the API. The response includes a sample revenue range.
                  value:
                    data:
                    - attributes:
                        name: '500'
                      id: under500k
                      type: RevenueRange
                Look up scoop departments:
                  summary: Look up scoop departments
                  description: This example demonstrates how to look up scoop departments using the API. The response includes a sample scoop department.
                  value:
                    data:
                    - attributes:
                        name: Sales
                      id: '5'
                      type: ScoopDepartment
                Look up scoop topics:
                  summary: Look up scoop topics
                  description: This example demonstrates how to look up scoop topics using the API. The response includes a sample scoop topic.
                  value:
                    data:
                    - attributes:
                        name: Award
                      id: '5'
                      type: ScoopTopic
                Look up scoop types:
                  summary: Look up scoop types
                  description: This example demonstrates how to look up scoop types using the API. The response includes a sample scoop type.
                  value:
                    data:
                    - attributes:
                        name: Divestiture
                      id: '5'
                      type: ScoopType
                Look up SIC codes:
                  summary: Look up SIC codes
                  description: This example demonstrates how to look up SIC codes using the API. The response includes a sample SIC code.
                  value:
                    data:
                    - attributes:
                        name: Rice
                      id: '0112'
                      type: SICCode
                Look up states:
                  summary: Look up states
                  description: This example demonstrates how to look up states using the ZoomInfo API. The response includes a sample state.
                  value:
                    data:
                    - attributes:
                        name: Alaska
                      id: usa.alaska
                      type: State
                Look up sub-unit types:
                  summary: Look up sub-unit types
                  description: This example demonstrates how to look up sub-unit types using the API. The response includes a sample sub-unit type.
                  value:
                    data:
                    - attributes:
                        name: UNSPECIFIED
                      id: UNSPECIFIED
                      type: SubUnitType
                Look up tech categories:
                  summary: Look up tech categories
                  description: This example demonstrates how to look up tech categories using the API. The response includes a sample tech category.
                  value:
                    data:
                    - attributes:
                        categories:
                        - Applicant Tracking Systems
                      id: Human Resources
                      type: TechCategory
                Look up tech products:
                  summary: Look up tech products
                  description: This example demonstrates how to look up tech products using the API. The response includes a sample tech products.
                  value:
                    data:
                    - attributes:
                        name: Skype for Business
                        attribute: 333.202.28.24617
                      id: '24617'
                      type: TechProduct
                Look up tech skills:
                  summary: Look up tech skills
                  description: This example demonstrates how to look up tech skills using the API. The response includes a sample tech skills.
                  value:
                    data:
                    - attributes:
                        name: talentReef
                      id: '1000'
                      type: TechSkill
                Look up tech vendors:
                  summary: Look up tech vendors
                  description: This example demonstrates how to look up tech vendors using the API. The response includes a sample tech vendor.
                  value:
                    data:
                    - attributes:
                        name: Appier Inc.
                      id: Appier Inc.
                      type: TechVendor
                Look up ranges for years of experience:
                  summary: Look up ranges for years of experience
                  description: This example demonstrates how to look up ranges for years of experience using the API. The response includes a sample years of experience range.
                  value:
                    data:
                    - attributes:
                        name: 4-5
                      id: 4-5
                      type: YearsOfExperience
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Lookup
      security:
      - OAuth2Auth:
        - api:data:company
        - api:data:contact
        - api:data:intent
        - api:data:news
        - api:data:scoops
        - api:data:lookup
      x-api-roles:
      - fea:zia
      - fea:api
      x-api-role-requirement: ANY_REQUIRED
      x-api-scope-requirement: ANY_REQUIRED
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the Data API
  /data/v1/lookup/search:
    get:
      operationId: LookupSearchInterface_lookupSearch
      summary: Lookup Search Fields
      description: Returns lookup search fields based on entity and field type filters.
      parameters:
      - name: filter[entity]
        in: query
        required: true
        description: The entity type to filter by. Options are 'contact', 'company', 'scoop', 'news', or 'intent'.
        schema:
          $ref: '#/components/schemas/SearchEntityNameEnum'
        explode: false
      - name: filter[fieldType]
        in: query
        required: true
        description: The field type to filter by. Options are 'input' or 'output'.
        schema:
          $ref: '#/components/schemas/FieldTypeEnum'
        explode: false
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LookupSearchResponse'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Lookup
      security:
      - OAuth2Auth:
        - api:data:company
        - api:data:contact
        - api:data:intent
        - api:data:news
        - api:data:scoops
        - api:data:lookup
      x-api-roles:
      - fea:zia
      - fea:api
      x-api-role-requirement: ANY_REQUIRED
      x-api-scope-requirement: ANY_REQUIRED
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the Data API
  /data/v1/lookup/enrich:
    get:
      operationId: LookupEnrichInterface_lookupEnrich
      summary: Lookup Enrich Fields
      description: Returns lookup enrich fields based on entity and field type filters.
      parameters:
      - name: filter[entity]
        in: query
        required: true
        description: The entity type to filter by. Options are 'contact', 'company', 'scoop', 'news', 'intent', 'technology', 'orgChart', or 'corporate-hierarchy'.
        schema:
          $ref: '#/components/schemas/EnrichEntityNameEnum'
        explode: false
      - name: filter[fieldType]
        in: query
        required: true
        description: The field type to filter by. Options are 'input' or 'output'.
        schema:
          $ref: '#/components/schemas/FieldTypeEnum'
        explode: false
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LookupEnrichResponse'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Lookup
      security:
      - OAuth2Auth:
        - api:data:company
        - api:data:contact
        - api:data:intent
        - api:data:news
        - api:data:scoops
        - api:data:lookup
      x-api-roles:
      - fea:zia
      - fea:api
      x-api-role-requirement: ANY_REQUIRED
      x-api-scope-requirement: ANY_REQUIRED
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the Data API
  /lookup/companyranking:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Company Ranking
      description: Retrieve accepted Company Ranking values
      operationId: CompanyRanking
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Tue, 17 Sep 2019 15:03:51 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            CF-Ray:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 517bf8185879ae06-BOS
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: _pxhd=65d3624b622354d497d15cd8f518d9003708630dad6c7226d0b798c059302a3a:97799611-d95b-11e9-9c4e-21d6673962fa; path=/;
            vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1.1 google, 1.1 google
            x-application-context:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: application:production:8080
            X-RateLimit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000'
            X-RateLimit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999'
            X-RateLimit-Reset:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1568732631'
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: cloudflare
          content:
            application/json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetCompanyRanking'
                description: ''
                examples:
                - - Id: fortune100
                    Name: Fortune 100
                  - Id: fortune500
                    Name: Fortune 500
                  - Id: fortune1000
                    Name: Fortune 1000
                  - Id: global500
                    Name: Global 500
                  - Id: private500
                    Name: America's Largest
                  - Id: russell3000
                    Name: Russell 3000
                contentMediaType: application/json;charset=utf-8
              example:
              - Id: fortune100
                Name: Fortune 100
              - Id: fortune500
                Name: Fortune 500
              - Id: fortune1000
                Name: Fortune 1000
              - Id: global500
                Name: Global 500
              - Id: private500
                Name: America's Largest
              - Id: russell3000
                Name: Russell 3000
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/continent:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Continent
      description: Retrieve accepted Continent values
      operationId: Continent
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/country:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Country
      description: Retrieve accepted Country values
      operationId: Country
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/state:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo State
      description: Retrieve accepted State values
      operationId: State
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/department:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Contact Departments
      description: Retrieve accepted Contact Department values
      operationId: ContactDepartments
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/employeecount:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Employee Count
      description: Retrieve accepted Employee Count values
      operationId: EmployeeCount
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/siccode:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Sic Codes
      description: Retrieve accepted Standard Industrial Classification (SIC) values
      operationId: SICCodes
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/naicscode:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Naics Codes
      description: Retrieve accepted North American Industry Classification System (NAICS) values
      operationId: NAICSCodes
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/industry:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Industry Codes
      description: Retrieve accepted Industry Code values
      operationId: IndustryCodes
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/jobtitlehierarchy:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Job Title Hierarchy
      description: Retrieve accepted Job Title Hierarchy values
      operationId: JobTitleHierarchy
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/jobfunction:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Job Function
      description: Retrieve accepted Job Function values
      operationId: JobFunction
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/metroarea:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Metro Area
      description: Retrieve accepted Metro Area values
      operationId: MetroArea
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/revenuerange:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Revenue Range
      description: Retrieve accepted Revenue Range values
      operationId: RevenueRange
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/scooptopic:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Scoop Topics
      description: Retrieve accepted Scoop Topic values
      operationId: ScoopTopics
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/scooptype:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Scoop Types
      description: Retrieve accepted Scoop Type values
      operationId: ScoopTypes
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/scoopdepartment:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Scoop Departments
      description: Retrieve accepted Scoop Department values
      operationId: ScoopDepartments
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/companytype:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Company Type
      description: Retrieve accepted Company Type values
      operationId: CompanyType
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/boardMember:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Board Members
      description: Retrieve accepted Board Member values
      operationId: BoardMembers
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/managementLevel:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Management Levels
      description: Retrieve accepted Management Level values
      operationId: ManagementLevels
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/subunittypes:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Sub Unit Type
      description: Retrieve accepted Sub Unit Type values
      operationId: SubUnitType
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/tech/category:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Tech - Categories
      description: Retrieve accepted Tech Category values
      operationId: Tech-Categories
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/tech/vendor:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Tech - Vendor
      description: Retrieve accepted Tech Vendor values
      operationId: Tech-Vendor
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/tech/product:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Tech - Product
      description: Retrieve accepted Tech Product values
      operationId: Tech-Product
      parameters:
      - name: vendor
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - microsoft corporation
        example: example_value
      - name: parentCategory
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Communication and Collaboration
        example: example_value
      - name: category
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Unified Communications
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/tech-skills:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Tech Skills
      description: Retrieve Tech Skill values
      operationId: TechSkills
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/hashtag:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Hashtag
      description: Retrieve accepted Hashtag values
      operationId: Hashtag
      parameters:
      - name: vendor
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - microsoft corporation
        example: example_value
      - name: parentCategory
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Communication and Collaboration
        example: example_value
      - name: category
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Unified Communications
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/intent/topics:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Intent Topics
      description: Retrieve accepted intent topics and categories.
      operationId: IntentTopics
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Sun, 10 May 2020 17:20:36 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            CF-Ray:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 591554f01f94ebf8-BOS
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: _pxhd=07a847a334cf7e797620854bcf3d04278d3e9fa911dd994cd5d463e7cae8def9:b222cc11-8ed3-11ea-9562-cb2408100f34; path=/;
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1.1 google, 1.1 google
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: DYNAMIC
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            x-application-context:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: application:production:8080
            X-RateLimit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1500'
            X-RateLimit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1498'
            X-RateLimit-Reset:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1589131277'
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: cloudflare
            cf-request-id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 02a1336a0d0000ebf89b866200000001
          content:
            application/json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IntentTopic'
                description: ''
                examples:
                - - Name: Affordable Care Act (ACA)
                    Category: Compensation & Benefits
                    Department: Legal
                    JobFunction: Governmental Affairs & Regulatory Law
                    Description: The Affordable Care Act (ACA) is a United States federal statute signed into law by President Obama on March 23, 2010. The ACA was enacted to increase the quality and affordability of health insurance, lower the uninsured rate by expanding public and private insurance coverage, and reduce the costs of healthcare for individuals and the government.
                  - Name: Android Push Notifications
                    Category: Mobile Devices
                    Department: Information Technology
                    JobFunction: Cloud / Mobility
                    Description: Android Push Notifications is a message that pops up on the user's device. Notifications can be triggered locally by an open application, or they can be ""pushed"" from the server to the user even when the app is not running. They allow your users to opt-in to timely updates and allow you to effectively re-engage users with customized content.
                  - Name: Claims Processing
                    Category: Compensation & Benefits
                    Department: Medical & Health
                    JobFunction: Medical Administration
                    Description: Claims processing refers to the insurance company's procedure to check the claim requests for adequate information, validation, justification and authenticity.
                  - Name: Cloud Applications
                    Category: Cloud
                    Department: Information Technology
                    JobFunction: Cloud / Mobility
                    Description: Cloud application or cloud app is a software program where cloud-based and local components work together.
                  - Name: Cloud Computing
                    Category: Cloud
                    Department: Information Technology
                    JobFunction: Cloud / Mobility
                    Description: Cloud computing is a general term for anything that involves delivering hosted services over the internet.
                  - Name: Cloud Infrastructure
                    Category: Cloud
                    Department: Information Technology
                    JobFunction: Cloud / Mobility
                    Description: Cloud infrastructure is a term used to describe the components needed for cloud computing, which includes hardware, abstracted resources, storage, and network resources. Think of cloud infrastructure as the tools needed to build a cloud. In order to host services and applications in the cloud, you need cloud infrastructure.
                  - Name: Corporate Culture
                    Category: Company Culture & Policy
                    Department: Human Resources
                    JobFunction: Organizational Development
                    Description: Corporate culture is the shared values, attitudes, standards, and beliefs that characterize members of an organization and define its nature. It is rooted in an organization's goals, strategies, structure, and approaches to labor, customers, investors, and the greater community.
                  - Name: Credit Card Fraud
                    Category: Banking
                    Department: Finance
                    JobFunction: Risk
                    Description: Credit card fraud is an inclusive term for fraud committed using a payment card, such as a credit card or debit card. The purpose may be to obtain goods or services, or to make payment to another account which is controlled by a criminal.
                  - Name: Direct Deposit
                    Category: Billing & Invoice
                    Department: Finance
                    JobFunction: Finance
                    Description: Direct deposit or direct credit, in banking, is a deposit of money by a payer directly into a payee's bank account. Direct deposits are most commonly made by businesses in the payment of salaries and wages and for the payment of suppliers' accounts, but the facility can be used for payments, such as payment of bills, taxes, and other government charges.
                  - Name: eFulfillment Service
                    Category: Logistics / Supply Chain
                    Department: Operations
                    JobFunction: Logistics
                    Description: eFulfillment Service (EFS) is a process of making order fulfillment fast, easy and affordable for sellers of all types and sizes.
                  - Name: Google Search
                    Category: Search
                    Department: Information Technology
                    JobFunction: Collaboration & Web Apps
                    Description: Google Search, also referred to as Google Web Search or simply Google, is a web search engine developed by Google.
                  - Name: Healthcare Law
                    Category: Regulations
                    Department: Legal
                    JobFunction: Governmental Affairs & Regulatory Law
                    Description: Healthcare law concerns who can receive healthcare, and who should pay for it. This is a surprisingly complicated area of law given how expensive healthcare can be in the United States.
                  - Name: Hours of Work
                    Category: Labor & Employment Policy
                    Department: Human Resources
                    JobFunction: Human Resources
                    Description: Hours of Work is the period of time during which one engages in paid work. It is one way to measure the labor a person performs.
                  - Name: In-App Advertising
                    Category: Advertising
                    Department: Marketing
                    JobFunction: Advertising
                    Description: In-app advertising is an effective monetization strategy for mobile publishers, in which app developers get paid to serve advertisements within their mobile app.
                  - Name: Incentive Compensation
                    Category: Compensation & Benefits
                    Department: Human Resources
                    JobFunction: Compensation & Benefits
                    Description: Incentive compensation is a type of compensation based on the performance of an entity. Often incentive compensation plans are designed to attract and retain key employees, identify with shareholders, and align interests of employees and the company.
                  - Name: Java
                    Category: Application Development
                    Department: Engineering & Technical
                    JobFunction: Software Development
                    Description: Java is a widely used programming language expressly designed for use in the distributed environment of the internet. It is the programming language for Android smartphone applications.
                  - Name: Legal
                    Category: Legal Operations
                    Department: Legal
                    JobFunction: Legal
                    Description: Legal is used to describe things that relate to the law.
                  - Name: Mobile / Wireless
                    Category: Mobile Devices
                    Department: Information Technology
                    JobFunction: Cloud / Mobility
                    Description: Transmission over the air from a base station to a moving cellphone, tablet or laptop. The term may refer to voice only or voice and data.
                  - Name: Mobile Apps
                    Category: Mobile Applications
                    Department: Information Technology
                    JobFunction: Cloud / Mobility
                    Description: Mobile application is a computer program or software application designed to run on a mobile device such as a phone, tablet, or watch.
                  - Name: Mobile Security
                    Category: Cyber Security
                    Department: Information Technology
                    JobFunction: Information Security
                    Description: Mobile security involves protecting both personal and business information stored on and transmitted from smartphones, tablets, laptops and other mobile devices. The term mobile security is a broad one that covers everything from protecting mobile devices from malware threats to reducing risks and securing mobile devices and their data in the case of theft, unauthorized access or accidental loss of the mobile device.
                  - Name: Mobile Wallet
                    Category: Mobile Applications
                    Department: Information Technology
                    JobFunction: Cloud / Mobility
                    Description: Mobile wallet is a virtual wallet that stores payment card information on a mobile device. Mobile wallets are a convenient way for a user to make in-store payments and can be used at merchants listed with the mobile wallet service provider.
                  - Name: Node.js
                    Category: Application Development
                    Department: Engineering & Technical
                    JobFunction: Software Development
                    Description: Node.js is an open-source, cross-platform, JavaScript runtime environment that executes JavaScript code outside of a browser.
                  - Name: Organizational Culture
                    Category: Company Culture & Policy
                    Department: Human Resources
                    JobFunction: Organizational Development
                    Description: Organizational culture is defined as the underlying beliefs, assumptions, values and ways of interacting that contribute to the unique social and psychological environment of an organization.
                  - Name: Risk Management Services
                    Category: Risk
                    Department: Human Resources
                    JobFunction: Human Resources
                    Description: Risk management is the identification, evaluation, and prioritization of risks followed by coordinated and economical application of resources to minimize, monitor, and control the probability or impact of unfortunate events or to maximize the realization of opportunities.
                  - Name: Video Conferencing
                    Category: Collaboration/Web Apps
                    Department: Information Technology
                    JobFunction: Collaboration & Web Apps
                    Description: Video conferencing is a technology that allows users in different locations to hold face-to-face meetings without having to move to a single location together.
                contentMediaType: application/json;charset=utf-8
              example:
              - Name: Affordable Care Act (ACA)
                Category: Compensation & Benefits
                Department: Legal
                JobFunction: Governmental Affairs & Regulatory Law
                Description: The Affordable Care Act (ACA) is a United States federal statute signed into law by President Obama on March 23, 2010. The ACA was enacted to increase the quality and affordability of health insurance, lower the uninsured rate by expanding public and private insurance coverage, and reduce the costs of healthcare for individuals and the government.
              - Name: Android Push Notifications
                Category: Mobile Devices
                Department: Information Technology
                JobFunction: Cloud / Mobility
                Description: Android Push Notifications is a message that pops up on the user's device. Notifications can be triggered locally by an open application, or they can be ""pushed"" from the server to the user even when the app is not running. They allow your users to opt-in to timely updates and allow you to effectively re-engage users with customized content.
              - Name: Claims Processing
                Category: Compensation & Benefits
                Department: Medical & Health
                JobFunction: Medical Administration
                Description: Claims processing refers to the insurance company's procedure to check the claim requests for adequate information, validation, justification and authenticity.
              - Name: Cloud Applications
                Category: Cloud
                Department: Information Technology
                JobFunction: Cloud / Mobility
                Description: Cloud application or cloud app is a software program where cloud-based and local components work together.
              - Name: Cloud Computing
                Category: Cloud
                Department: Information Technology
                JobFunction: Cloud / Mobility
                Description: Cloud computing is a general term for anything that involves delivering hosted services over the internet.
              - Name: Cloud Infrastructure
                Category: Cloud
                Department: Information Technology
                JobFunction: Cloud / Mobility
                Description: Cloud infrastructure is a term used to describe the components needed for cloud computing, which includes hardware, abstracted resources, storage, and network resources. Think of cloud infrastructure as the tools needed to build a cloud. In order to host services and applications in the cloud, you need cloud infrastructure.
              - Name: Corporate Culture
                Category: Company Culture & Policy
                Department: Human Resources
                JobFunction: Organizational Development
                Description: Corporate culture is the shared values, attitudes, standards, and beliefs that characterize members of an organization and define its nature. It is rooted in an organization's goals, strategies, structure, and approaches to labor, customers, investors, and the greater community.
              - Name: Credit Card Fraud
                Category: Banking
                Department: Finance
                JobFunction: Risk
                Description: Credit card fraud is an inclusive term for fraud committed using a payment card, such as a credit card or debit card. The purpose may be to obtain goods or services, or to make payment to another account which is controlled by a criminal.
              - Name: Direct Deposit
                Category: Billing & Invoice
                Department: Finance
                JobFunction: Finance
                Description: Direct deposit or direct credit, in banking, is a deposit of money by a payer directly into a payee's bank account. Direct deposits are most commonly made by businesses in the payment of salaries and wages and for the payment of suppliers' accounts, but the facility can be used for payments, such as payment of bills, taxes, and other government charges.
              - Name: eFulfillment Service
                Category: Logistics / Supply Chain
                Department: Operations
                JobFunction: Logistics
                Description: eFulfillment Service (EFS) is a process of making order fulfillment fast, easy and affordable for sellers of all types and sizes.
              - Name: Google Search
                Category: Search
                Department: Information Technology
                JobFunction: Collaboration & Web Apps
                Description: Google Search, also referred to as Google Web Search or simply Google, is a web search engine developed by Google.
              - Name: Healthcare Law
                Category: Regulations
                Department: Legal
                JobFunction: Governmental Affairs & Regulatory Law
                Description: Healthcare law concerns who can receive healthcare, and who should pay for it. This is a surprisingly complicated area of law given how expensive healthcare can be in the United States.
              - Name: Hours of Work
                Category: Labor & Employment Policy
                Department: Human Resources
                JobFunction: Human Resources
                Description: Hours of Work is the period of time during which one engages in paid work. It is one way to measure the labor a person performs.
              - Name: In-App Advertising
                Category: Advertising
                Department: Marketing
                JobFunction: Advertising
                Description: In-app advertising is an effective monetization strategy for mobile publishers, in which app developers get paid to serve advertisements within their mobile app.
              - Name: Incentive Compensation
                Category: Compensation & Benefits
                Department: Human Resources
                JobFunction: Compensation & Benefits
                Description: Incentive compensation is a type of compensation based on the performance of an entity. Often incentive compensation plans are designed to attract and retain key employees, identify with shareholders, and align interests of employees and the company.
              - Name: Java
                Category: Application Development
                Department: Engineering & Technical
                JobFunction: Software Development
                Description: Java is a widely used programming language expressly designed for use in the distributed environment of the internet. It is the programming language for Android smartphone applications.
              - Name: Legal
                Category: Legal Operations
                Department: Legal
                JobFunction: Legal
                Description: Legal is used to describe things that relate to the law.
              - Name: Mobile / Wireless
                Category: Mobile Devices
                Department: Information Technology
                JobFunction: Cloud / Mobility
                Description: Transmission over the air from a base station to a moving cellphone, tablet or laptop. The term may refer to voice only or voice and data.
              - Name: Mobile Apps
                Category: Mobile Applications
                Department: Information Technology
                JobFunction: Cloud / Mobility
                Description: Mobile application is a computer program or software application designed to run on a mobile device such as a phone, tablet, or watch.
              - Name: Mobile Security
                Category: Cyber Security
                Department: Information Technology
                JobFunction: Information Security
                Description: Mobile security involves protecting both personal and business information stored on and transmitted from smartphones, tablets, laptops and other mobile devices. The term mobile security is a broad one that covers everything from protecting mobile devices from malware threats to reducing risks and securing mobile devices and their data in the case of theft, unauthorized access or accidental loss of the mobile device.
              - Name: Mobile Wallet
                Category: Mobile Applications
                Department: Information Technology
                JobFunction: Cloud / Mobility
                Description: Mobile wallet is a virtual wallet that stores payment card information on a mobile device. Mobile wallets are a convenient way for a user to make in-store payments and can be used at merchants listed with the mobile wallet service provider.
              - Name: Node.js
                Category: Application Development
                Department: Engineering & Technical
                JobFunction: Software Development
                Description: Node.js is an open-source, cross-platform, JavaScript runtime environment that executes JavaScript code outside of a browser.
              - Name: Organizational Culture
                Category: Company Culture & Policy
                Department: Human Resources
                JobFunction: Organizational Development
                Description: Organizational culture is defined as the underlying beliefs, assumptions, values and ways of interacting that contribute to the unique social and psychological environment of an organization.
              - Name: Risk Management Services
                Category: Risk
                Department: Human Resources
                JobFunction: Human Resources
                Description: Risk management is the identification, evaluation, and prioritization of risks followed by coordinated and economical application of resources to minimize, monitor, and control the probability or impact of unfortunate events or to maximize the realization of opportunities.
              - Name: Video Conferencing
                Category: Collaboration/Web Apps
                Department: Information Technology
                JobFunction: Collaboration & Web Apps
                Description: Video conferencing is a technology that allows users in different locations to hold face-to-face meetings without having to move to a single location together.
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/news/categories:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo News Categories
      description: Retrieve accepted news categories.
      operationId: NewsCategories
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 04 Jun 2020 19:41:42 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            CF-Ray:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 59e422021afaae36-BOS
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: _pxhd=fc71d9403472d42effc02aad37ef6fac8edd5780bbd14e367dd0386bd4c1d94e:1de7e3b1-a10b-11ea-aacb-83f9cb252b93; path=/;
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1.1 google, 1.1 google
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: DYNAMIC
            cf-request-id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 032273954f0000ae36b8158200000001
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            x-application-context:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: application:production:8080
            X-RateLimit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1500'
            X-RateLimit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1498'
            X-RateLimit-Reset:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1591299746'
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: cloudflare
          content:
            application/json;charset=utf-8:
              schema:
                type: array
                items:
                  type: string
                description: ''
                examples:
                - - FINANCIAL_RESULTS
                  - FUNDING
                  - GENERAL_NEWS
                  - GENERAL_PRESS_RELEASE
                  - MERGER_OR_ACQUISTION
                  - PERSON
                  - PRODUCT
                contentMediaType: application/json;charset=utf-8
              example:
              - FINANCIAL_RESULTS
              - FUNDING
              - GENERAL_NEWS
              - GENERAL_PRESS_RELEASE
              - MERGER_OR_ACQUISTION
              - PERSON
              - PRODUCT
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/employee-category-band:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Employee Category Band
      description: Retrieve Employee Category Band values
      operationId: EmployeeCategoryBand
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/revenue-category-band:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Revenue Category Band
      description: Retrieve Revenue Category Band values
      operationId: RevenueCategoryBand
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/years-of-experience:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Years of Experience
      description: Retrieve accepted Years Of Experience ranges.
      operationId: YearsOfExperience
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/hierarchy-code:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Hierarchy Code
      description: Retrieve Company Hierarchy Code values
      operationId: HierarchyCode
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
  /lookup/buyinggroups:
    parameters: []
    get:
      tags:
      - Lookup
      summary: Zoominfo Buying Groups
      description: Retrieve buying group information
      operationId: BuyingGroups
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.zoominfo.com
      description: ZoomInfo API Production Server
components:
  schemas:
    CountryLookup:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: Country
          pattern: Country
        attributes:
          allOf:
          - $ref: '#/components/schemas/BasicEntityModelAttributes'
          description: The attributes defining the resource
      description: Model for a country
    JobFunctionLookup:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: JobFunction
          pattern: JobFunction
        attributes:
          allOf:
          - $ref: '#/components/schemas/BasicEntityModelAttributes'
          description: The attributes defining the resource
      description: Model for the job function
    IntentSearchInputLookUp:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: IntentSearchInput
          pattern: IntentSearchInput
        attributes:
          allOf:
          - $ref: '#/components/schemas/LookupFieldAttributes'
          description: The attributes defining the resource
      description: Model for the intent search input lookup
    PersonaAttributes:
      type: object
      required:
      - departmentsAndJobFunctions
      - managementLevels
      properties:
        departmentsAndJobFunctions:
          type: array
          items:
            type: string
          description: The departments and job functions of the persona
        managementLevels:
          type: array
          items:
            type: string
          description: The management levels of the persona
        titles:
          type:
          - array
          - 'null'
          items:
            type: string
          description: The titles of the persona
      description: The attributes of the persona
      x-class-extra-annotation: '@com.fasterxml.jackson.annotation.JsonIgnoreProperties(ignoreUnknown = true)'
    TopicEntityModelAttributes:
      type: object
      required:
      - category
      - department
      - description
      - jobFunction
      - name
      properties:
        category:
          type: string
          description: The category of the topic
        department:
          type: string
          description: The department of the topic
        description:
          type: string
          description: The description of the topic
        jobFunction:
          type: string
          description: The job function of the topic
        name:
          type: string
          description: The name of the entity
      description: A topic entity
      x-class-extra-annotation: '@com.fasterxml.jackson.annotation.JsonIgnoreProperties(ignoreUnknown = true)'
    ContactEnrichOutputLookUp:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: ContactEnrichOutput
          pattern: ContactEnrichOutput
        attributes:
          allOf:
          - $ref: '#/components/schemas/LookupFieldAttributes'
          description: The attributes defining the resource
      description: Model for the contact enrich output lookup
    SubUnitTypeLookup:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: SubUnitType
          pattern: SubUnitType
        attributes:
          allOf:
          - $ref: '#/components/schemas/BasicEntityModelAttributes'
          description: The attributes defining the resource
      description: Model for sub unit types
    ScoopDepartmentLookup:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: ScoopDepartment
          pattern: ScoopDepartment
        attributes:
          allOf:
          - $ref: '#/components/schemas/BasicEntityModelAttributes'
          description: The attributes defining the resource
      description: Model for the scoop department
    TechnologyEnrichOutputLookUp:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: TechnologyEnrichOutput
          pattern: TechnologyEnrichOutput
        attributes:
          allOf:
          - $ref: '#/components/schemas/LookupFieldAttributes'
          description: The attributes defining the resource
      description: Model for the technology enrich output lookup
    TechCategoryLookup:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: TechCategory
          pattern: TechCategory
        attributes:
          allOf:
          - $ref: '#/components/schemas/TechCategoryEntityModelAttributes'
          description: The attributes defining the resource
      description: Model for the tech category, the attribute is the parent category
    IndustryLookup:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: Industry
          pattern: Industry
        attributes:
          allOf:
          - $ref: '#/components/schemas/BasicEntityModelAttributes'
          description: The attributes defining the resource
      description: Model for the industry
    StateLookup:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: State
          pattern: State
        attributes:
          allOf:
          - $ref: '#/components/schemas/BasicEntityModelAttributes'
          description: The attributes defining the resource
      description: Model for a state
    RevenueRangeLookup:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: RevenueRange
          pattern: RevenueRange
        attributes:
          allOf:
          - $ref: '#/components/schemas/BasicEntityModelAttributes'
          description: The attributes defining the resource
      description: Model for revenue ranges. Values are in $1,000s
    TechSkillLookup:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: TechSkill
          pattern: TechSkill
        attributes:
          allOf:
          - $ref: '#/components/schemas/BasicEntityModelAttributes'
          description: The attributes defining the resource
      description: Model for the tech skill
    ScoopEnrichInputLookUp:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: ScoopEnrichInput
          pattern: ScoopEnrichInput
        attributes:
          allOf:
          - $ref: '#/components/schemas/LookupFieldAttributes'
          description: The attributes defining the resource
      description: Model for the scoop enrich input lookup
    ZoomInfo.Core.Foundations.ErrorModel:
      type: object
      required:
      - id
      - code
      - status
      properties:
        id:
          type: string
          description: The unique id used to identify this specific error instance
        code:
          type: string
          description: The error code describing the error category. A full list of error codes can be found in the documentation for each service
        detail:
          type: string
          description: Message containing the specific details about this occurrence of the error
        source:
          allOf:
          - $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorSourceModel'
          description: An optional object identifying which part of the request caused the error
        status:
          type: string
          description: The HTTP status code for the error
        title:
          type: string
          description: The error name that describes this type of error
      description: The object describing a specific error from the API
    TechProductLookup:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: TechProduct
          pattern: TechProduct
        attributes:
          allOf:
          - $ref: '#/components/schemas/AttributedEntityModelAttributes'
          description: The attributes defining the resource
      description: Model for the tech product, the attribute is the product's full coded id 'vendorId.parentCategoryId.categoryId.productId'
    NewsSearchInputLookUp:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: NewsSearchInput
          pattern: NewsSearchInput
        attributes:
          allOf:
          - $ref: '#/components/schemas/LookupFieldAttributes'
          description: The attributes defining the resource
      description: Model for the news search input lookup
    NewsEnrichOutputLookUp:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: NewsEnrichOutput
          pattern: NewsEnrichOutput
        attributes:
          allOf:
          - $ref: '#/components/schemas/LookupFieldAttributes'
          description: The attributes defining the resource
      description: Model for the news enrich output lookup
    LookupResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/LookupResponseResourceUnion'
          description: The primary data of the document
      description: Lookup response
    ContinentLookup:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: Continent
          pattern: Continent
        attributes:
          allOf:
          - $ref: '#/components/schemas/BasicEntityModelAttributes'
          description: The attributes defining the resource
      description: Model for a continent
    LookupSearchResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/LookupSearchInputOutputResponseResourceUnion'
          description: The primary data of the document
      description: Lookup search output response
    CompanyRankingLookup:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: CompanyRanking
          pattern: CompanyRanking
        attributes:
          allOf:
          - $ref: '#/components/schemas/BasicEntityModelAttributes'
          description: The attributes defining the resource
      description: Model for the company rankings
    CorporateHierarchyEnrichInputLookUp:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: CorporateHierarchyEnrichInput
          pattern: CorporateHierarchyEnrichInput
        attributes:
          allOf:
          - $ref: '#/components/schemas/LookupFieldAttributes'
          description: The attributes defining the resource
      description: Model for the corporate hierarchy enrich input lookup
    TechCategoryEntityModelAttributes:
      type: object
      required:
      - categories
      properties:
        categories:
          type: array
          items:
            type: string
          description: The names of the tech categories
      description: An entity with additional array attributes
      x-class-extra-annotation: '@com.fasterxml.jackson.annotation.JsonIgnoreProperties(ignoreUnknown = true)'
    OrgChartEnrichOutputLookUp:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: OrgChartEnrichOutput
          pattern: OrgChartEnrichOutput
        attributes:
          allOf:
          - $ref: '#/components/schemas/LookupFieldAttributes'
          description: The attributes defining the resource
      description: Model for the org chart enrich output lookup
    HashtagEnrichOutputLookUp:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: HashtagEnrichOutput
          pattern: HashtagEnrichOutput
        attributes:
          allOf:
          - $ref: '#/components/schemas/LookupFieldAttributes'
          description: The attributes defining the resource
      description: Model for the technology enrich output lookup
    CompanyEnrichInputLookUp:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: CompanyEnrichInput
          pattern: CompanyEnrichInput
        attributes:
          allOf:
          - $ref: '#/components/schemas/LookupFieldAttributes'
          description: The attributes defining the resource
      description: Model for the company enrich  input lookup
    AttributedEntityModelAttributes:
      type: object
      required:
      - name
      properties:
        attribute:
          type: string
          description: An attribute of the entity
        name:
          type: string
          description: The name of the entity
      description: An entity with additional attributes
      x-class-extra-annotation: '@com.fasterxml.jackson.annotation.JsonIgnoreProperties(ignoreUnknown = true)'
    LookupSearchInputOutputResponseResourceUnion:
      type: object
      oneOf:
      - $ref: '#/components/schemas/ContactSearchInputLookUp'
      - $ref: '#/components/schemas/CompanySearchInputLookUp'
      - $ref: '#/components/schemas/NewsSearchInputLookUp'
      - $ref: '#/components/schemas/IntentSearchInputLookUp'
      - $ref: '#/components/schemas/ScoopSearchInputLookUp'
      - $ref: '#/components/schemas/ContactSearchOutputLookUp'
      - $ref: '#/components/schemas/CompanySearchOutputLookUp'
      - $ref: '#/components/schemas/NewsSearchOutputLookUp'
      - $ref: '#/components/schemas/IntentSearchOutputLookUp'
      - $ref: '#/components/schemas/ScoopSearchOutputLookUp'
      discriminator:
        propertyName: type
        mapping:
          ContactSearchInput: '#/components/schemas/ContactSearchInputLookUp'
          CompanySearchInput: '#/components/schemas/CompanySearchInputLookUp'
          NewsSearchInput: '#/components/schemas/NewsSearchInputLookUp'
          IntentSearchInput: '#/components/schemas/IntentSearchInputLookUp'
          ScoopSearchInput: '#/components/schemas/ScoopSearchInputLookUp'
          ContactSearchOutput: '#/components/schemas/ContactSearchOutputLookUp'
          CompanySearchOutput: '#/components/schemas/CompanySearchOutputLookUp'
          NewsSearchOutput: '#/components/schemas/NewsSearchOutputLookUp'
          IntentSearchOutput: '#/components/schemas/IntentSearchOutputLookUp'
          ScoopSearchOutput: '#/components/schemas/ScoopSearchOutputLookUp'
      description: Represents the possible resource types returned in a lookup search input response.
    HashtagEnrichInputLookUp:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: HashtagEnrichInput
          pattern: HashtagEnrichInput
        attributes:
          allOf:
          - $ref: '#/components/schemas/LookupFieldAttributes'
          description: The attributes defining the resource
      description: Model for the hashtag enrich input lookup
    IntentTopicLookup:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: IntentTopic
          pattern: IntentTopic
        attributes:
          allOf:
          - $ref: '#/components/schemas/TopicEntityModelAttributes'
          description: The attributes defining the resource
      description: Model for the intent topic
    ContactSearchOutputLookUp:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: ContactSearchOutput
          pattern: ContactSearchOutput
        attributes:
          allOf:
          - $ref: '#/components/schemas/LookupFieldAttributes'
          description: The attributes defining the resource
      description: Model for the contact search output lookup
    OrgChartEnrichInputLookUp:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: OrgChartEnrichInput
          pattern: OrgChartEnrichInput
        attributes:
          allOf:
          - $ref: '#/components/schemas/LookupFieldAttributes'
          description: The attributes defining the resource
      description: Model for the orgChart enrich input lookup
    ScoopSearchOutputLookUp:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: ScoopSearchOutput
          pattern: ScoopSearchOutput
        attributes:
          allOf:
          - $ref: '#/components/schemas/LookupFieldAttributes'
          description: The attributes defining the resource
      description: Model for the scoop search output lookup
    DepartmentLookup:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: Department
          pattern: Department
        attributes:
          allOf:
          - $ref: '#/components/schemas/BasicEntityModelAttributes'
          description: The attributes defining the resource
      description: Model for the department
    FundingRoundTypeLookup:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: FundingRoundType
          pattern: FundingRoundType
        attributes:
          allOf:
          - $ref: '#/components/schemas/BasicEntityModelAttributes'
          description: The attributes defining the resource
      description: Model for the funding round type
    LookupFieldAttributes:
      type: object
      required:
      - fieldName
[...]
