openapi: 3.1.0
info:
  title: ZoomInfo Authentication Contact Enrich API
  description: The ZoomInfo API is a set of HTTPS endpoints you can use to programmatically retrieve and integrate ZoomInfo data into your existing technology stack and ...
  contact:
    name: ZoomInfo API Support
    url: https://www.zoominfo.com/about/help-center
    email: support@zoominfo.com
  version: '1.0'
  x-last-validated: '2026-04-18'
servers:
- url: https://api.zoominfo.com
  description: ZoomInfo API Production Server
security:
- bearerAuth: []
tags:
- name: Contact Enrich
  description: 'Use [Contact Enrich](#c145dd01-eb54-4fc2-bbdb-9edc04b7ea1b) to retrieve contact detail using valid query parameters. A Contact Enrich request requires you to specify both input parameters about the contact you are enriching, and the output fields you want to retrieve.


    Refer to the examples provided to build a valid JSON request. For supported input and output parameters:


    *   Use the [Contact Enrich Inputs](#dbaf31cd-0f7a-4bf3-b6c1-077f3c31f2df) endpoint to retrieve a list of valid input parameters you can provide

    *   Use the [Contact Enrich Outputs](#28b47784-3186-4fc4-af91-12e6bc6fb31a) endpoint to retrieve a list of valid output fields that can be returned'
paths:
  /enrich/contact:
    parameters: []
    post:
      tags:
      - Contact Enrich
      summary: Zoominfo Contact Enrich
      description: "Use this endpoint to match contact information based on [input values](#dbaf31cd-0f7a-4bf3-b6c1-077f3c31f2df) and return the desired output fields in the response. Use [Contact Enrich Outputs](#28b47784-3186-4fc4-af91-12e6bc6fb31a) to retrieve the list of available output fields.\n\n**Input combinations**\n\nTo match a contact, you must use one of the following combinations of parameters to construct your input:\n\n- `personId` OR `emailAddress` OR `hashedEmail` OR `phone`. Because these values are unique to a single person, you can use any one of these values to search without providing any additional parameters. You can optionally combine one of these values with a `companyId`/`companyName`.\n    \n- `firstName` AND `lastName` AND `companyId`/`companyName`. Combining these values effectively results in a unique person.\n    \n- `fullName` AND `companyId`/`companyName`. Combining these values effectively results in a unique person.\n    \n\n**Maximum inputs per request**\n\nYou can input a maximum of 25 contacts in a single enrich request, returning the equivalent number of matching records. See the endpoint examples for how to build queries using multiple inputs.\n\n**Required fields**\n\nYou can specify a list of required fields for each record returned. This supports all output fields and can be used as a comma-separated list. See the \"Enrich contacts using required fields\" example provided with this endpoint for sample JSON used for the request.\n\n**Input params**\n\n| Parameter | DataType | Description |\n| --- | --- | --- |\n| personId | Long integer or string | Unique ZoomInfo identifier for the contact |\n| fullName | String | Contact full name |\n| firstName | String | Contact first name |\n| lastName | String | Contact last name |\n| emailAddress | String | Business or Personal email address for the contact in [example@example.com](https://mailto:example@example.com) format |\n| phone | String | Contact direct or mobile phone number |\n| jobTitle | String | Contact title at current place of employment |\n| hashedEmail | String | Hashed email value for the contact. Allows matching via an email address with the extra security of not exposing the email. Supported hash algorithms are: MD5, SHA1, SHA256 and SHA512. |\n| externalURL | String | Social media URLs for the contact (e.g., Facebook, Twitter, LinkedIn) |\n| lastUpdatedDateAfter | String | The date after which the contact's profile was last updated in YYYY-MM-DD format |\n| validDateAfter | String | The date after which the contact's profile was last validated in YYYY-MM-DD format |\n| companyId | Long integer or string | Unique ZoomInfo identifier for the company |\n| companyName | String | Name of the company for for which the contact works, or has worked |\n| contactAccuracyScoreMin | Integer | Return contacts that meet the minimum accuracy score or higher |\n\n**Output fields**\n\n| Field | Description |\n| --- | --- |\n| id | Unique ZoomInfo identifier for the contact |\n| firstName | Contact first name |\n| middleName | Contact middle name |\n| lastName | Contact last name |\n| email | Work email address for the contact in [example@example.com](https://mailto:example@example.com) format |\n| hasCanadianEmail | Indicates whether the contact's email address is associated with a Canada domain |\n| phone | Contact direct phone number |\n| directPhoneDoNotCall | Contact flagged with \"do not call\" for direct phone |\n| street | Street for the contact's work address |\n| city | City for the contact's work address |\n| region | State or province for the contact's work address |\n| metroArea | Metro area for the contact's work address |\n| zipCode | Zip Code or Postal Code for the contact's work address |\n| state | State or province for the contact's work address |\n| country | Country for the contact's work address |\n| continent | Continent for the contact's work address |\n| personHasMoved | Indicates ZoomInfo recognizes the contact does not match ZoomInfo's current company but does match known employment history |\n| withinEu | Indicates whether the contact's work address is in Europe |\n| withinCalifornia | Indicates whether the contact's work address is in California |\n| withinCanada | Indicates whether the contact's work address is in Canada |\n| validDate | Date on which the contact record was last validated |\n| lastUpdatedDate | Date on which the contact record was last updated |\n| noticeProvidedDate | Date on which the contact was notified of inclusion in ZoomInfo's database |\n| salutation | Contact salutation |\n| suffix | Contact suffix |\n| jobTitle | Contact job title at current place of employment |\n| jobFunction | Contact job function at current place of employment |\n| education | Contact education details |\n| hashedEmails | Contact MD5 encrypted email address(es) |\n| picture | The URL which can be used to retrieve a photo for the contact |\n| mobilePhoneDoNotCall | Contact flagged with \"do not call\" for mobile phone |\n| externalUrls | Social media URLs for the contact (e.g., Facebook, Twitter, LinkedIn) |\n| employmentHistory | Contact employment history |\n| managementLevel | Contact management level |\n| contactAccuracyScore | This score indicates the likelihood that a contact is reachable and still employed by the company listed. Minimum score is 75 and maximum is 99. |\n| companyId | Unique ZoomInfo identifier for a company |\n| companyName | Name of the contact's current company |\n| companyDescriptionList | List of descriptions associated with the contact's current company |\n| companyPhone | Phone number of the company's primary address |\n| companyFax | Fax number of the company's primary address |\n| companyStreet | Street of the company's primary address |\n| companyCity | City of the company's primary address |\n| companyState | State or province of the company's primary address |\n| companyZipCode | Zip Code or Postal Code of the company's primary address |\n| companyCountry | Country of the company's primary address |\n| companyContinent | Continent for the ccompany's primary address |\n| companyLogo | The URL which can be used to retrieve the logo for the company |\n| companyDivision | Contact primary division name at current place of employment |\n| companySicCodes | The Standard Industrial Classification is a system for classifying industries by a four-digit code. |\n| companyNaicsCodes | The North American Industry Classification System (NAICS) is the standard used by Federal statistical agencies in classifying business establishments for the purpose of collecting, analyzing, and publishing statistical data related to the U.S. business economy. |\n| companyWebsite | URL to the company website in [http://www.example.com](http://www.example.com) format |\n| companyRevenue | Company revenue (e.g., $400 Million) |\n| companyRevenueNumeric | Company revenue in raw number (e.g., 400 million is expressed as 400000000) |\n| companyEmployeeCount | Employee count range |\n| companyType | Company type (private, public, npo, education, government, other) |\n| companyTicker | Company stock ticker symbol |\n| companyRanking | Company ranking list (e.g., Fortune 500 and so on) |\n| isDefunct | Indicates whether the company still exists |\n| companySocialMediaUrls | Social media URLs for the company (e.g., Facebook, Twitter, LinkedIn) |\n| isCalifornia |  |\n| isCanada |  |\n| companyPrimaryIndustry | Top-level industry for a company |\n| companyIndustries | The industry grouping for the company. A company can have multiple industries. |\n| companyRevenueRange | Revenue range of the contact's current company |\n| companyEmployeeRange | Employee range of the contact's current company |\n| locationCompanyId | Company ID for the contact's location |\n| positionStartDate | The date on which the contact began their current employment |\n| yearsOfExperience | Years of overall experience |\n| techSkills | List of technology skills identified for a contact |\n| engagements | List of the contact's engagements. Includes the date and type of each engagement |"
      operationId: ContactEnrich
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ContactEnrichRequest'
              - examples:
                - outputFields:
                  - mobilePhone
                  - phone
                  matchPersonInput:
                  - personId: 1584305636
              contentMediaType: application/json
            example:
              outputFields:
              - mobilePhone
              - phone
              matchPersonInput:
              - personId: 1584305636
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 05 Nov 2020 16:22:49 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            CF-Ray:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 5ed7ea6ab960ebec-BOS
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: _pxhd=e7db1952c3c428b300d7ae68283c6a1587e2640221c25672d39a1ecc58fe7f4d:3f7c2db0-1eec-11eb-bdb4-093d0d48e40a; path=/;
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1.1 google, 1.1 google
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: DYNAMIC
            cf-request-id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 063ad0d6ae0000ebec2596f000000001
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            X-RateLimit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1500'
            X-RateLimit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1498'
            X-RateLimit-Reset:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1604593422'
            X-Usage-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999953355'
            X-Usage-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999910710'
            X-Usage-Unique-Id-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Unique-Id-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9998892'
            X-Usage-Websights-Api-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Websights-Api-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9999237'
            X-Usage-Websights-Api-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '100000010'
            X-Usage-Websights-Api-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '99999253'
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: cloudflare
            X-Request-Id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: ce9c5b5c-da15-4d13-9b7a-c85736b347f5
            x-usage-record-limit-limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            x-usage-record-limit-remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999996221'
            x-usage-request-limit-limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            x-usage-request-limit-remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999999196'
            x-usage-unique-id-limit-limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            x-usage-unique-id-limit-remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9999978'
            x-usage-websights-api-record-limit-limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            x-usage-websights-api-record-limit-remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9999627'
            x-usage-websights-api-request-limit-limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '100000000'
            x-usage-websights-api-request-limit-remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '99999638'
          content:
            application/json;charset=utf-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnrichcontactbyfirstnamelastnamecompanyId'
                - examples:
                  - success: true
                    data:
                      outputFields:
                      - - id
                        - firstname
                        - middlename
                        - lastname
                        - email
                        - hascanadianemail
                        - phone
                        - directphonedonotcall
                        - street
                        - city
                        - region
                        - metroarea
                        - zipcode
                        - state
                        - country
                        - personhasmoved
                        - withineu
                        - withincalifornia
                        - withincanada
                        - lastupdateddate
                        - noticeprovideddate
                        - salutation
                        - suffix
                        - jobtitle
                        - jobfunction
                        - companydivision
                        - education
                        - hashedemails
                        - picture
                        - mobilephonedonotcall
                        - externalurls
                        - companyid
                        - companyname
                        - companydescriptionlist
                        - companyphone
                        - companyfax
                        - companystreet
                        - companycity
                        - companystate
                        - companyzipcode
                        - companycountry
                        - companylogo
                        - companysiccodes
                        - companynaicscodes
                        - contactaccuracyscore
                        - companywebsite
                        - companyrevenue
                        - companyrevenuenumeric
                        - companyemployeecount
                        - companytype
                        - companyticker
                        - companyranking
                        - isdefunct
                        - companysocialmediaurls
                        - companyprimaryindustry
                        - companyindustries
                        - companyrevenuerange
                        - companyemployeerange
                        - employmenthistory
                        - managementlevel
                        - locationcompanyid
                        - companyId
                      result:
                      - input:
                          companyid: 346572700
                          firstname: henry
                          lastname: schuck
                        data:
                        - id: 1260398587
                          firstName: Henry
                          middleName: L.
                          lastName: Schuck
                          email: henry.schuck@zoominfo.com
                          hasCanadianEmail: 'false'
                          phone: (360) 783-6816
                          directPhoneDoNotCall: false
                          street: 805 Broadway Ste. 900
                          city: Vancouver
                          region: Washington
                          metroArea: Portland
                          zipCode: '98660'
                          state: Washington
                          country: United States
                          personHasMoved: Uncertain
                          withinEu: false
                          withinCalifornia: true
                          withinCanada: false
                          lastUpdatedDate: 1/5/2020 2:59 PM
                          noticeProvidedDate: 06/27/2020
                          salutation: ''
                          suffix: ''
                          jobTitle: Founder & Chief Executive Officer
                          jobFunction:
                          - name: Executive
                            department: C-Suite
                          education:
                          - school: University of Nevada , Las Vegas
                            educationDegree:
                              degree: ''
                              areaOfStudy: ''
                          - school: Oxford University
                            educationDegree:
                              degree: comparative law
                              areaOfStudy: ''
                          - school: The Ohio State University Moritz College of Law
                            educationDegree:
                              degree: ''
                              areaOfStudy: juris doctorate degree cum laude
                          hashedEmails:
                          - f58f6a9d081a378bccd8c8a067f5d757c1bcfe1114b17d1a0173c4f64f132a76
                          - 882301004d270daab518d5d4fc0ec9a3e790159c4802e04394c0e70d7d817a5df5d19ba86a495ea2b22c19911a4606c63af22b85326c5a477e5b845a9ffcc33d
                          - 8dceb85dffad7d86c656fabd105d5781a1cdc66d3e5e0f1e723f04dc172c13e7839948f8253f382ecb91b5a3892aa4c8cec671061a24b18ef4cd3fc08a89d0bc
                          - f68bd1de672a4c37fdc87d88b4d543c2634ed129e5c73f69ca74c5dd21bc0fd6
                          - eed1872f83bf7d777eef83d459e14dc97cc8bbe4c391665d02130d1a02b9c6bae8fde805e5556bc9345e01da360856c36c08d3fde3c6564ce9eda330c11307cb
                          - b187e4ed0351e0988c5e7efb63c73d8fba14252ede5b29c4b111445ed60a205e566feaa37eb2a5da512f93d8c34bab8add0ebec823ee2a9ba718e709ae5bb999
                          - 8eb26ee14126e66bbf71cfc7da77803ab2079298c4f63075b4a9329605d0844c3b9d989ae4e9486f12701bad2b40cf45c8b461b751a3b37e97b18bd07cddf950
                          - 695d19bdc9be7f8e742c5f8d21d20832
                          - 29d9667b9865bd4c0ade732d87491588
                          - 0277d9b958853b227aae74c49fb3f47ed1a4f7a0
                          - 8f74df87a34f9eace4f392081fdf1701ecdd0a82
                          - 0cf4aef9be54921f056cfbd01aa21aaa
                          - c9415971b7ed54e1ef2ba9b76d7517d8
                          - 3255f0cea9d54f85c3ffe066798f68c8d9ff5131
                          - c2a09501b2e2d8542c90a9014a3e035be5d5412b
                          - 73874aff0dc933c6b08f9ecfdcd281ae5f2b2ef4
                          - b29c16b0355cdf202e47561cc82b2ce10325c7c9fbf35fc8c8d2ac97e1a15751
                          - 0b3c1656c901009da30bd69f431f901d17aea3b5
                          - 219df7fce416087db95f41b22a3e99de
                          - 74a841493b2be80de6b0523e3e51388ee702162b98bf0a1b761dc20a67c24bf9dd7c1c1edb43ec378754489dcb2c8b94fe8652c4f8aad2294758f1e37738093c
                          - 11862b70dc429e354ecb9e8c3f94baa980cd848a4e65b0607f098c2c4784e1e9
                          - f96d816c6506277d8917284d6ae01c086d6bb738
                          - e2107f85303216debfc490c1128ad0026bc66cba
                          - 42f9c1101b858d906f1e9249377705cc
                          - 2d707a32b6c36d7860df4ded85a3675da59487bd
                          - 70c0572ab995de4b75a50d4f3b9527b2f23ee3729d8dee19454732bb5974b96ce3b46c126ef9da3072e0db19331b713551c8f51af7d06d7456b006e6b6c6786f
                          - cb428444a92caccbf74196a56ce2ce47bedb7c810165a3f5670e0142b9e20488
                          - fb8f9342f5555bac4b5576e18203dee9649eb6cac775a60444a08912d57ecfaf
                          - 02d590f02c638a0f0a14330f8ed41ac3f29be73f3cc61510cffd5010f4076a56
                          - 077edc0b42f5b3a2ebced95cb466d7540eb13f84
                          - 35fae950b9267686ad59bf5540f05fe32614b05f7ce111c88215d397c4ccca80
                          - 072d54d1cd80722271757be3ad70e2fa80a4f7a9ddcfa4986bdacfaf44090d01
                          - f9cec62f4b2805124098741a9ff318cfc7601014799360d909d6160941a6700d4ec1dcfbfcfd445a8fd5549670bebefd0169ab53d5332296af6c70a55e22848a
                          - 4d49f8386d59b45ddda50a5ef5430120
                          - 81863a5a64ae6c4df9eab6200808260ffd99324308dcdb234cb95fe2f01868fd
                          - 3b4031ad2889aba895b3f7a0132f254c
                          - adb40c784326c0581284f4c8301bbeb0b217bab6a09eb811f8eee4fce2ea431b3cf01da7192c0af813ce7df177fc634770b4557c74301d41c412ee7dc890b9bf
                          - 20b54d86e974f4dfeb4383ed2c748e2d79ac7d28
                          - 258ba4f8558fbea656732b28211c9df8
                          - b389c6b4c6d1ab9c45a41f2ac41d7a2367b980866587f0d8afc8d07e87bf7dbee8638f4194e24674aa56a225bc9db668a6febd13fe0b975cc330dfb7c54df4f2
                          - 36c30998984a06a5eb56f5322ff8a284d144d159365b93423cc08223081965d606e6af6dddd30b7fd09bc627f9dcecd3ea85c036c3ba485ed31e07d2bd7ca65b
                          - 5233cc7bd91cb8234b136cd44db83d94
                          - 6a17da18c38ef9b4d42cefdaf7db0a03
                          - 2154155b799c35d2d58ad920146b2477635884f5af0839bc6ebbdb99216b7415
                          picture: https://www.zoominfo.com/ge-assets/images/leadership/henry_schuck.png
                          mobilePhoneDoNotCall: true
                          externalUrls:
                          - type: linkedin.com
                            url: https://www.linkedin.com/in/hschuck
                          - type: twitter.com
                            url: https://www.twitter.com/henrylschuck
                          - type: salesforce.com
                            url: https://www.salesforce.com/00361000005FuKPAA0
                          contactAccuracyScore: 96
                          isDefunct: false
                          employmentHistory:
                          - jobTitle: Vice President of Data and Marketing
                            managementLevel:
                            - VP-Level
                            fromDate: '2002-01-02T00:00:00.000Z'
                            toDate: '2006-01-02T00:00:00.000Z'
                            company:
                              companyId: 0
                              companyName: iProfile
                              companyPhone: ''
                              companyWebsite: ''
                          managementLevel:
                          - C-Level
                          locationCompanyId: 344589814
                          company:
                            division: ''
                            id: 344589814
                            name: ZoomInfo
                            descriptionList:
                            - description: ZoomInfo was founded in 2000 and is headquartered in Vancouver, Washington. The company offers a business-to-business data platform utilized by sales and marketing teams, recruiters, and other business professionals for lead generation and detailed information on people and companies.
                            - description: Built over 20 years ago, ZoomInfo Powered by DiscoverOrg has become the go-to-market standard for over 13,500 companies worldwide. Designed to be the single source of truth, the ZoomInfo platform offers best-in-class technology paired with unrivaled data coverage, accuracy, and depth of contacts, companies, and opportunities essential to empower sales, marketing and recruiting professionals to hit their numbers. Deeply embedded into business workflows and technology stacks- including integrations with the leading CRM, Sales Engagement, Marketing Automation, and Talent Management applications - ZoomInfo is capable of delivering more predictable, accelerated, and sustainable growth than any stand-alone solution. ZoomInfo's investors include TA Associates, The Carlyle Group and 22C Capital.
                            - description: 'ZoomInfo (NASDAQ: ZI) is a Go-To-Market Intelligence Solution for more than 15,000 companies worldwide. The ZoomInfo platform empowers business-to-business sales, marketing, and recruiting professionals to hit their number by pairing best-in-class technology with unrivaled data coverage, accuracy, and depth of contacts. With integrations embedded into workflows and technology stacks, including the leading CRM, Sales Engagement, Marketing Automation, and Talent Management applications, ZoomInfo drives more predictable, accelerated, and sustainable growth for its customers. '
                            - description: 'ZoomInfo?is a leading go-to-market intelligence platform for sales and marketing teams. Its go-to-market intelligence platform delivers comprehensive and high-quality intelligence and analytics on approximately 14 million companies, including advanced attributes, technologies used by companies, intent signals, and decision-maker contact information. Its software, insights, and data enable over 15,000 companies to sell and market more effectively and efficiently. '
                            - description: 'Accelerate your growth with Zoom Information Inc. (ZoomInfo), an Inc. 5000 company. ZoomInfo''s Growth Acceleration Platform combines the world''s most comprehensive and searchable B2B contact database with integrated tools to help companies optimize sales and marketing effectiveness, jump-start growth, and maximize profitability. The continuously updated B2B data platform provides businesses access to direct-dial phone numbers, email addresses, and professional background information. '
                            phone: (360) 783-6800
                            fax: (617) 507-8187
                            street: 805 Broadway St Suite 900
                            city: Vancouver
                            state: Washington
                            zipCode: '98660'
                            country: United States
                            logo: http://www.zoominfo.com/business/mktg/images/zi_logo.png
                            sicCodes:
                            - id: '73'
                              name: Business Services
                            - id: '737'
                              name: Computer Programming, Data Processing, And Other Computer Related Services
                            - id: '7375'
                              name: Information Retrieval Services
                            - id: '27'
                              name: Printing, Publishing, And Allied Industries
                            - id: '274'
                              name: Miscellaneous Publishing
                            - id: '2741'
                              name: Miscellaneous Publishing
                            - id: '731'
                              name: Advertising
                            - id: '7371'
                              name: Computer Programming Services
                            - id: '7372'
                              name: Prepackaged Software
                            - id: '738'
                              name: Miscellaneous Business Services
                            - id: '7389'
                              name: Business Services, Not Elsewhere Classified
                            - id: '89'
                              name: Miscellaneous Services
                            - id: '899'
                              name: Miscellaneous Services
                            - id: '8999'
                              name: Services, Not Elsewhere Classified
                            - id: '7374'
                              name: Computer Processing and Data Preparation and Processing Services
                            naicsCodes:
                            - id: '541613'
                              name: Marketing Consulting Services
                            - id: '541511'
                              name: Custom Computer Programming Services
                            - id: '51919'
                              name: All Other Information Services
                            - id: '518210'
                              name: Data Processing, Hosting, and Related Services
                            - id: '54151'
                              name: Computer Systems Design and Related Services
                            - id: '5182'
                              name: Data Processing, Hosting, and Related Services
                            - id: '511'
                              name: Publishing Industries (except Internet)
                            - id: '51121'
                              name: Software Publishers
                            - id: '51821'
                              name: Data Processing, Hosting, and Related Services
                            - id: '517'
                              name: Telecommunications
                            - id: '5415'
                              name: Computer Systems Design and Related Services
                            - id: '518'
                              name: Data Processing, Hosting, and Related Services
                            - id: '51'
                              name: Information
                            - id: '5416'
                              name: Management, Scientific, and Technical Consulting Services
                            - id: '519'
                              name: Other Information Services
                            - id: '5418'
                              name: Advertising, Public Relations, and Related Services
                            - id: '54'
                              name: Professional, Scientific, and Technical Services
                            - id: '5112'
                              name: Software Publishers
                            - id: '511210'
                              name: Software Publishers
                            - id: '517110'
                              name: ''
                            - id: '5191'
                              name: Other Information Services
                            - id: '5171'
                              name: ''
                            - id: '54161'
                              name: Management Consulting Services
                            - id: '519130'
                              name: Internet Publishing and Broadcasting and Web Search Portals
                            - id: '541'
                              name: Professional, Scientific, and Technical Services
                            - id: '519190'
                              name: All Other Information Services
                            - id: '51711'
                              name: ''
                            - id: '51913'
                              name: Internet Publishing and Broadcasting and Web Search Portals
                            website: www.zoominfo.com
                            revenue: $400 Million
                            revenueNumeric: 400000000
                            employeeCount: 1500
                            type: PUBLIC
                            ticker: 'NASDAQ: ZI'
                            ranking:
                            - Inc 5000
                            socialMediaUrls: []
                            primaryIndustry:
                            - Software
                            industries:
                            - Data Collection & Internet Portals
                            - Software
                            - Media & Internet
                            revenueRange: $250 mil. - $500 mil.
                            employeeRange: 1,000 - 5,000
                contentMediaType: application/json;charset=utf-8
              example:
                success: true
                data:
                  outputFields:
                  - - id
                    - firstname
                    - middlename
                    - lastname
                    - email
                    - hascanadianemail
                    - phone
                    - directphonedonotcall
                    - street
                    - city
                    - region
                    - metroarea
                    - zipcode
                    - state
                    - country
                    - personhasmoved
                    - withineu
                    - withincalifornia
                    - withincanada
                    - lastupdateddate
                    - noticeprovideddate
                    - salutation
                    - suffix
                    - jobtitle
                    - jobfunction
                    - companydivision
                    - education
                    - hashedemails
                    - picture
                    - mobilephonedonotcall
                    - externalurls
                    - companyid
                    - companyname
                    - companydescriptionlist
                    - companyphone
                    - companyfax
                    - companystreet
                    - companycity
                    - companystate
                    - companyzipcode
                    - companycountry
                    - companylogo
                    - companysiccodes
                    - companynaicscodes
                    - contactaccuracyscore
                    - companywebsite
                    - companyrevenue
                    - companyrevenuenumeric
                    - companyemployeecount
                    - companytype
                    - companyticker
                    - companyranking
                    - isdefunct
                    - companysocialmediaurls
                    - companyprimaryindustry
                    - companyindustries
                    - companyrevenuerange
                    - companyemployeerange
                    - employmenthistory
                    - managementlevel
                    - locationcompanyid
                    - companyId
                  result:
                  - input:
                      companyid: 346572700
                      firstname: henry
                      lastname: schuck
                    data:
                    - id: 1260398587
                      firstName: Henry
                      middleName: L.
                      lastName: Schuck
                      email: henry.schuck@zoominfo.com
                      hasCanadianEmail: 'false'
                      phone: (360) 783-6816
                      directPhoneDoNotCall: false
                      street: 805 Broadway Ste. 900
                      city: Vancouver
                      region: Washington
                      metroArea: Portland
                      zipCode: '98660'
                      state: Washington
                      country: United States
                      personHasMoved: Uncertain
                      withinEu: false
                      withinCalifornia: true
                      withinCanada: false
                      lastUpdatedDate: 1/5/2020 2:59 PM
                      noticeProvidedDate: 06/27/2020
                      salutation: ''
                      suffix: ''
                      jobTitle: Founder & Chief Executive Officer
                      jobFunction:
                      - name: Executive
                        department: C-Suite
                      education:
                      - school: University of Nevada , Las Vegas
                        educationDegree:
                          degree: ''
                          areaOfStudy: ''
                      - school: Oxford University
                        educationDegree:
                          degree: comparative law
                          areaOfStudy: ''
                      - school: The Ohio State University Moritz College of Law
                        educationDegree:
                          degree: ''
                          areaOfStudy: juris doctorate degree cum laude
                      hashedEmails:
                      - f58f6a9d081a378bccd8c8a067f5d757c1bcfe1114b17d1a0173c4f64f132a76
                      - 882301004d270daab518d5d4fc0ec9a3e790159c4802e04394c0e70d7d817a5df5d19ba86a495ea2b22c19911a4606c63af22b85326c5a477e5b845a9ffcc33d
                      - 8dceb85dffad7d86c656fabd105d5781a1cdc66d3e5e0f1e723f04dc172c13e7839948f8253f382ecb91b5a3892aa4c8cec671061a24b18ef4cd3fc08a89d0bc
                      - f68bd1de672a4c37fdc87d88b4d543c2634ed129e5c73f69ca74c5dd21bc0fd6
                      - eed1872f83bf7d777eef83d459e14dc97cc8bbe4c391665d02130d1a02b9c6bae8fde805e5556bc9345e01da360856c36c08d3fde3c6564ce9eda330c11307cb
                      - b187e4ed0351e0988c5e7efb63c73d8fba14252ede5b29c4b111445ed60a205e566feaa37eb2a5da512f93d8c34bab8add0ebec823ee2a9ba718e709ae5bb999
                      - 8eb26ee14126e66bbf71cfc7da77803ab2079298c4f63075b4a9329605d0844c3b9d989ae4e9486f12701bad2b40cf45c8b461b751a3b37e97b18bd07cddf950
                      - 695d19bdc9be7f8e742c5f8d21d20832
                      - 29d9667b9865bd4c0ade732d87491588
                      - 0277d9b958853b227aae74c49fb3f47ed1a4f7a0
                      - 8f74df87a34f9eace4f392081fdf1701ecdd0a82
                      - 0cf4aef9be54921f056cfbd01aa21aaa
                      - c9415971b7ed54e1ef2ba9b76d7517d8
                      - 3255f0cea9d54f85c3ffe066798f68c8d9ff5131
                      - c2a09501b2e2d8542c90a9014a3e035be5d5412b
                      - 73874aff0dc933c6b08f9ecfdcd281ae5f2b2ef4
                      - b29c16b0355cdf202e47561cc82b2ce10325c7c9fbf35fc8c8d2ac97e1a15751
                      - 0b3c1656c901009da30bd69f431f901d17aea3b5
                      - 219df7fce416087db95f41b22a3e99de
                      - 74a841493b2be80de6b0523e3e51388ee702162b98bf0a1b761dc20a67c24bf9dd7c1c1edb43ec378754489dcb2c8b94fe8652c4f8aad2294758f1e37738093c
                      - 11862b70dc429e354ecb9e8c3f94baa980cd848a4e65b0607f098c2c4784e1e9
                      - f96d816c6506277d8917284d6ae01c086d6bb738
                      - e2107f85303216debfc490c1128ad0026bc66cba
                      - 42f9c1101b858d906f1e9249377705cc
                      - 2d707a32b6c36d7860df4ded85a3675da59487bd
                      - 70c0572ab995de4b75a50d4f3b9527b2f23ee3729d8dee19454732bb5974b96ce3b46c126ef9da3072e0db19331b713551c8f51af7d06d7456b006e6b6c6786f
                      - cb428444a92caccbf74196a56ce2ce47bedb7c810165a3f5670e0142b9e20488
                      - fb8f9342f5555bac4b5576e18203dee9649eb6cac775a60444a08912d57ecfaf
                      - 02d590f02c638a0f0a14330f8ed41ac3f29be73f3cc61510cffd5010f4076a56
                      - 077edc0b42f5b3a2ebced95cb466d7540eb13f84
                      - 35fae950b9267686ad59bf5540f05fe32614b05f7ce111c88215d397c4ccca80
                      - 072d54d1cd80722271757be3ad70e2fa80a4f7a9ddcfa4986bdacfaf44090d01
                      - f9cec62f4b2805124098741a9ff318cfc7601014799360d909d6160941a6700d4ec1dcfbfcfd445a8fd5549670bebefd0169ab53d5332296af6c70a55e22848a
                      - 4d49f8386d59b45ddda50a5ef5430120
                      - 81863a5a64ae6c4df9eab6200808260ffd99324308dcdb234cb95fe2f01868fd
                      - 3b4031ad2889aba895b3f7a0132f254c
                      - adb40c784326c0581284f4c8301bbeb0b217bab6a09eb811f8eee4fce2ea431b3cf01da7192c0af813ce7df177fc634770b4557c74301d41c412ee7dc890b9bf
                      - 20b54d86e974f4dfeb4383ed2c748e2d79ac7d28
                      - 258ba4f8558fbea656732b28211c9df8
                      - b389c6b4c6d1ab9c45a41f2ac41d7a2367b980866587f0d8afc8d07e87bf7dbee8638f4194e24674aa56a225bc9db668a6febd13fe0b975cc330dfb7c54df4f2
                      - 36c30998984a06a5eb56f5322ff8a284d144d159365b93423cc08223081965d606e6af6dddd30b7fd09bc627f9dcecd3ea85c036c3ba485ed31e07d2bd7ca65b
                      - 5233cc7bd91cb8234b136cd44db83d94
                      - 6a17da18c38ef9b4d42cefdaf7db0a03
                      - 2154155b799c35d2d58ad920146b2477635884f5af0839bc6ebbdb99216b7415
                      picture: https://www.zoominfo.com/ge-assets/images/leadership/henry_schuck.png
                      mobilePhoneDoNotCall: true
                      externalUrls:
                      - type: linkedin.com
                        url: https://www.linkedin.com/in/hschuck
                      - type: twitter.com
                        url: https://www.twitter.com/henrylschuck
                      - type: salesforce.com
                        url: https://www.salesforce.com/00361000005FuKPAA0
                      contactAccuracyScore: 96
                      isDefunct: false
                      employmentHistory:
                      - jobTitle: Vice President of Data and Marketing
                        managementLevel:
                        - VP-Level
                        fromDate: '2002-01-02T00:00:00.000Z'
                        toDate: '2006-01-02T00:00:00.000Z'
                        company:
                          companyId: 0
                          companyName: iProfile
                          companyPhone: ''
                          companyWebsite: ''
                      managementLevel:
                      - C-Level
                      locationCompanyId: 344589814
                      company:
                        division: ''
                        id: 344589814
                        name: ZoomInfo
                        descriptionList:
                        - description: ZoomInfo was founded in 2000 and is headquartered in Vancouver, Washington. The company offers a business-to-business data platform utilized by sales and marketing teams, recruiters, and other business professionals for lead generation and detailed information on people and companies.
                        - description: Built over 20 years ago, ZoomInfo Powered by DiscoverOrg has become the go-to-market standard for over 13,500 companies worldwide. Designed to be the single source of truth, the ZoomInfo platform offers best-in-class technology paired with unrivaled data coverage, accuracy, and depth of contacts, companies, and opportunities essential to empower sales, marketing and recruiting professionals to hit their numbers. Deeply embedded into business workflows and technology stacks- including integrations with the leading CRM, Sales Engagement, Marketing Automation, and Talent Management applications - ZoomInfo is capable of delivering more predictable, accelerated, and sustainable growth than any stand-alone solution. ZoomInfo's investors include TA Associates, The Carlyle Group and 22C Capital.
                        - description: 'ZoomInfo (NASDAQ: ZI) is a Go-To-Market Intelligence Solution for more than 15,000 companies worldwide. The ZoomInfo platform empowers business-to-business sales, marketing, and recruiting professionals to hit their number by pairing best-in-class technology with unrivaled data coverage, accuracy, and depth of contacts. With integrations embedded into workflows and technology stacks, including the leading CRM, Sales Engagement, Marketing Automation, and Talent Management applications, ZoomInfo drives more predictable, accelerated, and sustainable growth for its customers. '
                        - description: 'ZoomInfo?is a leading go-to-market intelligence platform for sales and marketing teams. Its go-to-market intelligence platform delivers comprehensive and high-quality intelligence and analytics on approximately 14 million companies, including advanced attributes, technologies used by companies, intent signals, and decision-maker contact information. Its software, insights, and data enable over 15,000 companies to sell and market more effectively and efficiently. '
                        - description: 'Accelerate your growth with Zoom Information Inc. (ZoomInfo), an Inc. 5000 company. ZoomInfo''s Growth Acceleration Platform combines the world''s most comprehensive and searchable B2B contact database with integrated tools to help companies optimize sales and marketing effectiveness, jump-start growth, and maximize profitability. The continuously updated B2B data platform provides businesses access to direct-dial phone numbers, email addresses, and professional background information. '
                        phone: (360) 783-6800
                        fax: (617) 507-8187
                        street: 805 Broadway St Suite 900
                        city: Vancouver
                        state: Washington
                        zipCode: '98660'
                        country: United States
                        logo: http://www.zoominfo.com/business/mktg/images/zi_logo.png
                        sicCodes:
                        - id: '73'
                          name: Business Services
                        - id: '737'
                          name: Computer Programming, Data Processing, And Other Computer Related Services
                        - id: '7375'
                          name: Information Retrieval Services
                        - id: '27'
                          name: Printing, Publishing, And Allied Industries
                        - id: '274'
                          name: Miscellaneous Publishing
                        - id: '2741'
                          name: Miscellaneous Publishing
                        - id: '731'
                          name: Advertising
                        - id: '7371'
                          name: Computer Programming Services
                        - id: '7372'
                          name: Prepackaged Software
                        - id: '738'
                          name: Miscellaneous Business Services
                        - id: '7389'
                          name: Business Services, Not Elsewhere Classified
                        - id: '89'
                          name: Miscellaneous Services
                        - id: '899'
                          name: Miscellaneous Services
                        - id: '8999'
                          name: Services, Not Elsewhere Classified
                        - id: '7374'
                          name: Computer Processing and Data Preparation and Processing Services
                        naicsCodes:
                        - id: '541613'
                          name: Marketing Consulting Services
                        - id: '541511'
                          name: Custom Computer Programming Services
                        - id: '51919'
                          name: All Other Information Services
                        - id: '518210'
                          name: Data Processing, Hosting, and Related Services
                        - id: '54151'
                          name: Computer Systems Design and Related Services
                        - id: '5182'
                          name: Data Processing, Hosting, and Related Services
                        - id: '511'
                          name: Publishing Industries (except Internet)
                        - id: '51121'
                          name: Software Publishers
                        - id: '51821'
                          name: Data Processing, Hosting, and Related Services
                        - id: '517'
                          name: Telecommunications
                        - id: '5415'
                          name: Computer Systems Design and Related Services
                        - id: '518'
                          name: Data Processing, Hosting, and Related Services
                        - id: '51'
                          name: Information
                        - id: '5416'
                          name: Management, Scientific, and Technical Consulting Services
                        - id: '519'
                          name: Other Information Services
                        - id: '5418'
                          name: Advertising, Public Relations, and Related Services
                        - id: '54'
                          name: Professional, Scientific, and Technical Services
                        - id: '5112'
                          name: Software Publishers
                        - id: '511210'
                          name: Software Publishers
                        - id: '517110'
                          name: ''
                        - id: '5191'
                          name: Other Information Services
                        - id: '5171'
                          name: ''
                        - id: '54161'
                          name: Management Consulting Services
                        - id: '519130'
                          name: Internet Publishing and Broadcasting and Web Search Portals
                        - id: '541'
                          name: Professional, Scientific, and Technical Services
                        - id: '519190'
                          name: All Other Information Services
                        - id: '51711'
                          name: ''
                        - id: '51913'
                          name: Internet Publishing and Broadcasting and Web Search Portals
                        website: www.zoominfo.com
                        revenue: $400 Million
                        revenueNumeric: 400000000
                        employeeCount: 1500
                        type: PUBLIC
                        ticker: 'NASDAQ: ZI'
                        ranking:
                        - Inc 5000
                        socialMediaUrls: []
                        primaryIndustry:
                        - Software
                        industries:
                        - Data Collection & Internet Portals
                        - Software
                        - Media & Internet
                        revenueRange: $250 mil. - $500 mil.
                        employeeRange: 1,000 - 5,000
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /lookup/inputfields/contact/enrich:
    parameters: []
    get:
      tags:
      - Contact Enrich
      summary: Zoominfo Contact Enrich Inputs
      description: Returns a list of fields you can use as input for the [Contact Enrich](#c145dd01-eb54-4fc2-bbdb-9edc04b7ea1b) endpoint.
      operationId: ContactEnrichInputs
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 02 Apr 2020 20:27:56 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            CF-Ray:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 57dd4b19cdd2ae30-BOS
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: _pxhd=e99a9e88d667ee71ae1f3e0f9ba320ee974606d04b502a1adab610e4b0998574:db2236f1-751f-11ea-8eb7-fd4ff856811c; path=/;
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1.1 google, 1.1 google
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: DYNAMIC
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            x-application-context:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: application:production:8080
            X-RateLimit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '750'
            X-RateLimit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '749'
            X-RateLimit-Reset:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1585859336'
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: cloudflare
          content:
            application/json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactEnrichInput'
                description: ''
                examples:
                - - fieldName: personId
                    fieldType: Long
                    description: Unique ZoomInfo identifier for the contact
                  - fieldName: personFullName
                    fieldType: String
                    description: Contact full name
                  - fieldName: personFirstName
                    fieldType: String
                    description: Contact first name
                  - fieldName: personLastName
                    fieldType: String
                    description: Contact last name
                  - fieldName: personEmailAddress
                    fieldType: String
                    description: Work email address for the contact in example@example.com format
                  - fieldName: personPhone
                    fieldType: String
                    description: Contact direct or mobile phone number
                  - fieldName: personJobTitle
                    fieldType: String
                    description: Contact title at current place of employment
                  - fieldName: personHashedEmail
                    fieldType: String
                    description: 'Hashed email value for the contact. Allows matching via an email address with the extra security of not exposing the email. Supported hash algorithms are: MD5, SHA1, SHA256 and SHA512.'
                  - fieldName: personExternalURL
                    fieldType: String
                    description: Social media URLs for the contact (e.g., Facebook, Twitter, LinkedIn)
                  - fieldName: fullName
                    fieldType: String
                    description: Contact full name
                  - fieldName: firstName
                    fieldType: String
                    description: Contact first name
                  - fieldName: lastName
                    fieldType: String
                    description: Contact last name
                  - fieldName: emailAddress
                    fieldType: String
                    description: Work email address for the contact in example@example.com format
                  - fieldName: phone
                    fieldType: String
                    description: Contact direct or mobile phone number
                  - fieldName: jobTitle
                    fieldType: String
                    description: Contact title at current place of employment
                  - fieldName: hashedEmail
                    fieldType: String
                    description: 'Hashed email value for the contact. Allows matching via an email address with the extra security of not exposing the email. Supported hash algorithms are: MD5, SHA1, SHA256 and SHA512.'
                  - fieldName: externalURL
                    fieldType: String
                    description: Social media URLs for the contact (e.g., Facebook, Twitter, LinkedIn)
                  - fieldName: companyId
                    fieldType: Long
                    description: Unique ZoomInfo identifier for a company
                  - fieldName: companyName
                    fieldType: String
                    description: Company name
                contentMediaType: application/json;charset=utf-8
              example:
              - fieldName: personId
                fieldType: Long
                description: Unique ZoomInfo identifier for the contact
              - fieldName: personFullName
                fieldType: String
                description: Contact full name
              - fieldName: personFirstName
                fieldType: String
                description: Contact first name
              - fieldName: personLastName
                fieldType: String
                description: Contact last name
              - fieldName: personEmailAddress
                fieldType: String
                description: Work email address for the contact in example@example.com format
              - fieldName: personPhone
                fieldType: String
                description: Contact direct or mobile phone number
              - fieldName: personJobTitle
                fieldType: String
                description: Contact title at current place of employment
              - fieldName: personHashedEmail
                fieldType: String
                description: 'Hashed email value for the contact. Allows matching via an email address with the extra security of not exposing the email. Supported hash algorithms are: MD5, SHA1, SHA256 and SHA512.'
              - fieldName: personExternalURL
                fieldType: String
                description: Social media URLs for the contact (e.g., Facebook, Twitter, LinkedIn)
              - fieldName: fullName
                fieldType: String
                description: Contact full name
              - fieldName: firstName
                fieldType: String
                description: Contact first name
              - fieldName: lastName
                fieldType: String
                description: Contact last name
              - fieldName: emailAddress
                fieldType: String
                description: Work email address for the contact in example@example.com format
              - fieldName: phone
                fieldType: String
                description: Contact direct or mobile phone number
              - fieldName: jobTitle
                fieldType: String
                description: Contact title at current place of employment
              - fieldName: hashedEmail
                fieldType: String
                description: 'Hashed email value for the contact. Allows matching via an email address with the extra security of not exposing the email. Supported hash algorithms are: MD5, SHA1, SHA256 and SHA512.'
              - fieldName: externalURL
                fieldType: String
                description: Social media URLs for the contact (e.g., Facebook, Twitter, LinkedIn)
              - fieldName: companyId
                fieldType: Long
                description: Unique ZoomInfo identifier for a company
              - fieldName: companyName
                fieldType: String
                description: Company name
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /lookup/outputfields/contact/enrich:
    parameters: []
    get:
      tags:
      - Contact Enrich
      summary: Zoominfo Contact Enrich Outputs
      description: Returns a list of fields you can specify as output for the [Contact Enrich](#c145dd01-eb54-4fc2-bbdb-9edc04b7ea1b) endpoint.
      operationId: ContactEnrichOutputs
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Tue, 22 Oct 2024 12:25:41 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Origin,Access-Control-Request-Method,Access-Control-Request-Headers
            x-envoy-upstream-service-time:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10'
            service:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gke
            x-request-id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: H92QOBaP7M4dM4WzyYk0KmRfGsWtYFQaIsXb
            x-ratelimit-limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1500'
            x-ratelimit-remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1498'
            x-envoy-decorator-operation:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: apps-gateway-active.main.svc.cluster.local:8080/*
            via:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1.1 google
            alt-svc:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: h3=":443"; ma=86400
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: DYNAMIC
            Origin-Trial:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: AyXGdeyTa0Lq3roJGvPBs/Ps9duHL7Vf/Q5YJQJwQN4fdGLbtMPms4BfmK2HapcHVkvBjyAVhxe5deDNI1TFXgcAAABxeyJvcmlnaW4iOiJodHRwczovL3pvb21pbmZvLmNvbTo0NDMiLCJmZWF0dXJlIjoiVHBjZCIsImV4cGlyeSI6MTczNTM0Mzk5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: cloudflare
            CF-RAY:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 8d6978b46b3187a2-IAD
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactEnrichOutput'
                description: ''
                examples:
                - - fieldName: id
                    description: Unique ZoomInfo identifier for the contact
                    accessGranted: 'true'
                  - fieldName: firstName
                    description: Contact first name
                    accessGranted: 'true'
                  - fieldName: middleName
                    description: Contact middle name
                    accessGranted: 'true'
                  - fieldName: lastName
                    description: Contact last name
                    accessGranted: 'true'
                  - fieldName: email
                    description: Work email address for the contact in example@example.com format
                    accessGranted: 'true'
                  - fieldName: hasCanadianEmail
                    description: Indicates whether the contact's email address is associated with a Canada domain
                    accessGranted: 'true'
                  - fieldName: phone
                    description: Contact direct phone number
                    accessGranted: 'true'
                  - fieldName: directPhoneDoNotCall
                    description: Contact flagged with do not call for direct phone
                    accessGranted: 'true'
                  - fieldName: street
                    description: Street for the contact's work address
                    accessGranted: 'true'
                  - fieldName: city
                    description: City for the contact's work address
                    accessGranted: 'true'
                  - fieldName: region
                    description: State or province for the contact's work address
                    accessGranted: 'true'
                  - fieldName: metroArea
                    description: Metro area for the contact's work address
                    accessGranted: 'true'
                  - fieldName: zipCode
                    description: Zip Code or Postal Code for the contact's work address
                    accessGranted: 'true'
                  - fieldName: state
                    description: State or province for the contact's work address
                    accessGranted: 'true'
                  - fieldName: country
                    description: Country for the contact's work address
                    accessGranted: 'true'
                  - fieldName: continent
                    description: Continent for the contact's work address
                    accessGranted: 'true'
                  - fieldName: personHasMoved
                    description: Indicates ZoomInfo recognizes the contact does not match ZoomInfo's current company but does match known employment history
                    accessGranted: 'true'
                  - fieldName: withinEu
                    description: Indicates whether the contact's work address is in Europe
                    accessGranted: 'true'
                  - fieldName: withinCalifornia
                    description: Indicates whether the contact's work address is in California
                    accessGranted: 'true'
                  - fieldName: withinCanada
                    description: Indicates whether the contact's work address is in Canada
                    accessGranted: 'true'
                  - fieldName: validDate
                    description: Date on which the contact record was last validated
                    accessGranted: 'true'
                  - fieldName: lastUpdatedDate
                    description: Date on which the contact record was last updated
                    accessGranted: 'true'
                  - fieldName: noticeProvidedDate
                    description: Date on which the contact was notified of inclusion in ZoomInfo's database
                    accessGranted: 'true'
                  - fieldName: salutation
                    description: Contact salutation
                    accessGranted: 'true'
                  - fieldName: suffix
                    description: Contact suffix
                    accessGranted: 'true'
                  - fieldName: jobTitle
                    description: Contact job title at current place of employment
                    accessGranted: 'true'
                  - fieldName: jobFunction
                    description: Contact job function at current place of employment
                    accessGranted: 'true'
                  - fieldName: companyDivision
                    description: Contact primary division name at current place of employment
                    accessGranted: 'true'
                  - fieldName: education
                    description: Contact education details
                    accessGranted: 'true'
                  - fieldName: hashedEmails
                    description: Contact MD5 encrypted email address(es)
                    accessGranted: 'true'
                  - fieldName: picture
                    description: The URL which can be used to retrieve a photo for the contact
                    accessGranted: 'true'
                  - fieldName: techSkills
                    description: List of technology skills identified for a contact
                    accessGranted: 'false'
                  - fieldName: mobilePhoneDoNotCall
                    description: Contact flagged with do not call for mobile phone
                    accessGranted: 'true'
                  - fieldName: externalUrls
                    description: Social media URLs for the contact (e.g., Facebook, Twitter, LinkedIn)
                    accessGranted: 'true'
                  - fieldName: companyId
                    description: Unique ZoomInfo identifier for a company
                    accessGranted: 'true'
                  - fieldName: companyName
                    description: Name of the contact's current company
                    accessGranted: 'true'
                  - fieldName: companyDescriptionList
                    description: List of descriptions associated with the contact's current company
                    accessGranted: 'true'
                  - fieldName: companyPhone
                    description: Phone number of the company's primary address
                    accessGranted: 'true'
                  - fieldName: companyFax
                    description: Fax number of the company's primary address
                    accessGranted: 'true'
                  - fieldName: companyStreet
                    description: Street of the company's primary address
                    accessGranted: 'true'
                  - fieldName: companyCity
                    description: City of the company's primary address
                    accessGranted: 'true'
                  - fieldName: companyState
                    description: State or province of the company's primary address
                    accessGranted: 'true'
                  - fieldName: companyZipCode
                    description: Zip Code or Postal Code of the company's primary address
                    accessGranted: 'true'
                  - fieldName: companyCountry
                    description: Country of the company's primary address
                    accessGranted: 'true'
                  - fieldName: companyContinent
                    description: Continent of the company's primary address
                    accessGranted: 'true'
                  - fieldName: companyLogo
                    description: The URL which can be used to retrieve the logo for the company
                    accessGranted: 'true'
                  - fieldName: companySicCodes
                    description: Four-digit numerical codes assigned by the U.S. government to business establishments to identify the primary business of the establishment
                    accessGranted: 'true'
                  - fieldName: companyNaicsCodes
                    description: Four-digit numerical codes assigned by the U.S. government to business establishments to identify the primary business of the establishment
                    accessGranted: 'true'
                  - fieldName: contactAccuracyScore
                    description: This score indicates the likelihood that a contact is reachable and still employed by the company listed. Minimum score is 75 and maximum is 99.
                    accessGranted: 'true'
                  - fieldName: companyWebsite
                    description: URL to the company website in http://www.example.com format
                    accessGranted: 'true'
                  - fieldName: companyRevenue
                    description: Company revenue (e.g., 400 Million)
                    accessGranted: 'true'
                  - fieldName: companyRevenueNumeric
                    description: Company revenue in raw number (e.g., 400 million is expressed as 400000000)
                    accessGranted: 'true'
                  - fieldName: companyEmployeeCount
                    description: Employee count range
                    accessGranted: 'true'
                  - fieldName: companyType
                    description: Company type (private, public, and so on)
                    accessGranted: 'true'
                  - fieldName: companyTicker
                    description: Company stock ticker symbol
                    accessGranted: 'true'
                  - fieldName: companyRanking
                    description: Company ranking list (e.g., Fortune 500 and so on)
                    accessGranted: 'true'
                  - fieldName: isDefunct
                    description: Indicates whether the company still exists
                    accessGranted: 'true'
                  - fieldName: companySocialMediaUrls
                    description: 'Social media URLs for the company (e.g., Facebook, Twitter, LinkedIn) '
                    accessGranted: 'true'
                  - fieldName: isCalifornia
                    description: ''
                    accessGranted: 'true'
                  - fieldName: isCanada
                    description: ''
                    accessGranted: 'true'
                  - fieldName: companyPrimaryIndustry
                    description: Top-level industry for a company
                    accessGranted: 'true'
                  - fieldName: companyPrimaryIndustryCode
                    description: Top-level industry code for a company
                    accessGranted: 'true'
                  - fieldName: companyPrimarySubIndustryCode
                    description: Top-level sub industry code for a company
                    accessGranted: 'true'
                  - fieldName: companyIndustries
                    description: 'The industry grouping for the company. A company can have multiple industries. '
                    accessGranted: 'true'
                  - fieldName: companyIndustryCodes
                    description: 'The industry grouping codes for the company. A company can have multiple industry codes. '
                    accessGranted: 'true'
                  - fieldName: companyRevenueRange
                    description: Revenue Range of the contact's current company
                    accessGranted: 'true'
                  - fieldName: companyEmployeeRange
                    description: Employee Range of the contact's current company
                    accessGranted: 'true'
                  - fieldName: employmentHistory
                    description: Contact employment history
                    accessGranted: 'true'
                  - fieldName: managementLevel
                    description: Contact management level
                    accessGranted: 'true'
                  - fieldName: locationCompanyId
                    description: Company Id of contact's location
                    accessGranted: 'true'
                  - fieldName: companyEmployeeGrowth
                    description: Employee Growth of the contact's current company in the past two years.
                    accessGranted: 'true'
                  - fieldName: positionStartDate
                    description: The date on which the contact began their current employment
                    accessGranted: 'true'
                  - fieldName: yearsOfExperience
                    description: Years of overall experience.
                    accessGranted: 'true'
                  - fieldName: engagements
                    description: List of the contact's engagements. Includes the date and type of each engagement
                    accessGranted: 'false'
                contentMediaType: application/json
              example:
              - fieldName: id
                description: Unique ZoomInfo identifier for the contact
                accessGranted: 'true'
              - fieldName: firstName
                description: Contact first name
                accessGranted: 'true'
              - fieldName: middleName
                description: Contact middle name
                accessGranted: 'true'
              - fieldName: lastName
                description: Contact last name
                accessGranted: 'true'
              - fieldName: email
                description: Work email address for the contact in example@example.com format
                accessGranted: 'true'
              - fieldName: hasCanadianEmail
                description: Indicates whether the contact's email address is associated with a Canada domain
                accessGranted: 'true'
              - fieldName: phone
                description: Contact direct phone number
                accessGranted: 'true'
              - fieldName: directPhoneDoNotCall
                description: Contact flagged with do not call for direct phone
                accessGranted: 'true'
              - fieldName: street
                description: Street for the contact's work address
                accessGranted: 'true'
              - fieldName: city
                description: City for the contact's work address
                accessGranted: 'true'
              - fieldName: region
                description: State or province for the contact's work address
                accessGranted: 'true'
              - fieldName: metroArea
                description: Metro area for the contact's work address
                accessGranted: 'true'
              - fieldName: zipCode
                description: Zip Code or Postal Code for the contact's work address
                accessGranted: 'true'
              - fieldName: state
                description: State or province for the contact's work address
                accessGranted: 'true'
              - fieldName: country
                description: Country for the contact's work address
                accessGranted: 'true'
              - fieldName: continent
                description: Continent for the contact's work address
                accessGranted: 'true'
              - fieldName: personHasMoved
                description: Indicates ZoomInfo recognizes the contact does not match ZoomInfo's current company but does match known employment history
                accessGranted: 'true'
              - fieldName: withinEu
                description: Indicates whether the contact's work address is in Europe
                accessGranted: 'true'
              - fieldName: withinCalifornia
                description: Indicates whether the contact's work address is in California
                accessGranted: 'true'
              - fieldName: withinCanada
                description: Indicates whether the contact's work address is in Canada
                accessGranted: 'true'
              - fieldName: validDate
                description: Date on which the contact record was last validated
                accessGranted: 'true'
              - fieldName: lastUpdatedDate
                description: Date on which the contact record was last updated
                accessGranted: 'true'
              - fieldName: noticeProvidedDate
                description: Date on which the contact was notified of inclusion in ZoomInfo's database
                accessGranted: 'true'
              - fieldName: salutation
                description: Contact salutation
                accessGranted: 'true'
              - fieldName: suffix
                description: Contact suffix
                accessGranted: 'true'
              - fieldName: jobTitle
                description: Contact job title at current place of employment
                accessGranted: 'true'
              - fieldName: jobFunction
                description: Contact job function at current place of employment
                accessGranted: 'true'
              - fieldName: companyDivision
                description: Contact primary division name at current place of employment
                accessGranted: 'true'
              - fieldName: education
                description: Contact education details
                accessGranted: 'true'
              - fieldName: hashedEmails
                description: Contact MD5 encrypted email address(es)
                accessGranted: 'true'
              - fieldName: picture
                description: The URL which can be used to retrieve a photo for the contact
                accessGranted: 'true'
              - fieldName: techSkills
                description: List of technology skills identified for a contact
                accessGranted: 'false'
              - fieldName: mobilePhoneDoNotCall
                description: Contact flagged with do not call for mobile phone
                accessGranted: 'true'
              - fieldName: externalUrls
                description: Social media URLs for the contact (e.g., Facebook, Twitter, LinkedIn)
                accessGranted: 'true'
              - fieldName: companyId
                description: Unique ZoomInfo identifier for a company
                accessGranted: 'true'
              - fieldName: companyName
                description: Name of the contact's current company
                accessGranted: 'true'
              - fieldName: companyDescriptionList
                description: List of descriptions associated with the contact's current company
                accessGranted: 'true'
              - fieldName: companyPhone
                description: Phone number of the company's primary address
                accessGranted: 'true'
              - fieldName: companyFax
                description: Fax number of the company's primary address
                accessGranted: 'true'
              - fieldName: companyStreet
                description: Street of the company's primary address
                accessGranted: 'true'
              - fieldName: companyCity
                description: City of the company's primary address
                accessGranted: 'true'
              - fieldName: companyState
                description: State or province of the company's primary address
                accessGranted: 'true'
              - fieldName: companyZipCode
                description: Zip Code or Postal Code of the company's primary address
                accessGranted: 'true'
              - fieldName: companyCountry
                description: Country of the company's primary address
                accessGranted: 'true'
              - fieldName: companyContinent
                description: Continent of the company's primary address
                accessGranted: 'true'
              - fieldName: companyLogo
                description: The URL which can be used to retrieve the logo for the company
                accessGranted: 'true'
              - fieldName: companySicCodes
                description: Four-digit numerical codes assigned by the U.S. government to business establishments to identify the primary business of the establishment
                accessGranted: 'true'
              - fieldName: companyNaicsCodes
                description: Four-digit numerical codes assigned by the U.S. government to business establishments to identify the primary business of the establishment
                accessGranted: 'true'
              - fieldName: contactAccuracyScore
                description: This score indicates the likelihood that a contact is reachable and still employed by the company listed. Minimum score is 75 and maximum is 99.
                accessGranted: 'true'
              - fieldName: companyWebsite
                description: URL to the company website in http://www.example.com format
                accessGranted: 'true'
              - fieldName: companyRevenue
                description: Company revenue (e.g., 400 Million)
                accessGranted: 'true'
              - fieldName: companyRevenueNumeric
                description: Company revenue in raw number (e.g., 400 million is expressed as 400000000)
                accessGranted: 'true'
              - fieldName: companyEmployeeCount
                description: Employee count range
                accessGranted: 'true'
              - fieldName: companyType
                description: Company type (private, public, and so on)
                accessGranted: 'true'
              - fieldName: companyTicker
                description: Company stock ticker symbol
                accessGranted: 'true'
              - fieldName: companyRanking
                description: Company ranking list (e.g., Fortune 500 and so on)
                accessGranted: 'true'
              - fieldName: isDefunct
                description: Indicates whether the company still exists
                accessGranted: 'true'
              - fieldName: companySocialMediaUrls
                description: 'Social media URLs for the company (e.g., Facebook, Twitter, LinkedIn) '
                accessGranted: 'true'
              - fieldName: isCalifornia
                description: ''
                accessGranted: 'true'
              - fieldName: isCanada
                description: ''
                accessGranted: 'true'
              - fieldName: companyPrimaryIndustry
                description: Top-level industry for a company
                accessGranted: 'true'
              - fieldName: companyPrimaryIndustryCode
                description: Top-level industry code for a company
                accessGranted: 'true'
              - fieldName: companyPrimarySubIndustryCode
                description: Top-level sub industry code for a company
                accessGranted: 'true'
              - fieldName: companyIndustries
                description: 'The industry grouping for the company. A company can have multiple industries. '
                accessGranted: 'true'
              - fieldName: companyIndustryCodes
                description: 'The industry grouping codes for the company. A company can have multiple industry codes. '
                accessGranted: 'true'
              - fieldName: companyRevenueRange
                description: Revenue Range of the contact's current company
                accessGranted: 'true'
              - fieldName: companyEmployeeRange
                description: Employee Range of the contact's current company
                accessGranted: 'true'
              - fieldName: employmentHistory
                description: Contact employment history
                accessGranted: 'true'
              - fieldName: managementLevel
                description: Contact management level
                accessGranted: 'true'
              - fieldName: locationCompanyId
                description: Company Id of contact's location
                accessGranted: 'true'
              - fieldName: companyEmployeeGrowth
                description: Employee Growth of the contact's current company in the past two years.
                accessGranted: 'true'
              - fieldName: positionStartDate
                description: The date on which the contact began their current employment
                accessGranted: 'true'
              - fieldName: yearsOfExperience
                description: Years of overall experience.
                accessGranted: 'true'
              - fieldName: engagements
                description: List of the contact's engagements. Includes the date and type of each engagement
                accessGranted: 'false'
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ExternalUrl:
      title: ExternalUrl
      required:
      - type
      - url
      type: object
      properties:
        type:
          type: string
          example: standard
        url:
          type: string
          example: https://www.example.com/resource
      examples:
      - type: linkedin.com
        url: https://www.linkedin.com/in/hschuck
    MatchPersonInput:
      title: MatchPersonInput
      required:
      - personId
      type: object
      properties:
        personId:
          type: integer
          contentEncoding: int32
          example: 500123
      examples:
      - personId: 1584305636
    ContactEnrichInput:
      title: ContactEnrichInput
      required:
      - fieldName
      - fieldType
      - description
      type: object
      properties:
        fieldName:
          type: string
          example: Acme Corporation
        fieldType:
          type: string
          example: standard
        description:
          type: string
          example: Enterprise software company
      examples:
      - fieldName: personId
        fieldType: Long
        description: Unique ZoomInfo identifier for the contact
    Company10:
      title: Company10
      required:
      - division
      - id
      - name
      - descriptionList
      - phone
      - fax
      - street
      - city
      - state
      - zipCode
      - country
      - logo
      - sicCodes
      - naicsCodes
      - website
      - revenue
      - revenueNumeric
      - employeeCount
      - type
      - ticker
      - ranking
      - socialMediaUrls
      - primaryIndustry
      - industries
      - revenueRange
      - employeeRange
      type: object
      properties:
        division:
          type: string
          example: example_value
        id:
          type: integer
          contentEncoding: int32
          example: 500123
        name:
          type: string
          example: Acme Corporation
        descriptionList:
          type: array
          items:
            $ref: '#/components/schemas/DescriptionList'
          description: ''
          example: []
        phone:
          type: string
          example: +1-555-555-1234
        fax:
          type: string
          example: example_value
        street:
          type: string
          example: example_value
        city:
          type: string
          example: San Francisco
        state:
          type: string
          example: CA
        zipCode:
          type: string
          example: '94105'
        country:
          type: string
          example: US
        logo:
          type: string
          example: example_value
        sicCodes:
          type: array
          items:
[...]
