openapi: 3.2.0
info:
  title: Data API V1 Enrich API
  version: '1.0'
  contact:
    name: ZoomInfo Customer Support
    email: help@zoominfo.com
  description: The Data API
servers:
- url: https://api.zoominfo.com/gtm
  description: Base URL for the Data API
security:
- OAuth2Auth: []
tags:
- name: Enrich
paths:
  /data/v1/contacts/enrich:
    post:
      operationId: EnrichInterface_enrichContact
      summary: Enrich Contacts
      description: 'Enrich Contacts can be used to retrieve detailed information about up to 25 individual contact records.

        Best practice is to first use the Search Contacts to identify the records

        you want to enrich, and then use the Contact IDs as the input to specify the correct records. If your workflow does not

        support a two stage retrieval using both Search and Enrich endpoints, you can query the Contact Enrich Endpoint with more

        extensive input information and our system will provide the best match available to the input. The more details you provide

        the more likely we are to provide the correct match.


        Once you have indicated which records you want to enrich, you must then select which fields you want to return for the

        records using the `outputFields` list. For more details about all of the available output fields you can select, please

        use the Lookup Enrich endpoint (`filter[entity]=contact` and `filter[fieldType]=output`).

        This will provide a description of each available field, as well as whether or not your account has access to this field.

        If you do not have access to a field that you need, please contact your ZoomInfo Account Manager for purchasing options.


        You can also use the `requiredFields` list to indicate which fields must be available for output in order to return

        a record. For example, if you include `jobTitle` in `requiredFields` we will not return a contact for which we do not

        have a job title recorded, even if it is a perfect match for the input criteria you provided.


        Each record returned by this endpoint will charge a credit from your account, unless that record is already under management

        (see Credit Usage and Limits Guide for more details). If we fail to find the record and return

        “No match” or if we return an error code a credit will not be charged.'
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ContactEnrichResponse'
              examples:
                Enrich Contact by Person ID Using Output Fields and Required Fields for a Full Match:
                  summary: Enrich Contact by Person ID Using Output Fields and Required Fields for a Full Match
                  description: This example demonstrates how to enrich a single contact using a unique personId. The request specifies a set of outputFields to return, including email, company name, and movement status, while ensuring that required fields like id and company name are always included. This allows for precise and efficient contact data retrieval. Up to 25 contacts can be enriched in a single request.
                  value:
                    data:
                    - attributes:
                        company:
                          id: 346572700
                          name: ZoomInfo
                        email: henry@zoominfo.com
                        hasCanadianEmail: false
                        personHasMoved: 'No'
                      id: '344589814'
                      meta:
                        input:
                          personId: 4191419698
                        matchStatus: FULL_MATCH
                      type: Contact
                Enrich Contact by Person ID Using Various Company Output Fields and Required Fields for a Full Match:
                  summary: Enrich Contact by Person ID Using Various Company Output Fields and Required Fields for a Full Match
                  description: This example demonstrates how to enrich a single contact using a unique personId. The request specifies a set of outputFields related to the contact's company to return, including company name, company logo, and company revenue, while ensuring that required fields like id and company name are always included.
                  value:
                    data:
                    - attributes:
                        company:
                          city: Vancouver
                          country: United States
                          description: ZoomInfo is the go-to-market platform that helps businesses find, acquire, and grow customers. ZoomInfo is the most comprehensive source of business information on people and companies in the world. ZoomInfo is used by sales and marketing professionals to find leads, recruiters to uncover talent and by business professionals to find detailed information on people and companies.
                          employeeCount: 3508
                          employeeRange: 1,000 - 5,000
                          fax: (617) 507-8187
                          id: 344589814
                          industries:
                          - Software
                          - Business Intelligence (BI) Software
                          logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/zoominfo.com
                          naicsCodes:
                          - id: '51'
                            name: Information
                          - id: '516'
                            name: Broadcasting and Content Providers
                          - id: '5162'
                            name: Media Streaming Distribution Services, Social Networks, and Other Media Networks and Content Providers
                          - id: '51621'
                            name: Media Streaming Distribution Services, Social Networks, and Other Media Networks and Content Providers
                          - id: '517'
                            name: Telecommunications
                          - id: '5171'
                            name: Wired and Wireless Telecommunications (except Satellite)
                          - id: '51711'
                            name: Wired and Wireless Telecommunications Carriers (except Satellite)
                          - id: '54'
                            name: Professional, Scientific, and Technical Services
                          - id: '541'
                            name: Professional, Scientific, and Technical Services
                          - id: '5415'
                            name: Computer Systems Design and Related Services
                          - id: '54151'
                            name: Computer Systems Design and Related Services
                          - id: '541511'
                            name: Custom Computer Programming Services
                          - id: '511'
                            name: Publishing Industries (except Internet)
                          - id: '5112'
                            name: Software Publishers
                          - id: '51121'
                            name: Software Publishers
                          - id: '511210'
                            name: Software Publishers
                          name: ZoomInfo
                          phone: (866) 904-9666
                          primaryIndustry:
                          - Software
                          - Business Intelligence (BI) Software
                          revenue: $1.2 Billion
                          revenueNumeric: 1214300000
                          revenueRange: $1 bil. - $5 bil.
                          sicCodes:
                          - id: '73'
                            name: Business Services
                          - id: '737'
                            name: Computer Programming, Data Processing, And Other Computer Related Services
                          - id: '7372'
                            name: Prepackaged Software
                          - id: '738'
                            name: Miscellaneous Business Services
                          - id: '7389'
                            name: Business Services, Not Elsewhere Classified
                          - id: '7371'
                            name: Computer Programming Services
                          socialMediaUrls:
                          - followerCount: '128080'
                            type: LINKED_IN
                            url: http://www.linkedin.com/company/zoominfo
                          - followerCount: '14415'
                            type: TWITTER
                            url: http://www.twitter.com/zoominfo
                          - type: FACEBOOK
                            url: http://www.facebook.com/109325735758217
                          state: Washington
                          street: 805 Broadway St Ste 900
                          ticker: NASDAQ:GTM
                          type: PUBLIC
                          website: www.zoominfo.com
                          zipCode: '98660'
                        email: henry@zoominfo.com
                        hasCanadianEmail: false
                        personHasMoved: 'No'
                      id: '344589814'
                      meta:
                        input:
                          personId: 4191419698
                        matchStatus: FULL_MATCH
                      type: Contact
                Enrich Multiple Contacts Using Required Fields and Output Fields for a Full Match.:
                  summary: Enrich Multiple Contacts Using Required Fields and Output Fields for a Full Match.
                  description: This example demonstrates how to enrich multiple contacts by using a mix of identifiers—including a combination of firstName, lastName, and companyName, as well as a direct personId. The request specifies a wide range of outputFields, such as email, job title, address, company details, and regulatory flags. This allows for detailed enrichment of each contact. The response returns enriched data for each matched contact, and up to 25 contacts can be processed in a single request.
                  value:
                    data:
                    - attributes:
                        company:
                          id: 346572700
                          name: ZoomInfo
                          employeeCount: 3508
                          primaryIndustry:
                          - Software
                          - Business Intelligence Software
                        country: United States
                        email: henry@zoominfo.com
                        hasCanadianEmail: false
                        jobTitle: Chief Executive Officer & Board Member
                        directPhoneDoNotCall: false
                        directPhoneAlt:
                        - value: +1-360-555-1234
                          source: waterfall
                        mobilePhoneAlt:
                        - value: +1-360-555-5678
                          source: waterfall
                        emailAlt:
                        - value: henry.schuck@zoominfo.com
                          source: waterfall
                        withinCalifornia: false
                        withinCanada: false
                        withinEu: false
                        metroArea: Boston
                        personHasMoved: 'No'
                        region: Massachusetts
                        state: Massachusetts
                        street: 404 Wyman St
                        zipCode: '02451'
                      id: '344589814'
                      meta:
                        input:
                          companyName: zoominfo
                          firstName: henry
                          lastName: schuck
                        matchStatus: FULL_MATCH
                      type: Contact
                    - attributes:
                        city: Bethesda
                        company:
                          id: 346572700
                          name: ZoomInfo
                          employeeCount: 3508
                          primaryIndustry:
                          - Software
                          - Business Intelligence Software
                        country: United States
                        directPhoneDoNotCall: false
                        email: filip@discoverorg.com
                        firstName: Filip
                        hasCanadianEmail: false
                        jobTitle: Chief Technology Officer
                        managementLevel:
                        - C-Level
                        metroArea: Washington
                        personHasMoved: Uncertain
                        region: Maryland
                        state: Maryland
                        street: 7700 Old Georgetown Rd 5th Fl
                        zipCode: '20814'
                      id: '234343645'
                      meta:
                        input:
                          personId: 4191419698
                        matchStatus: FULL_MATCH
                      type: Contact
                Enrich Contact by Person ID Using Output Fields for a No Match:
                  summary: Enrich Contact by Person ID Using Output Fields for a No Match
                  description: This example demonstrates how to enrich a single contact using a unique personId. The request specifies a set of outputFields to return, including email, company name, and movement status. The response is a no match response for the contact criteria requested.
                  value:
                    data:
                    - id: '0'
                      meta:
                        input:
                          personId: 0
                        matchStatus: NO_MATCH
                      type: NoMatch
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Enrich
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ContactEnrichRequest'
            examples:
              Enrich Contact by Person ID Using Output Fields and Required Fields for a Full Match:
                summary: Enrich Contact by Person ID Using Output Fields and Required Fields for a Full Match
                description: This example demonstrates how to enrich a single contact using a unique personId. The request specifies a set of outputFields to return, including email, company name, and movement status, while ensuring that required fields like id and company name are always included. This allows for precise and efficient contact data retrieval. Up to 25 contacts can be enriched in a single request.
                value:
                  data:
                    attributes:
                      matchPersonInput:
                      - personId: 4191419698
                      outputFields:
                      - id
                      - email
                      - personHasMoved
                      - hasCanadianEmail
                      - companyName
                      requiredFields:
                      - id
                      - companyName
                    type: ContactEnrich
              Enrich Contact by Person ID Using Various Company Output Fields and Required Fields for a Full Match:
                summary: Enrich Contact by Person ID Using Various Company Output Fields and Required Fields for a Full Match
                description: This example demonstrates how to enrich a single contact using a unique personId. The request specifies a set of outputFields related to the contact's company to return, including company name, company logo, and company revenue, while ensuring that required fields like id and company name are always included.
                value:
                  data:
                    attributes:
                      matchPersonInput:
                      - personId: 4191419698
                      outputFields:
                      - id
                      - email
                      - personHasMoved
                      - companyName
                      - companyDescriptionList
                      - companyPhone
                      - companyFax
                      - companyStreet
                      - companyCity
                      - companyState
                      - companyZipCode
                      - companyCountry
                      - companyLogo
                      - companySicCodes
                      - companyNaicsCodes
                      - contactAccuracyScore
                      - companyWebsite
                      - companyRevenue
                      - companyRevenueNumeric
                      - companyEmployeeCount
                      - companyType
                      - companyTicker
                      - companyRanking
                      - companySocialMediaUrls
                      - companyPrimaryIndustry
                      - companyIndustries
                      - companyRevenueRange
                      - companyEmployeeRange
                      requiredFields:
                      - id
                      - companyName
                    type: ContactEnrich
              Enrich Multiple Contacts Using Required Fields and Output Fields for a Full Match.:
                summary: Enrich Multiple Contacts Using Required Fields and Output Fields for a Full Match.
                description: This example demonstrates how to enrich multiple contacts by using a mix of identifiers—including a combination of firstName, lastName, and companyName, as well as a direct personId. The request specifies a wide range of outputFields, such as email, job title, address, company details, and regulatory flags. This allows for detailed enrichment of each contact. The response returns enriched data for each matched contact, and up to 25 contacts can be processed in a single request.
                value:
                  data:
                    attributes:
                      matchPersonInput:
                      - firstName: henry
                        companyName: zoominfo
                        lastName: schuck
                      - personId: 4191419698
                      outputFields:
                      - id
                      - email
                      - personHasMoved
                      - hasCanadianEmail
                      - region
                      - jobTitle
                      - companyName
                      - companyId
                      - managementLevel
                      - companyPrimaryIndustry
                      - companyEmployeeCount
                      - street
                      - city
                      - region
                      - metroArea
                      - zipCode
                      - state
                      - country
                      - directPhoneDoNotCall
                      - directPhoneAlt
                      - mobilePhoneAlt
                      - emailAlt
                      requiredFields:
                      - id
                      - companyName
                    type: ContactEnrich
              Enrich Contact by Person ID Using Output Fields for a No Match:
                summary: Enrich Contact by Person ID Using Output Fields for a No Match
                description: This example demonstrates how to enrich a single contact using a unique personId. The request specifies a set of outputFields to return, including email, company name, and movement status. The response is a no match response for the contact criteria requested.
                value:
                  data:
                    attributes:
                      matchPersonInput:
                      - personId: 0
                      outputFields:
                      - id
                      - email
                      - personHasMoved
                      - hasCanadianEmail
                      - companyName
                    type: ContactEnrich
        description: The request body containing contact enrich criteria.
      security:
      - OAuth2Auth:
        - api:data:contact
      x-additional-content-types:
      - application/json
      x-api-roles:
      - fea:zia
      - fea:api
      x-api-role-requirement: ANY_REQUIRED
  /data/v1/companies/enrich:
    post:
      operationId: EnrichInterface_enrichCompany
      summary: Enrich Companies
      description: 'The Enrich Companies endpoint can be used to retrieve detailed information about up to 25 individual company records.

        Best practice is to first use Search Companies to identify the records

        you want to enrich, and then use the Company IDs as the input to specify the correct records. If your workflow does not

        support a two stage retrieval using both Search and Enrich endpoints, you can query the Company Enrich endpoint with more

        extensive input information and our system will provide the best match available to the input. The more details you provide

        the more likely we are to provide the correct match.


        Once you have indicated which records you want to enrich, you must then select which fields you want to return for the

        records using the `outputFields` list. For more details about all of the available output fields you can select, please

        use the Lookup Enrich endpoint (`filter[entity]=company` and `filter[fieldType]=output`).

        This will provide a description of each available field, as well as whether or not your account has access to this field.

        If you do not have access to a field that you need, please contact your ZoomInfo Account Manager for purchasing options.


        Each record returned by this endpoint will charge a credit from your account, unless that record is already under management

        (see Credit Usage and Limits Guide for more details). If we fail to find the record and return

        “No match” or if we return an error code a credit will not be charged.'
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CompanyEnrichResponse'
              examples:
                Enrich Company Data by Website Using Multiple Output Fields for a Full Match:
                  summary: Enrich Company Data by Website Using Multiple Output Fields for a Full Match
                  description: This example demonstrates how to enrich company data using a companyWebsite input and specifying a list of outputFields for the API to return. The response includes the number of matching records. You can include up to 25 company inputs in a single enrich request.
                  value:
                    data:
                    - attributes:
                        name: ZoomInfo
                        socialMediaUrls:
                        - followerCount: '128080'
                          type: LINKED_IN
                          url: http://www.linkedin.com/company/zoominfo
                        - followerCount: '14413'
                          type: TWITTER
                          url: http://www.twitter.com/zoominfo
                        - type: FACEBOOK
                          url: http://www.facebook.com/109325735758217
                        ticker: 'NASDAQ: GTM'
                        website: www.zoominfo.com
                      id: '344589814'
                      meta:
                        input:
                          companyWebsite: www.zoominfo.com
                        matchStatus: FULL_MATCH
                      type: Company
                Enrich Company Data Using Multiple Inputs and Output Fields for a Full Match:
                  summary: Enrich Company Data Using Multiple Inputs and Output Fields for a Full Match
                  description: This example demonstrates how to enrich multiple companies by providing company details such as companyId and set of outputFields is specified to retrieve detailed company attributes, including website, revenue, social media presence, employee range, parent company details, and more. The response returns enriched data for each matched company. Up to 25 companies can be included in a single enrich request.
                  value:
                    data:
                    - attributes:
                        certified: true
                        companyStatus: ALIVE
                        continent: North America
                        country: United States
                        employeeRange: 1,000 - 5,000
                        foundedYear: '2000'
                        locationCount: 18
                        name: ZoomInfo
                        numberOfContactsInZoomInfo: 4336
                        parentId: 0
                        revenue: 245188088
                        socialMediaUrls:
                        - followerCount: '128080'
                          type: LINKED_IN
                          url: http://www.linkedin.com/company/zoominfo
                        - followerCount: '14413'
                          type: TWITTER
                          url: http://www.twitter.com/zoominfo
                        - type: FACEBOOK
                          url: http://www.facebook.com/109325735758217
                        ticker: 'NASDAQ: GTM'
                        website: www.zoominfo.com
                      id: '344589814'
                      meta:
                        input:
                          companyId: 344589814
                        matchStatus: FULL_MATCH
                      type: Company
                    - attributes:
                        certified: true
                        companyStatus: ALIVE
                        continent: North America
                        country: United States
                        employeeRange: 50 -100
                        foundedYear: '2015'
                        locationCount: 2
                        name: Comparably
                        numberOfContactsInZoomInfo: 55
                        parentId: 344589814
                        parentName: ZoomInfo Technologies LLC
                        revenue: 11615
                        socialMediaUrls:
                        - followerCount: '19537'
                          type: TWITTER
                          url: http://www.twitter.com/comparably
                        - followerCount: '14413'
                          type: LINKED_IN
                          url: http://www.linkedin.com/company/comparably
                        - followerCount: '6436'
                          type: FACEBOOK
                          url: http://www.facebook.com/comparably
                        website: www.comparably.com
                      id: '344589814'
                      meta:
                        input:
                          companyId: 344589814
                        matchStatus: FULL_MATCH
                      type: Company
                Enrich Company Data by Website Using Multiple Output Fields resulting no Match:
                  summary: Enrich Company Data by Website Using Multiple Output Fields resulting no Match
                  description: This example demonstrates how to enrich company data using a companyWebsite input and specifying a list of outputFields for the API to return. The response is a no match response for the company criteria requested.
                  value:
                    data:
                    - id: '0'
                      meta:
                        input:
                          companyWebsite: www.no-company.com
                        matchStatus: NO_MATCH
                      type: NoMatch
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Enrich
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CompanyEnrichRequest'
            examples:
              Enrich Company Data by Website Using Multiple Output Fields for a Full Match:
                summary: Enrich Company Data by Website Using Multiple Output Fields for a Full Match
                description: This example demonstrates how to enrich company data using a companyWebsite input and specifying a list of outputFields for the API to return. The response includes the number of matching records. You can include up to 25 company inputs in a single enrich request.
                value:
                  data:
                    attributes:
                      matchCompanyInput:
                      - companyWebsite: www.zoominfo.com
                      outputFields:
                      - id
                      - ticker
                      - name
                      - website
                      - socialMediaUrls
                    type: CompanyEnrich
              Enrich Company Data Using Multiple Inputs and Output Fields for a Full Match:
                summary: Enrich Company Data Using Multiple Inputs and Output Fields for a Full Match
                description: This example demonstrates how to enrich multiple companies by providing company details such as companyId and set of outputFields is specified to retrieve detailed company attributes, including website, revenue, social media presence, employee range, parent company details, and more. The response returns enriched data for each matched company. Up to 25 companies can be included in a single enrich request.
                value:
                  data:
                    attributes:
                      matchCompanyInput:
                      - companyId: 344589814
                      - companyId: 344589814
                      outputFields:
                      - id
                      - ticker
                      - name
                      - website
                      - socialMediaUrls
                      - revenue
                      - numberOfContactsInZoomInfo
                      - country
                      - continent
                      - companyStatus
                      - alexaRank
                      - hashtags
                      - certified
                      - employeeRange
                      - employeeRange
                      - employeeGrowth
                      - parentId
                      - parentName
                      - locationCount
                      - foundedYear
                    type: CompanyEnrich
              Enrich Company Data by Website Using Multiple Output Fields resulting no Match:
                summary: Enrich Company Data by Website Using Multiple Output Fields resulting no Match
                description: This example demonstrates how to enrich company data using a companyWebsite input and specifying a list of outputFields for the API to return. The response is a no match response for the company criteria requested.
                value:
                  data:
                    attributes:
                      matchCompanyInput:
                      - companyWebsite: www.no-company.com
                      outputFields:
                      - id
                      - ticker
                      - name
                      - website
                      - socialMediaUrls
                    type: CompanyEnrich
        description: The request body containing company enrich criteria.
      security:
      - OAuth2Auth:
        - api:data:company
      x-additional-content-types:
      - application/json
      x-api-roles:
      - fea:zia
      - fea:api
      x-api-role-requirement: ANY_REQUIRED
  /data/v1/companies/corporate-hierarchy/enrich:
    post:
      operationId: EnrichInterface_enrichCorporateHierarchy
      summary: Enrich Corporate Hierarchy
      description: 'Enrich the corporate hierarchy structure of up to 25 individual company records. Based on the provided inputs,

        ZoomInfo will find the Company that best matches in provided inputs and return the full corporate hierarchy

        structure for the matched Company. Corporate hierarchy structure includes the `familyTree` which starts at the

        top-level parent company for the matched Company, and lists all Subsidiaries, Acquisitions, Former Names (if a company

        within the hierarchy has officially changed names previously). The `familyTree` also lists all known Locations for each

        company within the hierarchy. If no match can be made from the provided input values, then a `NoMatch` record is returned.


        Additionally, if the company that was matched **IS NOT** the company at the top of the hierarchy structure, the `parentage` can

        be provided in the response. This lists the all of the parent companies for the matched company all the way to the top-level

        (ultimate parent) company.


        The desired `outputFields` must be provided for each request. For more details about all of the available output fields

        you can select, please use the Lookup Enrich endpoint (`filter[entity]=corporate-hierarchy`

        and `filter[fieldType]=output`). This will provide a description of each available field, as well as whether or not your account has

        access to this field. If you do not have access to a field that you need, please contact your ZoomInfo Account Manager for purchasing options.


        Each record returned by this endpoint will charge a credit from your account, unless that record is already under management

        (see Credit Usage and Limits Guide for more details). If we fail to find the record and return

        `NoMatch` or if we return an error code a credit will not be charged.'
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CorporateHierarchyEnrichResponse'
              examples:
                Enrich Corporate Hierarchy Data by Company ID:
                  summary: Enrich Corporate Hierarchy Data by Company ID
                  description: This example demonstrates how to enrich corporate hierarchy data using a companyId input. The response includes the family tree showing ZoomInfo's subsidiaries with their organizational relationships.
                  value:
                    data:
                    - attributes:
                        companyId: 344589814
                        familyTree:
                        - companyId: 344589814
                          name: ZoomInfo
                          city: Vancouver
                          state: Washington
                          familyNodes:
                          - name: Comparably
                            companyId: 382321985
                            city: Santa Monica
                            state: California
                            subUnitTypeInfo:
                              typeId: 4
                              typeDescription: Subsidiary
                          - name: DiscoverOrg
                            companyId: 346572700
                            city: Vancouver
                            state: Washington
                            subUnitTypeInfo:
                              typeId: 5
                              typeDescription: Acquisition
                      id: '344589814'
                      meta:
                        input:
                          companyId: 344589814
                        matchStatus: FULL_MATCH
                      type: CorporateHierarchy
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Enrich
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CorporateHierarchyEnrichRequest'
            examples:
              Enrich Corporate Hierarchy Data by Company ID:
                summary: Enrich Corporate Hierarchy Data by Company ID
                description: This example demonstrates how to enrich corporate hierarchy data using a companyId input. The response includes the family tree showing ZoomInfo's subsidiaries with their organizational relationships.
                value:
                  data:
                    attributes:
                      matchCompanyInput:
                      - companyId: 344589814
                      outputFields:
                      - familyTree
                      - companyId
                    type: CorporateHierarchyEnrich
        description: The request body containing corporate hierarchy enrich criteria.
      security:
      - OAuth2Auth:
        - api:data:company
      x-additional-content-types:
      - application/json
      x-api-roles:
      - fea:zia
      - fea:api
      x-api-role-requirement: ANY_REQUIRED
  /data/v1/intent/enrich:
    post:
      operationId: EnrichInterface_enrichIntent
      summary: Enrich Intent
      description: 'Fetch Intent Signals for a company, enriching that company''s details with relevant buyer intent data. It is required

        for each request to provide at least one of the parameters identifying the company to enrich (`companyId`, `companyName`, or

        `companyWebsite`) and at least 1 and up to 50 Intent Topics must be provided in the `topic` parameter. All other parameters

        are optional.


        Intent data is online behavior-based activity across the internet that links prospective buyers (companies) to a topic.

        Intent Signals are the way ZoomInfo tracks intent data and can be used to indicate recent content consumption for a specific

        topic by employees at a company. Key terminology for Intent Signals includes:


        * **Topic** - A business subject or technology area mapped to a curated collection of keywords and search terms.

        When companies research content containing these keywords, it generates intent signals that indicate their buying interest

        * **Signal Score** - Indicates the level of a company''s interest in a topic based on how recent content consumption

        compares to an historical baseline

        * **Audience Strength** - Indicates the size of the group at the company that is conducting the research


        Use Enrich Intent to find Intent Signals for a single company. To search Intent Signals across all of the companies in

        the ZoomInfo database use Search Intent


        Input parameters may require specific values. You can use the Lookup Data

        endpoint to retrieve the list of possible values.


        With reference to ZoomInfo''s Credit Usage and Limits, this endpoint will charge a single credit

        for the company that is enriched, and each Intent Signal returned in the results is counted as a Record and a successful response

        will count as a Request credit.'
      parameters:
      - name: page[number]
        in: query
        required: false
        description: Page number for the results.
        schema:
          type: integer
          format: int32
          minimum: 1
        explode: false
      - name: page[size]
        in: query
        required: false
        description: Number of records to return per page. Default is 25.
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        explode: false
      - name: sort
        in: query
        required: false
        description: Valid values are audiencestrength, category, companybname, issuedate, signaldate, signalscore, signalstrength, surgescore, topic. Add minus sign ('-') for descending order.
        schema:
          type: string
        explode: false
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IntentEnrichResponse'
              examples:
                Enrich Intent Data by Topics Using Multiple Output Fields for a Full Match:
                  summary: Enrich Intent Data by Topics Using Multiple Output Fields for a Full Match
                  description: This example demonstrates how to enrich intent data using the topic names as input and specifying a list of outputFields for the API to return. The response includes the number of matching records. You can include up to 25 topic inputs in a single enrich request.
                  value:
                    data:
                    - type: Intent
                      id: '344589814'
                      attributes:
                        category: Application Development
                        topic: Node.js
                        signalScore: 97
                        audienceStrength: B
                        signalDate: '2024-06-01T10:00:00Z'
                        recommendedContacts:
                        - id: '8800842561'
                          firstName: Dan
                          lastName: O'Donnell
                          jobTitle: Vice President, Information Technology
                          jobFunctions:
                          - name: Information Technology
                            department: Information Technology
                        - id: '1165421722'
                          firstName: James
                          lastName: Grant
                          jobTitle: Vice President & Field Chief Information Security Officer
                          jobFunctions:
                          - name: Information Technology
                            department: Information Technology
                        - id: '13866040380'
                          firstName: Jiaming
                          lastName: Lin
                          jobTitle: Vice President, Data & Analytics
                          jobFunctions:
                          - name: Information Technology
                            department: Information Technology
                        spikesInDateRange: 2
                        topSignalLocations:
                        - city: Dehradun
                          state: Uttarakhand
                          country: India
                        - city: Chennai
                          state: Tamil Nadu
                          country: India
                        company:
                          hasOtherTopicConsumption: true
                          id: '344589814'
                          name: ZoomInfo
                          website: www.zoominfo.com
                    meta:
                      page:
                        number: 1
                        total: 1
                      totalResults: 2
                    links:
                      first: /v1/intents/enrich?page[number]=1&page[size]=2
                      last: /v1/intents/enrich?page[number]=1&page[size]=2
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Enrich
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/IntentEnrichRequest'
            examples:
              Enrich Intent Data by Topics Using Multiple Output Fields for a Full Match:
                summary: Enrich Intent Data by Topics Using Multiple Output Fields for a Full Match
                description: This example demonstrates how to enrich intent data using the topic names as input and specifying a list of outputFields for the API to return. The response includes the number of matching records. You can include up to 25 topic inputs in a single enrich request.
                value:
                  data:
                    attributes:
                      companyName: Zoominfo
                      topics:
                      - Cloud Applications
                      - Credit Card Fraud
                      - Direct Deposit
                      - Google Search
                      - In-App Advertising
                      - Java
                      - Risk Management Services
                    type: IntentEnrich
        description: The request body containing intent enrich criteria.
      security:
      - OAuth2Auth:
        - api:data:intent
      x-additional-content-types:
      - application/json
      x-api-roles:
      - fea:zia
      - fea:api
      x-api-role-requirement: ANY_REQUIRED
  /data/v1/news/enrich:
    post:
      operationId: EnrichInterface_enrichNews
      summary: Enrich News
      description: 'Enrich the specified company with relevant News articles. A company identifier must be provided (companyId, companyName, companyWebsite);

        all other criteria are optional.


        Input parameters may require specific values. You can use the Lookup Data

        endpoint to retrieve the list of possible values.


        Use Enrich News to find News articles for a specific ZoomInfo company. To find News articles across the entire database of

        ZoomInfo Companies, use the Search News endpoint.


        With reference to ZoomInfo''s Credit Usage and Limits, a credit will be counted for the enriched

        company. Each News article returned in the results does count towards the customer''s Record limit and a successful response

        will count towards the Request limit. For example, a successful response that returns 10 news articles, 1 credit will be charged if

        applicable, 10 Records will be counted, and 1 Request will be counted.'
      parameters:
      - name: page[number]
        in: query
        required: false
        description: Page number for the results.
        schema:
          type: integer
          format: int32
          minimum: 1
        explode: false
      - name: page[size]
        in: query
        required: false
        description: Number of records to return per page. Default is 25.
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        explode: false
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/NewsEnrichResponse'
              examples:
                Enrich news for a specified company:
                  summary: Enrich news for a specified company
                  description: This example demonstrates how to enrich news data using a companyId, categoreis, pageDateMin, pageDateMax. The response includes the number of matching records. You can include a single input criteria in a single enrich request.
                  value:
                    data:
                    - type: News
                      id: article-1
                      attributes:
                        domain: techcrunch.com
                        title: ZoomInfo Launches Revenue Intelligence Platform
                        url: https://www.techcrunch.com/articles/zoominfo-revenue-intelligence
                        imageUrl: https://www.techcrunch.com/images/zoominfo-revenue.jpg
                        pageDate: '2024-04-22T13:30:00Z'
                        categories:
                        - PRODUCT
                        description: ZoomInfo has released a new platform aimed at boosting sales intelligence through AI.
                        company:
                        - id: 344589814
                          name: ZoomInfo
                    - type: News
                      id: article-2
                      attributes:
                        domain: businessinsider.com
                        title: ZoomInfo Hosts Go-To-Market Conference
                        url: https://www.businessinsider.com/zoominfo-gtm-event
                        imageUrl: https://www.businessinsider.com/images/gtm-event.jpg
                        pageDate: '2024-06-01T10:00:00Z'
                        categories:
                        - GENERAL_NEWS
                        description: ZoomInfo held its annual Go-To-Market summit, attracting over 5,000 attendees.
                        company:
                        - id: 344589814
                          name: ZoomInfo
                    meta:
                      page:
                        number: 1
                        total: 1
                      totalResults: 2
                    links:
                      first: /v1/news/enrich?page[number]=1&page[size]=2
                      last: /v1/news/enrich?page[number]=1&page[size]=2
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Enrich
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/NewsEnrichRequest'
            examples:
              Enrich news for a specified company:
                summary: Enrich news for a specified company
                description: This example demonstrates how to enrich news data using a companyId, categoreis, pageDateMin, pageDateMax. The response includes the number of matching records. You can include a single input criteria in a single enrich request.
                value:
                  data:
                    type: NewsEnrich
                    attributes:
                      companyId: 344589814
                      categories:
                      - PRODUCT
                      - GENERAL_NEWS
                      pageDateMin: '2024-01-01'
                      pageDateMax: '2024-12-31'
        description: The request body containing news enrich criteria.
      security:
      - OAuth2Auth:
        - api:data:news
      x-additional-content-types:
      - application/json
      x-api-roles:
      - fea:zia
      - fea:api
      x-api-role-requirement: ANY_REQUIRED
  /data/v1/companies/org-chart/enrich:
    post:
      operationId: EnrichInterface_enrichOrgChart
      summary: Enrich Org Charts
      description: 'Enrich the specified Company by providing Org Chart information. For each request, a ZoomInfo Company identifier and

        at least one ZoomInfo Department identifier are required. This endpoint then returns ZoomInfo contacts for that company

        in the requested department.


        Org Chart data displays employees organized by seniority level, enabling you to understand the structural composition

        of an organization. Org Chart data can be used to identify decision makers, analyze team composition, track organizational

        changes, and target contacts by seniority.


        Input parameters may require specific values. You can use the Lookup Data

        endpoint to retrieve the list of possible values.


        With reference to ZoomInfo''s Credit Usage and Limits, a credit will be counted for the enriched

        company, when applicable. Regardless of the number of ZoomInfo Contacts returned, a single Record will be charged per successful

        request. Additionally, a Request limit will be charged for each successful request.'
      parameters:
      - name: page[number]
        in: query
        required: false
        description: Page number for the results.
        schema:
          type: integer
          format: int32
          minimum: 1
        explode: false
      - name: page[size]
        in: query
        required: false
        description: Number of records to return per page. Default is 25.
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        explode: false
      - name: sort
        in: query
        required: false
        description: 'Sort results by valid output fields: contactAccuracyScore and lastName. If no valid fields are specified, results default to relevance-based sorting. Add minus sign (''-'') for descending order.'
        schema:
          type: string
        explode: false
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/OrgChartEnrichResponse'
              examples:
                Enrich Org Chart Data by Company ID:
                  summary: Enrich Org Chart Data by Company ID
                  description: This example demonstrates how to retrieve org chart data for a company using a companyId. The response includes contact information with organizational hierarchy details and department information.
                  value:
                    data:
                    - attributes:
                        firstName: Andrew
                        lastName: Riesenfeld
                        lastUpdatedDate: 6/19/2024 12:05 PM
                        title: Chief Operations Officer
                        hasDirectPhone: false
                        department: C-Suite
                        jobFunction: Operations Executive
                        orgChartTier: 2
                        orgChartSubTier: 2
                        companyId: '344589814'
                        companyName: ZoomInfo
                      id: '8256366202'
                      type: OrgChart
                    meta:
                      page:
                        number: 1
                        total: 1
                      totalResults: 1
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Enrich
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/OrgChartEnrichRequest'
            examples:
              Enrich Org Chart Data by Company ID:
                summary: Enrich Org Chart Data by Company ID
                description: This example demonstrates how to retrieve org chart data for a company using a companyId. The response includes contact information with organizational hierarchy details and department information.
                value:
                  data:
                    attributes:
                      companyId: '344589814'
                    type: OrgChartEnrich
        description: The request body containing org chart enrich criteria.
      security:
      - OAuth2Auth:
        - api:data:contact
      x-additional-content-types:
      - application/json
      x-api-roles:
      - fea:zia
      - fea:api
      x-api-role-requirement: ANY_REQUIRED
  /data/v1/scoops/enrich:
    post:
      operationId: EnrichInterface_enrichScoop
      summary: Enrich Scoops
      description: 'Enrich the specified company with relevant Scoops. A company identifier must be provided (companyId, companyName, companyWebsite);

        all other criteria are optional.


        Input parameters may require specific values. You can use the Lookup Data

        endpoint to retrieve the list of possible values.


        Use Enrich Scoops to find Scoops for a specific ZoomInfo company. To find Scoops across the entire database of

        ZoomInfo Companies, use the Search Scoops endpoint.


        With reference to ZoomInfo''s Credit Usage and Limits, a credit will be counted for the enriched

        company. Each Scoop returned in the results does count towards the customer''s Record limit and a successful response

        will count towards the Request limit. For example, a successful response that returns 10 Scoops, 1 credit will be charged if

        applicable, 10 Records will be counted, and 1 Request will be counted.'
      parameters:
      - name: page[number]
        in: query
        required: false
        description: Page number for the results.
        schema:
          type: integer
          format: int32
          minimum: 1
        explode: false
      - name: page[size]
        in: query
        required: false
        description: Number of records to return per page. Default is 25.
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        explode: false
      - name: sort
        in: query
        required: false
        description: 'Sort results by valid output fields: scoopId, originalPublishedDate, description, link, or linkText. Add minus sign (''-'') for descending order.'
        schema:
          type: string
        explode: false
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ScoopEnrichResponse'
              examples:
                Enrich scoops by company name and multiple scoop types:
                  summary: Enrich scoops by company name and multiple scoop types
                  description: This example demonstrates how to enrich scoops using the ZoomInfo API by filtering on company name and multiple scoop types. In this example, we search for ZoomInfo company scoops with scoop types '1,6,7,8' (covering various types including Awards, Events, and Facilities changes), within a date range from November 1, 2018, to June 21, 2020. The response returns 3 diverse scoops showing different types of company activities and achievements.
                  value:
                    data:
                    - type: Scoop
                      id: '1811048'
                      attributes:
                        id: '1811048'
                        company:
                          id: '344589814'
                          name: ZoomInfo
                        description: ZoomInfo has announced plans to move its Grand Rapids, MI office to a new 10,000 square-foot location at 435 Ionia Ave Southwest. The location is expected to open in February 2020.
                        originalPublishedDate: '2020-02-11T00:00:00Z'
                        publishedDate: '2020-02-11T00:00:00Z'
                        topics:
                        - id: '34'
                          topic: Facilities Relocation/Expansion
                        types:
                        - id: '8'
                          type: Facilities Relocation / Expansion
                    - type: Scoop
                      id: '1725335'
                      attributes:
                        id: '1725335'
                        company:
                          id: '344589814'
                          name: ZoomInfo
                        description: ZoomInfo will be sponsoring Dreamforce, which will be held November 19-22, 2019 in San Francisco, CA.
                        originalPublishedDate: '2019-11-12T00:00:00Z'
                        publishedDate: '2019-11-12T00:00:00Z'
                        topics:
                        - id: '38'
                          topic: Events
                        types:
                        - id: '7'
                          type: Event
                    - type: Scoop
                      id: '1620555'
                      attributes:
                        id: '1620555'
                        company:
                          id: '344589814'
                          name: ZoomInfo
                        description: 'ZoomInfo has been ranked #2423 on the 2019 Inc. 5000 list, which recognizes the fastest-growing privately-held companies in the United States.'
                        originalPublishedDate: '2019-08-27T00:00:00Z'
                        publishedDate: '2019-08-27T00:00:00Z'
                        topics:
                        - id: '5'
                          topic: Award
                        types:
                        - id: '6'
                          type: Award
                    links:
                      first: uri=/data/v1/scoops/enrich?page[number]=1&page[size]=25
                      last: uri=/data/v1/scoops/enrich?page[number]=1&page[size]=25
                    meta:
                      page:
                        number: 1
                        total: 3
                      totalResults: 3
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Enrich
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ScoopEnrichRequest'
            examples:
              Enrich scoops by company name and multiple scoop types:
                summary: Enrich scoops by company name and multiple scoop types
                description: This example demonstrates how to enrich scoops using the ZoomInfo API by filtering on company name and multiple scoop types. In this example, we search for ZoomInfo company scoops with scoop types '1,6,7,8' (covering various types including Awards, Events, and Facilities changes), within a date range from November 1, 2018, to June 21, 2020. The response returns 3 diverse scoops showing different types of company activities and achievements.
                value:
                  data:
                    type: ScoopEnrich
                    attributes:
                      publishedStartDate: '2018-11-01'
                      publishedEndDate: '2020-06-21'
                      scoopType: 1,6,7,8
                      companyName: ZoomInfo
        description: The request body containing news enrich criteria.
      security:
      - OAuth2Auth:
        - api:data:scoops
      x-additional-content-types:
      - application/json
      x-api-roles:
      - fea:zia
      - fea:api
      x-api-role-requirement: ANY_REQUIRED
  /data/v1/companies/technologies/enrich:
    post:
      operationId: EnrichInterface_enrichTechnology
      summary: Enrich Technologies
      description: 'Return a list of technologies from ZoomInfo''s company data that match to the provided company. Technologies data provides

        a list of technologies that ZoomInfo has identified the matched company is using. These technologies are identified through

        analyzing company websites, analyzing job postings, company and partnership announcements, data partnerships, ai models, and

        many other methods.


        With reference to ZoomInfo''s Credit Usage and Limits, this endpoint will charge a single credit

        for the company that is enriched, and the company is also counted as a Record. Each successful response will count as a

        Request credit.'
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TechnologyEnrichResponse'
              examples:
                Enrich technologies for a specified company:
                  summary: Enrich technologies for a specified company
                  description: This example demonstrates how to enrich technologies data using a companyId. The response includes the technologies associated for that company. You can include a single input criteria in a single enrich request.
                  value:
                    data:
                    - type: Technology
                      id: '24128'
                      attributes:
                        attribute: 333.198.20393979
                        category: File Sharing
                        categoryParent: Communication and Collaboration
                        createdDate: '2016-07-16'
                        description: Jupyter is an open source project that offers a web application for making and sharing documents. It supports more than 40 programming languages, allows sharing notebooks with others, manages authentication, and leverages big data tools.
                        domain: jupyter.org
                        logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/jupyter.org
                        modifiedDate: '2020-12-08'
                        product: Jupyter
                        vendor: Project Jupyter
                        website: http://jupyter.org/
                    meta:
                      totalResults: 1
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Enrich
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/TechnologyEnrichRequest'
            examples:
              Enrich technologies for a specified company:
                summary: Enrich technologies for a specified company
                description: This example demonstrates how to enrich technologies data using a companyId. The response includes the technologies associated for that company. You can include a single input criteria in a single enrich request.
                value:
                  data:
                    type: TechnologyEnrich
                    attributes:
                      companyId: 344589814
        description: The request body containing company technologies enrich criteria.
      security:
      - OAuth2Auth:
        - api:data:company
      x-additional-content-types:
      - application/json
      x-api-roles:
      - fea:zia
      - fea:api
      x-api-role-requirement: ANY_REQUIRED
  /data/v1/companies/hashtags/enrich:
    post:
      operationId: EnrichInterface_enrichHashtag
      summary: Enrich Hashtags
      description: 'Return a list of hashtags from ZoomInfo''s company data that match to the provided company. Hashtags are predefined

        categorical labels that classify companies based on specific business characteristics, technologies, or attributes.

        They function as structured metadata tags that enable precise filtering and segmentation of companies in the ZoomInfo database.


        With reference to ZoomInfo''s Credit Usage and Limits, this endpoint will charge a single credit

        for the company that is enriched, and the company is also counted as a Record. Each successful response will count as a

        Request credit.'
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HashtagEnrichResponse'
              examples:
                Enrich hashtags for a specified company:
                  summary: Enrich hashtags for a specified company
                  description: This example demonstrates how to enrich hashtags data using a companyId. The response includes the hashtags associated for that company. You can include a single input criteria in a single enrich request.
                  value:
                    data:
                    - type: Hashtag
                      id: '#250_plus_operations'
                      attributes:
                        categorizedFlag: false
                        description: This company has 250 or more employees in an operations role
                        displayLabel: 250+ Operations Employees
                        displayScore: 'yes'
                        group: Number of Operations Employees
                        hidden: false
                        label: 250+ Operations Employees
                        parentCategory: Job Function
                        priority: 250
                        searchString: 250 operations employees
                    meta:
                      totalResults: 1
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Enrich
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/HashtagEnrichRequest'
            examples:
              Enrich hashtags for a specified company:
                summary: Enrich hashtags for a specified company
                description: This example demonstrates how to enrich hashtags data using a companyId. The response includes the hashtags associated for that company. You can include a single input criteria in a single enrich request.
                value:
                  data:
                    type: HashtagEnrich
                    attributes:
                      companyId: 344589814
        description: The request body containing company hashtag enrich criteria.
      security:
      - OAuth2Auth:
        - api:data:company
      x-additional-content-types:
      - application/json
      x-api-roles:
      - fea:zia
      - fea:api
      x-api-role-requirement: ANY_REQUIRED
components:
  schemas:
    LocationMatch:
      type: object
      properties:
        companyId:
          type: integer
          format: int64
          description: Unique ZoomInfo identifier for the company.
        address:
          allOf:
          - $ref: '#/components/schemas/Address'
          description: Address details for the company's location.
        addressStatus:
          type: string
          description: Address status for the location (CURRENT, VALID, PAST).
      description: Location details that match address-related input parameters. Includes companyId, address, and addressStatus (CURRENT, VALID, PAST).
    ContactEnrichRequestAttributes:
      type: object
      required:
      - outputFields
      - matchPersonInput
      properties:
        outputFields:
          type: array
          items:
            type: string
            enum:
            - city
            - companyAlternateLogos
            - companyCity
            - companyContinent
            - companyCountry
            - companyDescription
            - companyDivision
            - companyEmployeeCount
            - companyEmployeeGrowth
            - companyEmployeeRange
            - companyFax
            - companyId
            - companyIndustries
            - companyIndustryCodes
            - companyLogo
            - companyNaicsCodes
            - companyName
            - companyPhone
            - companyPrimaryIndustry
            - companyPrimaryIndustryCode
            - companyPrimarySubIndustryCode
            - companyRanking
            - companyRevenue
            - companyRevenueNumeric
            - companyRevenueRange
            - companySicCodes
            - companySocialMediaUrls
            - companyState
            - companyStreet
            - companyTicker
            - companyType
            - companyWebsite
            - companyZipCode
            - contactAccuracyScore
            - continent
            - country
            - directPhoneAlt
            - directPhoneDoNotCall
            - education
            - email
            - emailAlt
            - employmentHistory
            - engagements
            - externalUrls
            - firstName
            - hasCanadianEmail
            - hashedEmails
            - id
            - isDefunct
            - jobFunction
            - jobTitle
            - lastName
            - lastUpdatedDate
            - locationCompanyId
            - managementLevel
            - metroArea
            - middleName
            - mobilePhone
            - mobilePhoneAlt
            - mobilePhoneDoNotCall
            - noticeProvidedDate
            - personHasMoved
            - phone
            - picture
            - positionStartDate
            - region
            - salutation
            - state
            - street
            - suffix
            - supplementalEmail
            - techSkills
            - validDate
            - withinCalifornia
            - withinCanada
            - withinEu
            - yearsOfExperience
            - zipCode
          description: Specifies the fields to include in the response. To request company-related fields for a contact, use camel-case field names corresponding to the company object (e.g., companyName, companyPhone, companyId, companyRevenue).
        requiredFields:
          type: array
          items:
            type: string
          description: List of fields that are required for the match.
        matchPersonInput:
          type: array
          items:
            $ref: '#/components/schemas/ContactEnrichRequestCriteria'
          minItems: 1
          maxItems: 25
          description: List of matchPersonInput.
      description: Contact enrich request attributes.
    CompanyStatus:
      type: string
      enum:
      - NEW
      - ALIVE
      - DEFUNCT_DOMAIN_DOWN
      - DEFUNCT_DECLARATION
      - DEFUNCT_MANUAL
      - DEFUNCT_FORMER_NAME
      - DEFUNCT_ACQUISITION
      description: Represents the current status of the company
    CorporateHierarchyEnrichRequest:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/CorporateHierarchyEnrichRequestResource'
          description: The primary data of the document
      description: Corporate hierarchy enrich request.
    ContactEnrichRequest:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/ContactEnrichRequestResource'
          description: The primary data of the document
      description: Contact enrich request.
    FamilyNode:
      type: object
      required:
      - subUnitTypeInfo
      properties:
        city:
          type: string
          description: City of the company's primary address.
        state:
          type: string
          description: State or province of the company's primary address.
        name:
          type: string
          description: Company name.
        companyId:
          type: integer
          format: int64
          description: Unique ZoomInfo identifier for a company.
        subUnitTypeInfo:
          allOf:
          - $ref: '#/components/schemas/SubUnitTypeInfo'
          description: Denotes the type of sub-unit represented by a family node within the corporate hierarchy.
        familyNodes:
          description: Denotes a branch or sub-branch of the family tree within the corporate hierarchy.
          type: array
          items:
            $ref: '#/components/schemas/FamilyNode'
      description: Family node information.
    FamilyTree:
      type: object
      properties:
        city:
          type: string
          description: City of the company's primary address.
        state:
          type: string
          description: State or province of the company's primary address.
        companyId:
          type: integer
          format: int64
          description: Unique ZoomInfo identifier for a company.
        name:
          type: string
          description: Company name.
        familyNodes:
          type: array
          items:
            $ref: '#/components/schemas/FamilyNode'
          description: Denotes a branch or sub-branch of the family tree within the corporate hierarchy.
      description: Family tree information.
    IndustryCode:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the industry code.
        name:
          type: string
          description: Name of the industry code.
      description: The industry grouping for the company along with it's codes. A company can have multiple industries.
    EducationDegree:
      type: object
      properties:
        degree:
          type: string
          description: Degree type (e.g., Bachelor of Science, Master of Arts, Doctor of Philosophy).
        areaOfStudy:
          type: string
          description: Area of study for the degree (e.g., Computer Science, Business Administration, Economics).
      description: Education degree for match
    EmploymentHistory:
      type: object
      properties:
        jobTitle:
          type: string
          description: Contact title at current place of employment
        managementLevel:
          type: array
          items:
            type: string
          description: Contact management level
        fromDate:
          type: string
          format: date
          description: Start date for this employment. Uses YYYY-MM-DD format.
        toDate:
          type: string
          format: date
          description: End date for this employment. Uses YYYY-MM-DD format.
        company:
          allOf:
          - $ref: '#/components/schemas/EmploymentCompany'
          description: Company for employment
      description: Contact employment history
    ScoopCompany:
      type: object
      properties:
        id:
          type: string
          description: Unique ZoomInfo identifier for a company.
        name:
          type: string
          description: Company name.
      description: ScoopCompany
    NewsCompany:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: integer
          format: int64
          description: Unique ZoomInfo identifier for the company.
        name:
          type: string
          description: Company name.
      description: Company related to the news article.
    ZoomInfo.Core.Foundations.ErrorModel:
      type: object
      required:
      - id
      - code
      - status
      properties:
        id:
          type: string
          description: The unique id used to identify this specific error instance
        code:
          type: string
          description: The error code describing the error category. A full list of error codes can be found in the documentation for each service
        detail:
          type: string
          description: Message containing the specific details about this occurrence of the error
        source:
          allOf:
          - $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorSourceModel'
          description: An optional object identifying which part of the request caused the error
        status:
          type: string
          description: The HTTP status code for the error
        title:
          type: string
          description: The error name that describes this type of error
      description: The object describing a specific error from the API
    ScoopEnrichResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ScoopEnrichResponseResource'
          description: The primary data of the document
        meta:
          allOf:
          - $ref: '#/components/schemas/ResultMeta'
          description: Non-standard meta information about the document
        links:
          allOf:
          - $ref: '#/components/schemas/Links'
          description: Links related to the primary data
      description: A list of scoop that match the criteria specified in the request
    ContactMatchStatus:
      type: string
      enum:
      - FULL_MATCH
      - NO_MATCH
      - NON_MATCH_BY_LAST_UPDATED_DATE
      - NON_MATCH_BY_VALID_DATE
      - NON_MATCH_BY_REQUIRED_FIELDS
      - NON_MATCH_BY_CONTACT_ACCURACY_MIN
      - COMPANY_ONLY_MATCH
      - CONTACT_ONLY_MATCH
      - OPT_OUT
      - LIMIT_EXCEEDED
      - INVALID_INPUT
      description: Match status indicating the result of an enrich request.
      x-enumDescriptions:
        FULL_MATCH: Match status indicating a full match with all criteria met.
        NO_MATCH: Match status indicating no match found.
        LAST_UPDATE_NOT_MATCHED: Match status indicating no match. Contact's last updated date is before requested date for field lastUpdatedDateAfter.
        VALID_DATE_NOT_MATCHED: Match status indicating no match. Contact's valid date is before requested date for field validDateAfter.
        REQUIRED_FIELDS_MISSING: Match status indicating no match. Required fields data for the enrich request are missing.
        CONTACT_ACCURACY_NOT_MATCHED: Match status indicating no match. Contact's contact accuracy score is below the requested minimum for field contactAccuracyScoreMin.
        COMPANY_MATCH_ONLY: Match status indicating a match with company data only.
        CONTACT_MATCH_ONLY: Match status indicating a match with contact data only.
        CONTACT_OPTED_OUT: Match status indicating the contact has opted out of ZoomInfo's data collection.
        LIMIT_EXCEEDED: Match status indicating the enrich request credit limit has been exceeded.
        INPUT_ERROR: Match status indicating an error with the input data.
    SicCode:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the SIC code.
        name:
          type: string
          description: Name of the SIC code.
      description: The Standard Industrial Classification is a system for classifying industries by a four-digit code.
    IntentEnrichRequest:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/IntentEnrichRequestResource'
          description: The primary data of the document
      description: Intent enrich request.
    ContactEnrichResponseResourceUnion:
      type: object
      oneOf:
      - $ref: '#/components/schemas/EnrichContact'
      - $ref: '#/components/schemas/NoMatchContact'
      discriminator:
        propertyName: type
        mapping:
          Contact: '#/components/schemas/EnrichContact'
          NoMatch: '#/components/schemas/NoMatchContact'
      description: Represents the possible resource types returned in a contact enrich response, including both a successful contact match and a no-match result. Used to encapsulate the response resource for contact enrichment.
    CorporateHierarchyAttributeMeta:
      type: object
      required:
      - matchStatus
      - input
      properties:
        matchStatus:
          allOf:
          - $ref: '#/components/schemas/CompanyMatchStatus'
          description: The match status for the corporate hierarchy enrich operation, indicating whether a match was found and the type of match.
        input:
          allOf:
          - $ref: '#/components/schemas/CorporateHierarchyEnrichRequestCriteria'
          description: The input criteria that was used to perform the corporate hierarchy enrich match. This provides traceability for the match result.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/Warning'
          description: Details about any warnings encountered during the validation of the enrich request input criteria.
      description: Metadata describing the result of a corporate hierarchy enrich match, including the match status and the input criteria used for the match. Used to provide additional context about how the corporate hierarchy enrich response was determined.
    NewsEnrichRequestAttributes:
      type: object
      properties:
        companyId:
          type: integer
          format: int64
          description: Unique ZoomInfo identifier for the company.
        categories:
          type: array
          items:
            type: string
          description: Category of news articles. Accepts an Array of String. See the 'News Categories' lookup endpoint for values.
        url:
          type: array
          items:
            type: string
          description: News URL strings. Accepts an Array of String. Minimum of 5 characters per input
        pageDateMin:
          type: string
          format: date
          description: Specify the earliest publishing date for news articles returned. Uses YYYY-MM-DD format (e.g., 2020-01-01 will return all news articles published on or after Jan 1, 2020).
        pageDateMax:
          type: string
          format: date
          description: Specify the latest publishing date for news articles articles. Uses YYYY-MM-DD format (e.g., 2020-01-31 will return all new articles published on or before Jan 31, 2020).
      description: Request attributes for news enrich.
    CompanyMatchStatus:
      type: string
      enum:
      - FULL_MATCH
      - NO_MATCH
      - LIMIT_EXCEEDED
      - INVALID_INPUT
      x-enumDescriptions:
        FULL_MATCH: Match status indicating a full match with all criteria met.
        NO_MATCH: Match status indicating no match found.
        LIMIT_EXCEEDED: Match status indicating the enrich request credit limit has been exceeded.
        INPUT_ERROR: Match status indicating an error with the input data.
    CompanyEnrichResponseAttributes:
      type: object
      properties:
        socialMediaUrls:
          type: array
          items:
            $ref: '#/components/schemas/SocialMediaUrl'
          description: Social media URLs for the company (e.g., Facebook, Twitter, LinkedIn and so on).
        primaryIndustry:
          type: array
          items:
            type: string
          description: Top-level industry for a company.
        primaryIndustryCode:
          type: array
          items:
            $ref: '#/components/schemas/PrimaryIndustryCode'
          description: Top-level industry for a company along with its code.
        primarySubIndustryCode:
          type: array
          items:
            $ref: '#/components/schemas/PrimarySubIndustryCode'
          description: Top-level sub-industry for a company along with its code.
        industries:
          type: array
          items:
            type: string
          description: The industry grouping for the company. A company can have multiple industries.
        industryCodes:
          type: array
          items:
            $ref: '#/components/schemas/IndustryCode'
          description: The industry grouping for the company along with it's codes. A company can have multiple industries.
        website:
          type: string
          description: Company website.
        type:
          type: string
          description: Company type (private, public, npo, education, government, other).
        ticker:
          type: string
          description: Company public stock exchange ticker.
        name:
          type: string
          description: Company name.
        description:
          type: string
          description: Description associated with the company.
        phone:
          type: string
          description: Company phone number.
        fax:
          type: string
          description: Fax number of the company headquarters.
        street:
          type: string
          description: Street portion of the company's primary address.
        city:
          type: string
          description: City of the company's primary address.
        state:
          type: string
          description: State or province of the company's primary address.
        zipCode:
          type: string
          description: Zip code or postal code of the company's primary address.
        country:
          type: string
          description: Country of the company's primary address.
        continent:
          type: string
          description: Continent of the company's primary address.
        logo:
          type: string
          description: The URL which can be used to retrieve the logo for the company.
        alternateLogos:
          type: array
          items:
            type: string
          description: List of alternate logos for the company.
        employeeCount:
          type: integer
          format: int32
          description: Employee count of the company.
        sicCodes:
          type: array
          items:
            $ref: '#/components/schemas/SicCode'
          description: The Standard Industrial Classification is a system for classifying industries by a four-digit numerical code assigned by the U.S. government to business establishments to identify the primary business of the establishment.
        naicsCodes:
          type: array
          items:
            $ref: '#/components/schemas/NaicsCode'
          description: Four-digit numerical codes assigned by the U.S. government to business establishments to identify the primary business of the establishment.
        employeeRange:
          type: string
          description: Employee range at the company.
        employeeGrowth:
          allOf:
          - $ref: '#/components/schemas/EmployeeGrowth'
          description: Employee growth rate at the company.
        revenueRange:
          type: string
          description: Revenue range for a company.
        domainList:
          type: array
          items:
            type: string
          description: List of domains associated with a company.
        revenue:
          type: integer
          format: int64
          description: Approximate yearly revenue for the company in 1000's. For example, a $100M company is expressed as 100000.
        numberOfContactsInZoomInfo:
          type: integer
          format: int32
          description: Number of ZoomInfo contacts associated with company.
        companyStatus:
          allOf:
          - $ref: '#/components/schemas/CompanyStatus'
          description: Company status.
        companyStatusDate:
          type: string
          format: date-time
          description: Date of last company status update.
        competitors:
          type: array
          items:
            $ref: '#/components/schemas/Competitor'
          description: List of competitors.
        ultimateParentId:
          type: integer
          format: int64
          description: Unique ZoomInfo identifier for ultimate parent company (if exists).
        ultimateParentName:
          type: string
          description: Company name for ultimate parent company (if exists).
        ultimateParentRevenue:
          type: integer
          format: int32
          description: Approximate yearly revenue for the ultimate parent company.
        ultimateParentEmployees:
          type: integer
          format: int32
          description: Approximate number of people employed by the ultimate parent company.
        subUnitType:
          type: string
          description: Company sub unit types (e.g., division, subsidiary, etc.).
        subUnitIndustries:
          type: array
          items:
            type: string
          description: Company sub unit industries.
        parentId:
          type: integer
          format: int64
          description: Unique ZoomInfo identifier associated with the parent company.
        parentName:
          type: string
          description: Company name associated with the parent company.
        locationCount:
          type: integer
          format: int32
          description: Number of office locations associated with a company.
        locationMatch:
          allOf:
          - $ref: '#/components/schemas/LocationMatch'
          description: Location details that match address-related input parameters. Includes companyId, address, and addressStatus (CURRENT, VALID, PAST).
        metroArea:
          type: string
          description: Company metro area.
        lastUpdatedDate:
          type: string
          format: date-time
          description: Date on which the company record was last updated.
        createdDate:
          type: string
          format: date-time
          description: Date on which the company record was created.
        certificationDate:
          type: string
          format: date-time
          description: Date of certification.
        certified:
          type: boolean
          description: Denotes if ZoomInfo's research and data team has confirmed activity within the past 12 months.
        products:
          type: array
          items:
            type: string
          description: List of products associated with a company.
        companyFunding:
          type: array
          items:
            $ref: '#/components/schemas/CompanyFunding'
          description: List of funding rounds including date, type , investors, and amount.
        recentFundingAmount:
          type: integer
          format: int32
          description: Most recent funding amount.
[...]
