openapi: 3.1.0
info:
  title: ZoomInfo Authentication Technology Enrich API
  description: The ZoomInfo API is a set of HTTPS endpoints you can use to programmatically retrieve and integrate ZoomInfo data into your existing technology stack and ...
  contact:
    name: ZoomInfo API Support
    url: https://www.zoominfo.com/about/help-center
    email: support@zoominfo.com
  version: '1.0'
  x-last-validated: '2026-04-18'
servers:
- url: https://api.zoominfo.com
  description: ZoomInfo API Production Server
security:
- bearerAuth: []
tags:
- name: Technology Enrich
  description: 'Use [Technology Enrich](#9fc40c02-fe95-448f-a6f4-e903c85c81a9) to retrieve company technology detail using valid query parameters.


    Refer to the examples provided to build a valid JSON request. Use the [Technology Enrich Inputs](#2cc6abbc-e782-4ab4-80e8-ce29ed17ee4e) endpoint to retrieve a list of valid input parameters you can provide.'
paths:
  /enrich/tech:
    parameters: []
    post:
      tags:
      - Technology Enrich
      summary: Zoominfo Technology Enrich
      description: 'Use this endpoint to match technology information based on [input values](#2cc6abbc-e782-4ab4-80e8-ce29ed17ee4e) and return output fields in the response.


        **Input params**


        | Parameter | DataType | Description |

        | --- | --- | --- |

        | companyId | String | Required. The ID of the company for which you want to find technologies. |


        **Output fields**


        | Field | Description |

        | --- | --- |

        | tag | Unique tag ID for a given technology |

        | categoryParent | Technology category parent |

        | category | Technology category |

        | vendor | Technology vendor |

        | product | Technology product |

        | website | Technology website |

        | logo | Technology logo |

        | domain | Vendor domain |

        | createdTime | Date the vendor was created |

        | modifiedTime | Date the vendor was modified |

        | description | Technology description |'
      operationId: TechnologyEnrich
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/TechnologyEnrichRequest'
              - examples:
                - companyId: '344589814'
              contentMediaType: application/json
            example:
              companyId: '344589814'
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 22 Apr 2020 14:16:36 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            CF-Ray:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 587ff6965e07ae06-BOS
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: _pxhd=5388d0855eb91b72ba1639994759a291802c09115c95da4fd2b63cd11d3b0fee:65308c81-8334-11ea-bebd-2f3883040f62; path=/;
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1.1 google, 1.1 google
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: DYNAMIC
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            x-application-context:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: application:production:8080
            X-RateLimit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1500'
            X-RateLimit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1499'
            X-RateLimit-Reset:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1587565054'
            X-Usage-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999999205'
            X-Usage-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999971046'
            X-Usage-Unique-Id-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Unique-Id-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9999985'
            X-Usage-Websights-Api-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Websights-Api-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9999965'
            X-Usage-Websights-Api-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '100000000'
            X-Usage-Websights-Api-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '99999965'
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: cloudflare
            cf-request-id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 0243d871fa0000ae0658247200000001
          content:
            application/json;charset=utf-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Enrichtechnologyforacompany'
                - examples:
                  - maxResults: 174
                    totalResults: 174
                    currentPage: 1
                    data:
                    - tag: '25420'
                      categoryParent: IT Infrastructure
                      category: Infrastructure as a Service (IaaS)
                      vendor: Google LLC
                      product: Google Compute Engine
                      attribute: 334.194.1
                      website: https://cloud.google.com/compute/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/cloud.google.com
                      domain: cloud.google.com
                      createdTime: 8/11/16 14:14
                      modifiedTime: 10/10/18 6:45
                      description: Google Compute Engine is the Infrastructure as a service component of google cloud platform which is built on the global infrastructure that runs googles search engine, gmail, youtube and other services. It offers high performance virtual machines, customer-friendly pricing, fast networking, and carbon-neutral impact.
                    - tag: '23715'
                      categoryParent: Development
                      category: Container Management Software
                      vendor: The Kubernetes Authors
                      product: Kubernetes
                      attribute: 328.321.25880464
                      website: http://kubernetes.io/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/kubernetes.io
                      domain: kubernetes.io
                      createdTime: 7/16/16 19:04
                      modifiedTime: 6/27/18 3:03
                      description: Kubernetes is an open-source system for automating deployment, scaling, and management of containerized applications.
                    - tag: '30170'
                      categoryParent: Development
                      category: Source Code Management
                      vendor: GitHub, Inc.
                      product: Github
                      attribute: 328.315.488
                      website: https://github.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/github.com
                      domain: github.com
                      createdTime: 10/7/16 15:28
                      modifiedTime: 11/27/17 23:41
                      description: GitHub is a Git repository hosting service, but it adds many of its own features. While Git is a command line tool, GitHub provides a Web-based graphical interface. It also provides access control and several collaboration features, such as a wikis and basic task management tools for every project.
                    - tag: '29127'
                      categoryParent: Programming
                      category: Programming Languages
                      vendor: The Perl Foundation
                      product: Perl
                      attribute: 350.67.1355576
                      website: https://perl.org
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/perl.org
                      domain: perl.org
                      createdTime: 9/20/16 15:32
                      modifiedTime: 12/18/18 22:51
                      description: Perl is a family of high-level, general-purpose, interpreted, dynamic programming languages. The languages in this family include Perl 5 and Perl 6.
                    - tag: '23717'
                      categoryParent: Development
                      category: Container Management Software
                      vendor: Docker Inc
                      product: Docker
                      attribute: 328.321.7208456
                      website: https://www.docker.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/docker.com
                      domain: docker.com
                      createdTime: 7/16/16 19:04
                      modifiedTime: 8/8/18 2:45
                      description: Docker is a software container platform. Developers use Docker to eliminate works on my machine problems when collaborating on code with co-workers. Operators use Docker to run and manage apps side-by-side in isolated containers to get better compute density. Enterprises use Docker to build agile software delivery pipelines.
                    - tag: '124797'
                      categoryParent: IT Management
                      category: Communication Hardware
                      vendor: T-Mobile
                      product: T-Mobile
                      attribute: 468.466.120257380
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 13:52
                      description: ''
                    - tag: '122544'
                      categoryParent: Programming
                      category: Frameworks and Libraries
                      vendor: Kevin Brown
                      product: Select2
                      attribute: 350.66.120253333
                      website: https://select2.org/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/select2.org
                      domain: select2.org
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 13:31
                      description: jQuery replacement for select boxes
                    - tag: '126617'
                      categoryParent: Programming
                      category: Other Programming Software
                      vendor: Google LLC
                      product: YouTube IFrame Embed
                      attribute: 350.451.1
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 12/25/19 7:36
                      description: ''
                    - tag: '92574'
                      categoryParent: Communication and Collaboration
                      category: Team Collaboration
                      vendor: Microsoft Office
                      product: Microsoft Exchange Server
                      attribute: 333.267.32627
                      website: https://products.office.com/en/microsoft-exchange-2013
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/products.office.com
                      domain: products.office.com
                      createdTime: 9/4/18 4:02
                      modifiedTime: 11/13/18 2:09
                      description: Microsoft Exchange is a messaging and collaborative software solution used for managing e-mail, calendaring, contacts, and tasks.
                    - tag: '32350'
                      categoryParent: Communication and Collaboration
                      category: Project Management Software
                      vendor: Trello, Inc.
                      product: Trello
                      attribute: 333.217.20642
                      website: http://trello.com
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/trello.com
                      domain: trello.com
                      createdTime: 11/28/16 6:25
                      modifiedTime: 4/6/18 2:30
                      description: Trello is a web-based project management application originally made by Fog Creek Software in 2011, that was spun out to form the basis of a separate company in 2014 and later sold to Atlassian in January 2017. Trello is a collaboration tool that organizes your projects into boards. In one glance, Trello tells you what's being worked on, who's working on what, and where something is in a process
                    - tag: '89949'
                      categoryParent: Marketing
                      category: Other Marketing Software
                      vendor: Twitter, Inc.
                      product: Twitter Cards
                      attribute: 338.412.9
                      website: https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/abouts-cards
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/developer.twitter.com
                      domain: developer.twitter.com
                      createdTime: 8/9/18 3:00
                      modifiedTime: 8/13/18 6:36
                      description: Twitter Cards allows attaching rich photos and videos to Tweets.
                    - tag: '24070'
                      categoryParent: Miscellaneous
                      category: Miscellaneous
                      vendor: VMware, Inc
                      product: VMware (common)
                      attribute: 0.68.2140
                      website: http://www.vmware.com/ap
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/vmware.com
                      domain: vmware.com
                      createdTime: 7/16/16 19:04
                      modifiedTime: 11/12/18 0:25
                      description: VMware is a software company providing cloud and virtualization services.
                    - tag: '114002'
                      categoryParent: IT Management
                      category: Network Hardware
                      vendor: HP Development Company, L.P
                      product: HP ProCurve
                      attribute: 468.216.120252534
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 12:26
                      description: ''
                    - tag: '25426'
                      categoryParent: Programming
                      category: Integrated Development Environments
                      vendor: Microsoft Corporation
                      product: Microsoft Visual Studio
                      attribute: 350.444.28
                      website: https://www.visualstudio.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/visualstudio.com
                      domain: visualstudio.com
                      createdTime: 8/11/16 14:18
                      modifiedTime: 11/30/17 1:47
                      description: Microsoft Visual Studio is an integrated development environment (IDE) from Microsoft. It is used to develop computer programs for Microsoft Windows, as well as web sites, web apps, web services and mobile apps.
                    - tag: '5849'
                      categoryParent: Security
                      category: Email Security
                      vendor: Mimecast Services Limited
                      product: Mimecast
                      attribute: 339.343.81530
                      website: http://mimecast.com
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/mimecast.com
                      domain: mimecast.com
                      createdTime: 9/4/14 16:45
                      modifiedTime: 10/12/17 5:27
                      description: Mimecast is an international company specializing in cloud-based email management for Microsoft Exchange and Microsoft Office 365, including security, archiving, and continuity services to protect business mail. In summary, this is a company offering Cloud services for Microsoft Exchange designed to remove risk, lower costs and help businesses make sense of their email data.
                    - tag: '23703'
                      categoryParent: IT Infrastructure
                      category: Infrastructure as a Service (IaaS)
                      vendor: Microsoft Corporation
                      product: Microsoft Azure
                      attribute: 334.194.28
                      website: https://azure.microsoft.com/en-us/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/azure.microsoft.com
                      domain: azure.microsoft.com
                      createdTime: 7/16/16 19:04
                      modifiedTime: 6/4/18 3:40
                      description: Microsoft Azure (formerly Windows Azure) /��Yr/ is a cloud computing service created by Microsoft for building, testing, deploying, and managing applications and services through a global network of Microsoft-managed data centers.
                    - tag: '29784'
                      categoryParent: Programming
                      category: Programming Languages
                      vendor: Ruby
                      product: Ruby
                      attribute: 350.67.120265183
                      website: https://www.ruby-lang.org/en/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/ruby-lang.org
                      domain: ruby-lang.org
                      createdTime: 10/3/16 7:55
                      modifiedTime: 12/24/19 11:27
                      description: A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.
                    - tag: '30183'
                      categoryParent: Development
                      category: Build Automation
                      vendor: The Apache Software Foundation
                      product: Apache Maven
                      attribute: 328.317.1015
                      website: https://maven.apache.org/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/maven.apache.org
                      domain: maven.apache.org
                      createdTime: 10/7/16 16:31
                      modifiedTime: 11/27/17 23:41
                      description: Apache Maven is a software project management and comprehension tool. Based on the concept of a project object model (POM), Maven can manage a project's build, reporting and documentation from a central piece of information.
                    - tag: '125837'
                      categoryParent: Development
                      category: Server Virtualization Software
                      vendor: VMware, Inc
                      product: VMware ESX Server
                      attribute: 328.193.2140
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 14:01
                      description: ''
                    - tag: '23844'
                      categoryParent: Miscellaneous
                      category: Miscellaneous
                      vendor: SAS Institute, Inc.
                      product: SAS (common)
                      attribute: 0.68.12265
                      website: http://www.sas.com/en_us/home.html
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/sas.com
                      domain: sas.com
                      createdTime: 7/16/16 19:04
                      modifiedTime: 9/19/18 2:40
                      description: SAS is the leader in analytics. Through innovative analytics, BI and data management software and services, SAS helps turn your data into better decisions.
                    - tag: '108616'
                      categoryParent: IT Management
                      category: Network Hardware
                      vendor: Broadcom Inc.
                      product: Brocade Switches
                      attribute: 468.216.53694
                      website: http://www.brocade.com/en.html
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/brocade.com
                      domain: brocade.com
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 11:47
                      description: ''
                    - tag: '96261'
                      categoryParent: Data Management
                      category: Backup and Recovery Software
                      vendor: Veritas Technologies LLC
                      product: Veritas Backup Exec
                      attribute: 331.211.1751389
                      website: https://www.veritas.com/product/backup-and-recovery/backup-exec
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/veritas.com
                      domain: veritas.com
                      createdTime: 10/3/18 1:30
                      modifiedTime: 10/22/18 0:37
                      description: Veritas Backup Exec is a unified backup and recovery solution.
                    - tag: '83763'
                      categoryParent: Development
                      category: Software Testing Tools
                      vendor: N/A
                      product: Bugzilla
                      attribute: 328.318.0
                      website: http://www.bugzilla.org
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/bugzilla.org
                      domain: bugzilla.org
                      createdTime: 6/18/18 5:20
                      modifiedTime: 2/13/19 9:54
                      description: Bugzilla is a web-based general-purpose bugtracker and testing tool.
                    - tag: '42570'
                      categoryParent: IT Infrastructure
                      category: IT Infrastructure Monitoring
                      vendor: PagerDuty, Inc.
                      product: PagerDuty
                      attribute: 334.254.330976
                      website: http://pagerduty.com
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/pagerduty.com
                      domain: pagerduty.com
                      createdTime: 4/26/17 6:20
                      modifiedTime: 11/16/18 1:22
                      description: PagerDuty is an IT Infrastructure Monitoring service that helps create better customer, employee, and business value. Main features are contextual insights and interactive applications, optimized response orchestration, and continuous development and delivery.
                    - tag: '88207'
                      categoryParent: Programming
                      category: Frameworks and Libraries
                      vendor: The jQuery Foundation Inc
                      product: jQuery
                      attribute: 350.66.419
                      website: https://jquery.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/jquery.com
                      domain: jquery.com
                      createdTime: 7/17/18 1:30
                      modifiedTime: 8/29/18 20:38
                      description: jQuery is a cross-platform JavaScript library designed to simplify the client-side scripting of HTML.
                    - tag: '117355'
                      categoryParent: Marketing
                      category: SEO Software
                      vendor: MetaCommunications
                      product: Meta Robot
                      attribute: 338.59.120254217
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 12:53
                      description: ''
                    - tag: '29640'
                      categoryParent: Operations
                      category: Enterprise Resource Planning
                      vendor: Microsoft Corporation
                      product: Microsoft Dynamics ERP
                      attribute: 335.346.28
                      website: https://www.microsoft.com/en-us/dynamics/erp-nav-overview.aspx
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/microsoft.com
                      domain: microsoft.com
                      createdTime: 9/29/16 3:00
                      modifiedTime: 10/26/17 7:19
                      description: Microsoft Dynamics ERP is enterprise resource planning (ERP) software primarily geared toward midsize organizations as well as subsidiaries and divisions of larger organizations. Its applications are part of Microsoft Dynamics, a line of business management software owned and developed by Microsoft.
                    - tag: '109948'
                      categoryParent: Development
                      category: Server Virtualization Software
                      vendor: Citrix Systems, Inc.
                      product: Citrix NetScaler
                      attribute: 328.193.7728
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 11:56
                      description: ''
                    - tag: '114147'
                      categoryParent: Intelligence and Analytics
                      category: Data Science
                      vendor: HubSpot, Inc
                      product: HubSpot Analytics
                      attribute: 347.241.592
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 12:28
                      description: ''
                    - tag: '23845'
                      categoryParent: Intelligence and Analytics
                      category: Predictive Analytics
                      vendor: International Business Machines Corporation
                      product: IBM SPSS
                      attribute: 347.366.437
                      website: https://www.ibm.com/analytics/us/en/technology/spss/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/ibm.com
                      domain: ibm.com
                      createdTime: 7/16/16 19:04
                      modifiedTime: 10/5/18 3:10
                      description: IBM SPSS Modeler is a data mining and text analytics software application from IBM. It is used to build predictive models and conduct other analytic tasks. It has a visual interface which allows users to leverage statistical and data mining algorithms without programming.
                    - tag: '29644'
                      categoryParent: Operations
                      category: Enterprise Resource Planning
                      vendor: Microsoft Corporation
                      product: Microsoft Dynamics
                      attribute: 335.346.28
                      website: https://www.microsoft.com/en-us/dynamics/default.aspx
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/microsoft.com
                      domain: microsoft.com
                      createdTime: 9/29/16 3:04
                      modifiedTime: 10/26/17 7:18
                      description: Microsoft Dynamics is a line of enterprise resource planning (ERP) and customer relationship management (CRM) software applications. Microsoft Dynamics applications are delivered through a network of reselling partners who provide specialized services.
                    - tag: '117645'
                      categoryParent: IT Infrastructure
                      category: Application Server Software
                      vendor: Microsoft Corporation
                      product: Microsoft IIS Application Request Routing (ARR)
                      attribute: 334.425.28
                      website: https://www.iis.net/downloads/microsoft/application-request-routing
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/iis.net
                      domain: iis.net
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 12:55
                      description: ''
                    - tag: '77700'
                      categoryParent: Intelligence and Analytics
                      category: Machine Learning
                      vendor: N/A
                      product: scikit-learn
                      attribute: 347.285.0
                      website: http://scikit-learn.org/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/scikit-learn.org
                      domain: scikit-learn.org
                      createdTime: 4/11/18 7:31
                      modifiedTime: 2/13/19 9:54
                      description: scikit-learn is a free open-source machine learning library for the Python programming language.
                    - tag: '1716'
                      categoryParent: Advertising
                      category: Advertising Networks
                      vendor: America Online , Inc.
                      product: Advertising.com
                      attribute: 336.9.62
                      website: https://www.advertising.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/advertising.com
                      domain: advertising.com
                      createdTime: 7/31/14 10:12
                      modifiedTime: 11/15/18 0:17
                      description: Advertising.com was an advertising network.
                    - tag: '85337'
                      categoryParent: Marketing
                      category: Other Marketing Software
                      vendor: Sigstr, Inc.
                      product: Sigstr
                      attribute: 338.412.18822351
                      website: https://www.sigstr.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/sigstr.com
                      domain: sigstr.com
                      createdTime: 6/27/18 7:36
                      modifiedTime: 7/15/18 3:08
                      description: Sigstr is an email signature marketing platform allows standardizing brand consistency and drive marketing ROI with every email sent.
                    - tag: '80176'
                      categoryParent: Sales
                      category: Sales Performance Management Software
                      vendor: ExecVision Inc.
                      product: ExecVision
                      attribute: 398.247.41218127
                      website: https://www.execvision.io/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/execvision.io
                      domain: execvision.io
                      createdTime: 5/17/18 1:43
                      modifiedTime: 9/24/18 2:59
                      description: ExecVision is a conversation intelligence software for coaching.
                    - tag: '403'
                      categoryParent: IT Infrastructure
                      category: Email Delivery
                      vendor: The Rocket Science Group LLC
                      product: MailChimp SPF
                      attribute: 334.19.393
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 12/24/12 0:00
                      modifiedTime: 2/13/19 9:57
                      description: Websites using Mailchimp's SPF record.
                    - tag: '24100'
                      categoryParent: Data Management
                      category: Big Data Software
                      vendor: The Apache Software Foundation
                      product: Apache Kafka
                      attribute: 331.204.1015
                      website: http://kafka.apache.org/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/kafka.apache.org
                      domain: kafka.apache.org
                      createdTime: 7/16/16 19:04
                      modifiedTime: 8/15/18 21:30
                      description: Apache Kafka, an open source technology that acts as a real-time, fault tolerant, scalable messaging system. It is adopted for use cases ranging from collecting user activity data, logs, application metrics to stock ticker data, and device instrumentation.
                    - tag: '874'
                      categoryParent: IT Infrastructure
                      category: Application Server Software
                      vendor: The Apache Software Foundation
                      product: Apache HTTP Server
                      attribute: 334.425.1015
                      website: https://httpd.apache.org/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/httpd.apache.org
                      domain: httpd.apache.org
                      createdTime: 10/13/13 0:00
                      modifiedTime: 6/23/18 11:36
                      description: Apache is a free, open source HTTP web server.
                    - tag: '121309'
                      categoryParent: Programming
                      category: Programming Languages
                      vendor: N/A
                      product: Really Simple Discovery
                      attribute: 350.67.0
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 13:21
                      description: ''
                    - tag: '123774'
                      categoryParent: IT Management
                      category: Server Hardware
                      vendor: Oracle Corporation
                      product: Sun Fire Server Systems
                      attribute: 468.218.491
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 13:42
                      description: ''
                    - tag: '125569'
                      categoryParent: IT Management
                      category: Communication Hardware
                      vendor: Verizon Digital Media Services
                      product: Verizon Wireless
                      attribute: 468.466.6701832
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 13:59
                      description: ''
                    - tag: '29776'
                      categoryParent: Programming
                      category: Programming Languages
                      vendor: The R Foundation
                      product: R
                      attribute: 350.67.32841
                      website: https://www.r-project.org/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/r-project.org
                      domain: r-project.org
                      createdTime: 10/3/16 3:15
                      modifiedTime: 11/12/18 3:21
                      description: R is a free software environment for statistical computing and graphics. It compiles and runs on a wide variety of UNIX platforms, Windows and MacOS. To download R, please choose your preferred CRAN mirror.
                    - tag: '95702'
                      categoryParent: IT Infrastructure
                      category: Operating Systems
                      vendor: Microsoft Corporation
                      product: Windows 7
                      attribute: 334.443.28
                      website: https://www.microsoft.com/en-us/software-download/windows7
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/microsoft.com
                      domain: microsoft.com
                      createdTime: 9/28/18 3:31
                      modifiedTime: 10/18/18 23:53
                      description: Windows 7 is a personal computer operating system.
                    - tag: '117795'
                      categoryParent: IT Infrastructure
                      category: Operating Systems
                      vendor: Microsoft Corporation
                      product: Microsoft Windows Server 2003
                      attribute: 334.443.28
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 12:57
                      description: ''
                    - tag: '114115'
                      categoryParent: IT Infrastructure
                      category: IT Service Management
                      vendor: HTML5
                      product: HTML5
                      attribute: 334.394.120252452
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 12:27
                      description: ''
                    - tag: '924'
                      categoryParent: Vertical Industry Software
                      category: Event Management
                      vendor: Eventbrite, Inc.
                      product: Eventbrite
                      attribute: 329.57.958
                      website: https://www.eventbrite.com/organizer/overview/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/eventbrite.com
                      domain: eventbrite.com
                      createdTime: 11/23/13 0:00
                      modifiedTime: 10/17/18 23:42
                      description: Eventbrite is a platform that allows event organizers to plan, promote, and sell tickets to events (event management) and publish them across Facebook, Twitter and other social-networking tools directly from the site's interface. It also enables attendees to find and purchase tickets to these experiences.
                    - tag: '123343'
                      categoryParent: Security
                      category: Data Security Software
                      vendor: Sophos Ltd
                      product: Sophos
                      attribute: 339.356.8161
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 13:39
                      description: ''
                    - tag: '36494'
                      categoryParent: Sales
                      category: Sales Intelligence Software
                      vendor: Zoom Information, Inc.
                      product: ZoomInfo
                      attribute: 398.457.13289
                      website: http://www.zoominfo.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/zoominfo.com
                      domain: zoominfo.com
                      createdTime: 2/9/17 9:54
                      modifiedTime: 12/3/19 21:39
                      description: Zoominfo is a market intelligence provider supported by the most comprehensive B2B database. This sales enablement platform is designed to get company in touch with the right customer through features like contacts & company search, targeted list building, and database management.
                    - tag: '29470'
                      categoryParent: Sales
                      category: Sales Enablement Software
                      vendor: Outreach Corporation
                      product: Outreach.io
                      attribute: 398.365.20750283
                      website: https://outreach.io/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/outreach.io
                      domain: outreach.io
                      createdTime: 9/28/16 5:57
                      modifiedTime: 11/15/18 1:05
                      description: Outreach.io is a sales performance management solution provider. It helps effectively engage prospects to drive more pipeline and close more deals.
                    - tag: '114318'
                      categoryParent: IT Infrastructure
                      category: Data Storage Managment
                      vendor: International Business Machines Corporation
                      product: IBM DS4300
                      attribute: 334.236.437
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 12:29
                      description: ''
                    - tag: '106803'
                      categoryParent: Human Resources
                      category: Other Human Resources Software
                      vendor: Amazon.com, Inc.
                      product: Amazon Mechanical Turk
                      attribute: 348.376.11
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 11:34
                      description: ''
                    - tag: '25408'
                      categoryParent: IT Infrastructure
                      category: Infrastructure as a Service (IaaS)
                      vendor: Amazon.com, Inc.
                      product: Amazon EC2
                      attribute: 334.194.11
                      website: https://aws.amazon.com/ec2/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/aws.amazon.com
                      domain: aws.amazon.com
                      createdTime: 8/11/16 14:02
                      modifiedTime: 6/9/18 6:17
                      description: Amazon Elastic Compute Cloud (Amazon EC2) is a web service that provides secure, resizable compute capacity in the cloud. It is designed to make web-scale cloud computing easier for developers. Amazon EC2's simple web service interface allows you to obtain and configure capacity with minimal friction.
                    - tag: '24092'
                      categoryParent: Data Management
                      category: Databases
                      vendor: The Apache Software Foundation
                      product: Apache HBase
                      attribute: 331.272.1015
                      website: https://hbase.apache.org/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/hbase.apache.org
                      domain: hbase.apache.org
                      createdTime: 7/16/16 19:04
                      modifiedTime: 8/1/18 23:02
                      description: Apache HBase is a column-oriented key/value data store built to run on top of the Hadoop Distributed File System (HDFS). Hadoop is a framework for handling large datasets in a distributed computing environment.
                    - tag: '30200'
                      categoryParent: Development
                      category: Software Testing Tools
                      vendor: TestNG
                      product: TestNG
                      attribute: 328.318.379356
                      website: http://testng.org/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/testng.org
                      domain: testng.org
                      createdTime: 10/7/16 16:31
                      modifiedTime: 12/20/18 23:18
                      description: 'TestNG is a testing framework inspired from JUnit and NUnit but introducing some new functionalities that make it more powerful and easier to use, such as: Annotations. Run your tests in arbitrarily big thread pools with various policies available (all methods in their own thread, one thread per test class, etc'
                    - tag: '172'
                      categoryParent: Marketing
                      category: Marketing Automation Tool (MAT)
                      vendor: Marketo, Inc.
                      product: Marketo
                      attribute: 338.3.6917
                      website: https://www.marketo.com
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/marketo.com
                      domain: marketo.com
                      createdTime: 5/27/12 0:00
                      modifiedTime: 11/12/18 20:51
                      description: Marketo is a marketing automation platform. It features email, consumer, customer base and mobile marketing and includes lead management tools.
                    - tag: '26149'
                      categoryParent: IT Management
                      category: Network Hardware
                      vendor: Broadcom Inc.
                      product: Brocade
                      attribute: 468.216.53694
                      website: http://www.brocade.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/brocade.com
                      domain: brocade.com
                      createdTime: 8/17/16 15:05
                      modifiedTime: 6/27/18 5:08
                      description: Brocade provides data center networking solutions and information assets management services.
                    - tag: '106305'
                      categoryParent: Audio, Video, Graphics
                      category: Other Audio, Video, Graphics Software
                      vendor: Adobe Inc.
                      product: Adobe Creative Suite
                      attribute: 349.419.67
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 11:31
                      description: ''
                    - tag: '629'
                      categoryParent: IT Infrastructure
                      category: Domain Name Services
                      vendor: Cloudflare, Inc.
                      product: Cloudflare DNS
                      attribute: 334.4.4430
                      website: https://www.cloudflare.com/dns/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/cloudflare.com
                      domain: cloudflare.com
                      createdTime: 4/14/13 0:00
                      modifiedTime: 9/20/18 5:51
                      description: Cloudflare's free authoritative DNS network.
                    - tag: '24096'
                      categoryParent: Data Management
                      category: Databases
                      vendor: Basho Technologies Inc
                      product: Riak
                      attribute: 331.272.167540
                      website: http://basho.com/products/riak-kv/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/basho.com
                      domain: basho.com
                      createdTime: 7/16/16 19:04
                      modifiedTime: 6/27/18 3:16
                      description: Riak KV is a distributed NoSQL key-value database.
                    - tag: '92590'
                      categoryParent: Communication and Collaboration
                      category: Team Collaboration
                      vendor: Microsoft Office
                      product: Microsoft Exchange Server 2013
                      attribute: 333.267.32627
                      website: https://products.office.com/en/microsoft-exchange-2013
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/products.office.com
                      domain: products.office.com
                      createdTime: 9/4/18 6:04
                      modifiedTime: 9/19/18 3:04
                      description: A 2013 version of Microsoft Exchange Server.
                    - tag: '112484'
                      categoryParent: IT Infrastructure
                      category: Load Balancing Software
                      vendor: F5 Networks, Inc.
                      product: F5 Load Balancer
                      attribute: 334.20.37231
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 12:14
                      description: ''
                    - tag: '109563'
                      categoryParent: Security
                      category: Firewall Software
                      vendor: Cisco Systems, Inc
                      product: Cisco Adaptive Security Appliance (ASA)
                      attribute: 339.358.1096
                      website: https://www.cisco.com/c/en/us/products/security/adaptive-security-appliance-asa-software/index.html
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/cisco.com
                      domain: cisco.com
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 11:53
                      description: Firewall and Network Security
                    - tag: '119207'
                      categoryParent: Programming
                      category: Other Programming Software
                      vendor: Facebook, Inc.
                      product: Open Graph Protocol
                      attribute: 350.451.2
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 13:06
                      description: ''
                    - tag: '126448'
                      categoryParent: Data Management
                      category: Other Data Management Software
                      vendor: N/A
                      product: X-Frame-Options
                      attribute: 331.438.0
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 14:05
                      description: ''
                    - tag: '23826'
                      categoryParent: Intelligence and Analytics
                      category: Business Intelligence
                      vendor: Tableau Software, Inc.
                      product: Tableau
                      attribute: 347.243.1785191
                      website: http://www.tableau.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/tableau.com
                      domain: tableau.com
                      createdTime: 7/16/16 19:04
                      modifiedTime: 8/29/18 4:11
                      description: Tableau develops and manufactures products for the computer forensics community.
                    - tag: '122553'
                      categoryParent: Data Management
                      category: Other Data Management Software
                      vendor: Selenium HQ
                      product: Selenium
                      attribute: 331.438.28068
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 13:31
                      description: ''
                    - tag: '25764'
                      categoryParent: Development
                      category: Configuration Management
                      vendor: SaltStack Inc
                      product: Salt
                      attribute: 328.313.3086492
                      website: https://saltstack.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/saltstack.com
                      domain: saltstack.com
                      createdTime: 8/15/16 10:25
                      modifiedTime: 8/13/18 3:11
                      description: Salt is open source software for management automation of data center infrastructure and application environments. Originally built to provide command and control of massive, complex technology implementations, Salt is also used for small, simple use cases.
                    - tag: '36321'
                      categoryParent: Development
                      category: Container Management Software
                      vendor: Canonical Ltd.
                      product: LXC
                      attribute: 328.321.22652
                      website: https://linuxcontainers.org/lxc/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/linuxcontainers.org
                      domain: linuxcontainers.org
                      createdTime: 2/7/17 2:48
                      modifiedTime: 12/25/18 22:09
                      description: LXC is a userspace interface for the Linux kernel containment features. Through a powerful API and simple tools, it lets Linux users easily create and manage system or application containers.
                    - tag: '428'
                      categoryParent: Security
                      category: SSL Certificates
                      vendor: DigiCert, Inc.
                      product: DigiCert
                      attribute: 339.21.30003
                      website: https://www.digicert.com
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/digicert.com
                      domain: digicert.com
                      createdTime: 12/3/12 0:00
                      modifiedTime: 4/6/18 2:27
                      description: DigiCert is the go-to provider of identity, authentication, and encryption solutions for the web and IoT devices.
                    - tag: '713'
                      categoryParent: Sales
                      category: CRM Software
                      vendor: Salesforce.com, Inc.
                      product: Salesforce
                      attribute: 398.33.221
                      website: https://www.salesforce.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/salesforce.com
                      domain: salesforce.com
                      createdTime: 6/13/13 0:00
                      modifiedTime: 9/7/18 1:50
                      description: Salesforce is a global cloud computing company that develops CRM solutions and provides business software on a subscription basis.
                    - tag: '610'
                      categoryParent: IT Infrastructure
                      category: Hosting Providers and IT Management
                      vendor: DigitalOcean Inc
                      product: DigitalOcean
                      attribute: 334.22.1163096
                      website: https://www.digitalocean.com/solutions/websites/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/digitalocean.com
                      domain: digitalocean.com
                      createdTime: 3/29/13 0:00
                      modifiedTime: 8/6/18 10:18
                      description: DigitalOcean is a cloud infrastructure provider focused on simplifying web infrastructure for software developers.
                    - tag: '92977'
                      categoryParent: Audio, Video, Graphics
                      category: Graphics
                      vendor: Adobe Inc.
                      product: Adobe InDesign
                      attribute: 349.462.67
                      website: https://www.adobe.com/InDesign
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/adobe.com
                      domain: adobe.com
                      createdTime: 9/6/18 3:01
                      modifiedTime: 1/18/19 0:07
                      description: Adobe InDesign is a desktop publishing and typesetting software application.
                    - tag: '106984'
                      categoryParent: IT Infrastructure
                      category: Application Server Software
                      vendor: The Apache Software Foundation
                      product: Apache Servers
                      attribute: 334.425.1015
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 11:36
                      description: ''
                    - tag: '25556'
                      categoryParent: Communication and Collaboration
                      category: File Sharing
                      vendor: Google LLC
                      product: Google Drive
                      attribute: 333.198.1
                      website: https://gsuite.google.com/products/drive/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/gsuite.google.com
                      domain: gsuite.google.com
                      createdTime: 8/12/16 13:57
                      modifiedTime: 10/24/18 8:14
                      description: Google Drive is a file storage and synchronization service developed by Google. Launched on April 24, 2012, Google Drive allows users to store files in the cloud, synchronize files across devices, and share files.
                    - tag: '611'
                      categoryParent: Widgets, Web Tools, and Plugins
                      category: Social Sharing
                      vendor: ShareThis, Inc.
                      product: ShareThis
                      attribute: 332.54.2393
                      website: https://sharethis.com
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/sharethis.com
                      domain: sharethis.com
                      createdTime: 4/1/13 0:00
                      modifiedTime: 10/17/18 10:25
                      description: The ShareThis button is an all-in-one widget that lets people share any content on the Web with friends via e-mail, AIM, or text message. Shar.es is the URL shortener for ShareThis.com.
                    - tag: '95352'
                      categoryParent: Programming
                      category: Integrated Development Environments
                      vendor: Apple Inc.
                      product: Xcode
                      attribute: 350.444.29
                      website: https://developer.apple.com/xcode/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/developer.apple.com
                      domain: developer.apple.com
                      createdTime: 9/25/18 23:43
                      modifiedTime: 10/23/18 3:48
                      description: Xcode is an integrated development environment for macOS containing a suite of software development tools for developing software for macOS, iOS, watchOS, and tvOS.
                    - tag: '114678'
                      categoryParent: Marketing
                      category: Marketing Automation Tool (MAT)
                      vendor: International Business Machines Corporation
                      product: IBM Watson Marketing (SilverPop)
                      attribute: 338.3.437
                      website: https://www.ibm.com/customer-engagement/silverpop
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/ibm.com
                      domain: ibm.com
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 12:32
                      description: Silverpop merged with IBM
                    - tag: '6576'
                      categoryParent: IT Infrastructure
                      category: Content Delivery Networks
                      vendor: Cloudinary Ltd.
                      product: Cloudinary
                      attribute: 334.10.1035741
                      website: http://cloudinary.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/cloudinary.com
                      domain: cloudinary.com
                      createdTime: 11/4/14 17:02
                      modifiedTime: 7/17/17 7:47
                      description: Cloudinary is an end-to-end image management solution for your website and mobile apps. Cloudinary covers everything from image uploads, storage, manipulations, optimizations to delivery. You can easily upload images to the cloud, automatically perform smart image manipulations without installing any complex software.
                    - tag: '96282'
                      categoryParent: Data Management
                      category: Other Data Management Software
                      vendor: Rabbit Technologies Ltd
                      product: RabbitMQ
                      attribute: 331.438.61730
                      website: https://www.rabbitmq.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/rabbitmq.com
                      domain: rabbitmq.com
                      createdTime: 10/3/18 2:33
                      modifiedTime: 10/22/18 0:10
                      description: RabbitMQ is an open source message broker software.
                    - tag: '106787'
                      categoryParent: IT Infrastructure
                      category: Data Storage Managment
                      vendor: Amazon.com, Inc.
                      product: Amazon Cloud Storage
                      attribute: 334.236.11
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 11:34
                      description: ''
                    - tag: '26693'
                      categoryParent: Intelligence and Analytics
                      category: Business Intelligence
                      vendor: Hitachi Vantara Corporation
                      product: Pentaho
                      attribute: 347.243.72751645
                      website: http://www.pentaho.com/product/product-overview
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/pentaho.com
                      domain: pentaho.com
                      createdTime: 8/22/16 11:11
                      modifiedTime: 6/27/18 5:30
                      description: Pentaho is a unified big data integration and analytics solution.
                    - tag: '95791'
                      categoryParent: IT Infrastructure
                      category: Operating Systems
                      vendor: Microsoft Corporation
                      product: Windows 10
                      attribute: 334.443.28
                      website: https://www.microsoft.com/en-us/windows
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/microsoft.com
                      domain: microsoft.com
                      createdTime: 9/28/18 8:06
                      modifiedTime: 10/18/18 4:16
                      description: Windows 10 is a series of personal computer operating systems.
                    - tag: '27021'
                      categoryParent: Development
                      category: Software Testing Tools
                      vendor: The JS Foundation
                      product: Appium
                      attribute: 328.318.62731605
                      website: http://appium.io/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/appium.io
                      domain: appium.io
                      createdTime: 8/22/16 11:11
                      modifiedTime: 4/12/18 9:09
                      description: 'Appium is an open source test automation tool for mobile applications. It allows you to test all the three types of mobile applications: native, hybrid and mobile web. It also allows you to run the automated tests on actual devices, emulators and simulators.'
                    - tag: '23694'
                      categoryParent: Data Management
                      category: Big Data Software
                      vendor: Cloudera, Inc.
                      product: Cloudera
                      attribute: 331.204.47253
                      website: https://cloudera.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/cloudera.com
                      domain: cloudera.com
                      createdTime: 7/16/16 19:04
                      modifiedTime: 8/8/18 2:41
                      description: Cloudera is a platform for machine learning and analytics optimized for the cloud. It is available in the form of free/unsupported products (CDH or Cloudera Express), or as supported, enterprise-class software (Cloudera Enterprise - in Basic, Flex, and Data Hub editions) in the form of an annual subscription.
                    - tag: '111'
                      categoryParent: Widgets, Web Tools, and Plugins
                      category: Web Content Management Software
                      vendor: Automattic Inc
                      product: WordPress
                      attribute: 332.7.11831
                      website: http://wordpress.org
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/wordpress.org
                      domain: wordpress.org
                      createdTime: 3/10/12 0:00
                      modifiedTime: 8/31/18 1:13
                      description: WordPress is open source CMS solution that can be used to create and customize a website, blog, or app.
                    - tag: '23696'
                      categoryParent: Data Management
                      category: Big Data Software
                      vendor: Mapr Technologies, Inc.
                      product: MapR
                      attribute: 331.204.347124
                      website: https://www.mapr.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/mapr.com
                      domain: mapr.com
                      createdTime: 7/16/16 19:04
                      modifiedTime: 8/8/18 2:43
                      description: MapR provides a Converged Data Platform that enables customers to harness the power of big data by combining analytics in real-time to operational applications to improve business outcomes.
                    - tag: '23232'
                      categoryParent: Data Management
                      category: Databases
                      vendor: Microsoft Corporation
                      product: Microsoft SQL Server
                      attribute: 331.272.28
                      website: http://microsoft.com/en-us/server-cloud/products/sql-server/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/microsoft.com
                      domain: microsoft.com
                      createdTime: 7/2/16 8:34
                      modifiedTime: 8/1/18 22:50
                      description: SQL Server is a Microsoft product used to manage and store information. Technically, SQL Server is a relational database management system (RDMS). Broken apart, this term means two things.
                    - tag: '126213'
                      categoryParent: IT Management
                      category: Communication Hardware
                      vendor: Windstream Communications
                      product: Windstream Communications
                      attribute: 468.466.120258528
                      website: http://windstream.com
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/windstream.com
                      domain: windstream.com
                      createdTime: 3/8/19 21:07
                      modifiedTime: 4/9/19 10:22
                      description: ''
                    - tag: '1253'
                      categoryParent: IT Infrastructure
                      category: Platforms as a Service
                      vendor: Salesforce.com, Inc.
                      product: Heroku
                      attribute: 334.445.221
                      website: http://heroku.com
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/heroku.com
                      domain: heroku.com
                      createdTime: 4/14/14 15:31
                      modifiedTime: 11/30/17 2:29
                      description: US based open language cloud application hosting platform supporting multiple languages such as Ruby, Java, NodeJS and Clojure. That is, multi-language cloud application platform that enables developers to deploy, scale, and manage their applications.
                    - tag: '126664'
                      categoryParent: Customer Service
                      category: Service Desk Software
                      vendor: Zendesk, Inc.
                      product: Zendesk Help Desk Software
                      attribute: 330.395.782
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 14:07
                      description: ''
                    - tag: '65518'
                      categoryParent: Accounting and Finance
                      category: Corporate Performance Management (CPM) Software
                      vendor: Adaptive Insights, Inc.
                      product: Adaptive Suite
                      attribute: 368.447.10282193
                      website: https://www.adaptiveinsights.com/products/adaptive-suite
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/adaptiveinsights.com
                      domain: adaptiveinsights.com
                      createdTime: 12/13/17 1:43
                      modifiedTime: 12/24/18 1:23
                      description: Adaptive Suite is cloud-based corporate performance management and business intelligence software
                    - tag: '113406'
                      categoryParent: Marketing
                      category: Other Marketing Software
                      vendor: Google LLC
                      product: Google Plus One Platform
                      attribute: 338.412.1
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 12:22
                      description: ''
                    - tag: '25070'
                      categoryParent: IT Infrastructure
                      category: IT Infrastructure Monitoring
                      vendor: Nagios Enterprises, LLC
                      product: Nagios
                      attribute: 334.254.40319
                      website: https://www.nagios.org/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/nagios.org
                      domain: nagios.org
                      createdTime: 8/5/16 13:43
                      modifiedTime: 7/17/17 8:00
                      description: Nagios Core, is a free and open source computer-software application that monitors systems, networks and infrastructure. Nagios offers monitoring and alerting services for servers, switches, applications and services.
                    - tag: '84385'
                      categoryParent: Communication and Collaboration
                      category: Project Management Software
                      vendor: Pivotal Software, Inc.
                      product: Pivotal Tracker
                      attribute: 333.217.6370429
                      website: https://www.pivotaltracker.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/pivotaltracker.com
                      domain: pivotaltracker.com
                      createdTime: 6/21/18 6:27
                      modifiedTime: 6/29/18 2:58
                      description: Pivotal Tracker is an agile project management solution.
                    - tag: '433'
                      categoryParent: Security
                      category: SSL Certificates
                      vendor: Sectigo Limited
                      product: Sectigo
                      attribute: 339.21.113807027
                      website: https://sectigo.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/sectigo.com
                      domain: sectigo.com
                      createdTime: 12/2/12 0:00
                      modifiedTime: 1/23/19 20:57
                      description: Sectigo (formerly Comodo CA) is a commercial SSL Certificate Authority (CA).
                    - tag: '25172'
                      categoryParent: IT Infrastructure
                      category: Other IT Infrastructure Software
                      vendor: Microsoft Corporation
                      product: Microsoft Active Directory
                      attribute: 334.429.28
                      website: https://msdn.microsoft.com/en-us/library/bb742424.aspx
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/msdn.microsoft.com
                      domain: msdn.microsoft.com
                      createdTime: 8/9/16 8:41
                      modifiedTime: 10/10/18 2:58
                      description: Active Directory is a a directory service for the Windows domain networks. Active Directory stores information about objects on the network and makes this information easy for administrators and users to find and use. Active Directory uses a structured data store as the basis for a logical, hierarchical organization of directory information.
                    - tag: '125876'
                      categoryParent: IT Infrastructure
                      category: Application Server Software
                      vendor: VMware, Inc
                      product: VMware vFabric
                      attribute: 334.425.2140
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 14:01
                      description: ''
                    - tag: '1669'
                      categoryParent: Programming
                      category: Frameworks and Libraries
                      vendor: Twitter, Inc.
                      product: Bootstrap
                      attribute: 350.66.9
                      website: http://getbootstrap.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/getbootstrap.com
                      domain: getbootstrap.com
                      createdTime: 7/23/14 16:39
                      modifiedTime: 10/16/18 8:00
                      description: Bootstrap is a free and open-source front-end web framework for designing websites and web applications. It contains HTML- and CSS-based design templates for typography, forms, buttons, navigation and other interface components, as well as optional JavaScript extensions.
                    - tag: '108447'
                      categoryParent: IT Infrastructure
                      category: Content Delivery Networks
                      vendor: BootstrapCDN
                      product: BootstrapCDN
                      attribute: 334.10.120249944
                      website: https://www.bootstrapcdn.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/bootstrapcdn.com
                      domain: bootstrapcdn.com
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 11:46
                      description: ''
                    - tag: '707'
                      categoryParent: Communication and Collaboration
                      category: Web Conferencing
                      vendor: On24, Inc.
                      product: ON24
                      attribute: 333.52.6001
                      website: https://www.on24.com
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/on24.com
                      domain: on24.com
                      createdTime: 6/9/13 0:00
                      modifiedTime: 4/6/18 2:33
                      description: ON24 provides webcasting, lead generation, and virtual event solutions that are designed to meet performance requirements for businesses of all types and sizes. Founded in 1998, ON24 offers a portfolio of products for internal and external communications, available as either licensed ASP products or turnkey outsourced solutions.
                    - tag: '86'
                      categoryParent: Intelligence and Analytics
                      category: Web Analytics
                      vendor: Yahoo Inc.
                      product: Yahoo Analytics
                      attribute: 347.1.4
                      website: http://advertising.yahoo.com
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/advertising.yahoo.com
                      domain: advertising.yahoo.com
                      createdTime: 3/9/12 0:00
                      modifiedTime: 7/4/18 7:17
                      description: Yahoo Web Analytics is a solution for collecting information about website visitors. The data collected includes IP addresses, links clicked, advertisements viewed, etc.
                    - tag: '26799'
                      categoryParent: Miscellaneous
                      category: Miscellaneous
                      vendor: Zoho Corporation Private Limited
                      product: Zoho (common)
                      attribute: 0.68.389168
                      website: https://www.zoho.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/zoho.com
                      domain: zoho.com
                      createdTime: 8/22/16 11:11
                      modifiedTime: 3/15/19 8:44
                      description: This technology tracks users of various Zoho products identified by advanced tracking methods.
                    - tag: '248'
                      categoryParent: Marketing
                      category: Marketing Automation Tool (MAT)
                      vendor: HubSpot, Inc
                      product: HubSpot
                      attribute: 338.3.592
                      website: https://www.hubspot.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/hubspot.com
                      domain: hubspot.com
                      createdTime: 7/4/12 0:00
                      modifiedTime: 7/17/17 7:40
                      description: HubSpot is a developer and marketer of software products for inbound marketing and sales. It was founded by Brian Halligan and Dharmesh Shah in 2006. Its products and services aim to provide tools for social media marketing, content management, web analytics and search engine optimization.
                    - tag: '93596'
                      categoryParent: IT Infrastructure
                      category: Other IT Infrastructure Software
                      vendor: VMware, Inc
                      product: VMware vCloud Suite
                      attribute: 334.429.2140
                      website: https://www.vmware.com/products/vcloud-suite.html
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/vmware.com
                      domain: vmware.com
                      createdTime: 9/11/18 7:03
                      modifiedTime: 1/17/19 6:12
                      description: VMware vCloud Suite is an enterprise-ready cloud software that brings together VMware vSphere hypervisor and VMware vRealize Suite cloud management platform.
                    - tag: '23809'
                      categoryParent: Miscellaneous
                      category: Miscellaneous
                      vendor: Microsoft Corporation
                      product: Microsoft (common)
                      attribute: 0.68.28
                      website: https://www.microsoft.com
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/microsoft.com
                      domain: microsoft.com
                      createdTime: 7/16/16 19:04
                      modifiedTime: 1/15/18 4:19
                      description: This technology tracks users of various Microsoft products identified by advanced tracking methods.
                    - tag: '121351'
                      categoryParent: Operations
                      category: Inventory Management Software
                      vendor: RedBeam
                      product: RedBeam
                      attribute: 335.388.120256081
                      website: http://www.redbeam.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/redbeam.com
                      domain: redbeam.com
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 13:21
                      description: ''
                    - tag: '108907'
                      categoryParent: Widgets, Web Tools, and Plugins
                      category: Web Design and Development Services
                      vendor: Cache Control
                      product: Cache Control
                      attribute: 332.420.120250233
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 11:49
                      description: ''
                    - tag: '23227'
                      categoryParent: Data Management
                      category: Databases
                      vendor: The Apache Software Foundation
                      product: Apache Cassandra
                      attribute: 331.272.1015
                      website: http://cassandra.apache.org
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/cassandra.apache.org
                      domain: cassandra.apache.org
                      createdTime: 7/2/16 8:31
                      modifiedTime: 8/1/18 22:59
                      description: Apache Cassandra is a highly scalable, high-performance distributed database designed to handle large amounts of data across many commodity servers, providing high availability with no single point of failure. It is a type of NoSQL database.
                    - tag: '31334'
                      categoryParent: Intelligence and Analytics
                      category: Business Intelligence
                      vendor: TIBCO Software Inc.
                      product: Jaspersoft
                      attribute: 347.243.79658
                      website: https://www.jaspersoft.com/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/jaspersoft.com
                      domain: jaspersoft.com
                      createdTime: 10/27/16 13:24
                      modifiedTime: 11/16/18 1:16
                      description: TIBCO Jaspersoft is a comprehensive family of Business Intelligence (BI) products, providing robust static and interactive reporting, report server, and data analysis capabilities. These capabilities are available as either stand-alone products, or as part of an integrated end-to-end BI suite utilizing common metadata and provide shared services, such as security, a repository, and scheduling.
                    - tag: '508'
                      categoryParent: IT Infrastructure
                      category: Domain Name Services
                      vendor: Amazon.com, Inc.
                      product: Amazon Route 53
                      attribute: 334.4.11
                      website: http://aws.amazon.com/route53/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/aws.amazon.com
                      domain: aws.amazon.com
                      createdTime: 3/26/12 0:00
                      modifiedTime: 10/24/18 0:28
                      description: Amazon Route 53 is a cloud Domain Name System (DNS) web service.
                    - tag: '63185'
                      categoryParent: Sales
                      category: Sales Performance Management Software
                      vendor: AffectLayer, Inc.
                      product: Chorus.ai
                      attribute: 398.247.61574393
                      website: http://Chorus.ai
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/Chorus.ai
                      domain: Chorus.ai
                      createdTime: 11/22/17 8:15
                      modifiedTime: 11/15/18 1:17
                      description: Chorus.ai is a conversation intelligence software solution for sales teams that records, transcribes and provides a summary for meetings.
                    - tag: '126532'
                      categoryParent: Programming
                      category: Other Programming Software
                      vendor: N/A
                      product: X-UA-Compatible
                      attribute: 350.451.0
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 14:06
                      description: ''
                    - tag: '126928'
                      categoryParent: IT Infrastructure
                      category: Content Delivery Networks
                      vendor: Cloudflare, Inc.
                      product: Cloudflare
                      attribute: 334.10.4430
                      website: cloudflare.com
                      logo: null
                      domain: null
                      createdTime: 7/17/19 7:15
                      modifiedTime: 7/17/19 7:16
                      description: Cloudflare is a web performance and security company that provides online services to protect and accelerate websites online.
                    - tag: '5703'
                      categoryParent: IT Infrastructure
                      category: Email Hosting Software
                      vendor: Google LLC
                      product: Gmail for business
                      attribute: 334.23.1
                      website: https://gsuite.google.com/products/gmail/
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/gsuite.google.com
                      domain: gsuite.google.com
                      createdTime: 8/8/14 16:05
                      modifiedTime: 7/31/18 1:11
                      description: Gmail is a free Web-based e-mail service currently being tested at Google that provides users with a gigabyte of storage for messages and provides the ability to search for specific messages. The Gmail program also automatically organizes successively related messages into a conversational thread.
                    - tag: '373'
                      categoryParent: IT Infrastructure
                      category: Email Delivery
                      vendor: Rocket Science Group LLC
                      product: Mandrill
                      attribute: 334.19.3526969
                      website: http://mandrill.com
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/mandrill.com
                      domain: mandrill.com
                      createdTime: 9/10/12 0:00
                      modifiedTime: 3/29/18 21:46
                      description: Mandrill, a transactional email platform built by MailChimp, is a powerful delivery service that can be used for personalized, one-to-one e-commerce emails, and automated transactional emails like password resets, order confirmations, and welcome messages.
                    - tag: '28988'
                      categoryParent: Sales
                      category: Sales Enablement Software
                      vendor: Showpad Inc
                      product: Showpad
                      attribute: 398.365.1175438
                      website: https://www.showpad.com
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/showpad.com
                      domain: showpad.com
                      createdTime: 9/16/16 9:11
                      modifiedTime: 11/29/18 6:33
                      description: Showpad delivers the most intuitive sales enablement platform to make content incredibly easy to find, present, share, and measure. Showpad allows marketers to regain control over their content.
                    - tag: '125145'
                      categoryParent: Widgets, Web Tools, and Plugins
                      category: Other Web Tools and Plugins
                      vendor: WordPress
                      product: Twenty Twelve
                      attribute: 332.433.93
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 13:55
                      description: ''
                    - tag: '116824'
                      categoryParent: IT Infrastructure
                      category: Other IT Infrastructure Software
                      vendor: MakerBot
                      product: MakerBot
                      attribute: 334.429.120253955
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 12:50
                      description: ''
                    - tag: '119905'
                      categoryParent: Data Management
                      category: Other Data Management Software
                      vendor: P3P
                      product: P3P Policy
                      attribute: 331.438.120255166
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 13:11
                      description: ''
                    - tag: '113692'
                      categoryParent: Programming
                      category: Frameworks and Libraries
                      vendor: Hibernate
                      product: Hibernate
                      attribute: 350.66.120252546
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 12:24
                      description: ''
                    - tag: '120344'
                      categoryParent: Customer Service
                      category: Other Customer Service Software
                      vendor: Pingback
                      product: Pingback Support
                      attribute: 330.397.120255452
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:07
                      modifiedTime: 3/21/19 13:14
                      description: ''
                    - tag: '115705'
                      categoryParent: Communication and Collaboration
                      category: Other Communication and Collaboration Software
                      vendor: Oracle Corporation
                      product: Java Message Service (JMS)
                      attribute: 333.427.491
                      website: ''
                      logo: null
                      domain: null
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 12:40
                      description: ''
                    - tag: '92962'
                      categoryParent: Audio, Video, Graphics
                      category: Other Audio, Video, Graphics Software
                      vendor: Adobe Inc.
                      product: Adobe After Effects
                      attribute: 349.419.67
                      website: https://www.adobe.com/products/aftereffects.html
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/adobe.com
                      domain: adobe.com
                      createdTime: 9/6/18 2:35
                      modifiedTime: 1/17/19 5:32
                      description: Adobe After Effects is a digital visual effects, motion graphics, and compositing application.
                    - tag: '115704'
                      categoryParent: Programming
                      category: Programming Languages
                      vendor: Oracle Corporation
                      product: Java Enterprise Edition
                      attribute: 350.67.491
                      website: https://www.oracle.com/java/technologies/java-ee.html
                      logo: https://res.cloudinary.com/zoominfo-com/image/upload/w_100,h_100,c_fit/oracle.com
                      domain: oracle.com
                      createdTime: 3/8/19 21:06
                      modifiedTime: 3/21/19 12:40
                      description: ''
                    - tag: '41882'
[...]
