openapi: 3.2.0
info:
  title: ZoomInfo Monitoring API/Webhooks API
  description: The ZoomInfo API is a set of HTTPS endpoints you can use to programmatically retrieve and integrate ZoomInfo data into your existing technology stack and ...
  contact:
    name: ZoomInfo API Support
    url: https://www.zoominfo.com/about/help-center
    email: support@zoominfo.com
  version: '1.0'
  x-last-validated: '2026-04-18'
servers:
- url: https://api.zoominfo.com
  description: ZoomInfo API Production Server
security:
- bearerAuth: []
tags:
- name: Monitoring API/Webhooks
  description: ZoomInfo data is highly dynamic, with contacts, companies and related data being constantly updated in real-time in our database.
paths:
  /webhooks:
    parameters: []
    post:
      tags:
      - Monitoring API/Webhooks
      summary: Zoominfo Create Webhook
      description: 'Use this endpoint to create a webhook.


        **About enabling a webhook**


        When creating a webhook, we recommend initially setting the `enabled` parameter to `false` so that you can ensure that:


        - Your target URL is accessible using the Validate Target URL endpoint.

        - You''ve established a validation method in your app for the webhook verification token that will be generated with this request.


        Once you''ve completed these tasks, you can activate the webhook using the Update Webhook endpoint, updating the webhook''s `enabled` status to `true`.


        **Input params**


        | Parameter | DataType | Description |

        | --- | --- | --- |

        | title | String | Title for the webhook |

        | enabled | Boolean | Determines whether the webhook is initially enabled or disabled. |

        | targetUrl | String | Destination URL for the webhook data. Must be in `https://` format. |

        | subscriptions | ArrayList | Specify the `eventType` and `objectType` for the webhook. Also specify the `fullPayload` value (`true` for full payload, `false` for only changed attributes.)|


        **Output fields**


        | Field | Description |

        | --- | --- |

        | id | Unique ZoomInfo identifier for the webhook |

        | title | Title for the webhook |

        | enabled | Displays whether the webhook is enabled or disabled |

        | targetUrl | Destination URL for the webhook data |

        | createdDate | Timestamp for when the webhook was created |

        | verificationToken | Verification token generated when the webhook was created |

        | subscriptions | List of subscriptions. Each subscription includes the `createdDate`, `modifiedDate`, `eventType`, `objectType` and a unique `subscriptionId`. |'
      operationId: CreateWebhook
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateWebhookRequest'
              - examples:
                - title: My Webhook
                  enabled: false
                  targetUrl: https://www.mytargeturl10.com
                  subscriptions:
                  - eventType: Update
                    objectType: Contact
                    fullPayload: true
                  - eventType: Update
                    objectType: Company
                    fullPayload: false
              contentMediaType: application/json
            example:
              title: My Webhook
              enabled: false
              targetUrl: https://www.mytargeturl10.com
              subscriptions:
              - eventType: Update
                objectType: Contact
                fullPayload: true
              - eventType: Update
                objectType: Company
                fullPayload: false
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 15 Feb 2021 16:56:12 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            CF-Ray:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 62208f917f35ff88-BOS
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: _pxhd=de7f2c49c8a1c78d0ba90202e5973e066dcb8c585c864a25d73775cc92fed399:3951e581-6f99-11eb-8e62-819a45506ba9; path=/;
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1.1 google, 1.1 google
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: DYNAMIC
            cf-request-id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 0848380ee70000ff882da87000000001
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            X-RateLimit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1500'
            X-RateLimit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1499'
            X-RateLimit-Reset:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1613408232'
            X-Request-Id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 2f96e800-d1c8-4e4f-bde8-14319b66499b
            X-Usage-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999904432'
            X-Usage-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999891661'
            X-Usage-Unique-Id-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Unique-Id-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9993089'
            X-Usage-Websights-Api-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Websights-Api-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9998876'
            X-Usage-Websights-Api-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '100000010'
            X-Usage-Websights-Api-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '99998892'
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: cloudflare
          content:
            application/json;charset=utf-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Createawebhook-multipleobjecttypes'
                - examples:
                  - id: '967763288'
                    title: My Webhook
                    enabled: false
                    targetUrl: https://www.mytargeturl6.com
                    createdDate: 02-15-2021T11:56:11.000Z
                    verificationToken: i7MOAD4/44zzgsru6toJyiFRJhFqaiYUPwztmd1rWVOsIGbI8eY7FFtw5UQqIWlzkM6VFOCk1Q+T/BhPSzeggA==
                    subscriptions:
                    - createdDate: 02-15-2021T11:56:11.000Z
                      modifiedDate: 02-15-2021T11:56:11.000Z
                      eventType: Update
                      objectType: Contact
                      fullPayload: false
                      subscriptionId: '908986303'
                    - createdDate: 02-15-2021T11:56:11.000Z
                      modifiedDate: 02-15-2021T11:56:11.000Z
                      eventType: Update
                      objectType: Company
                      fullPayload: true
                      subscriptionId: '979209107'
                contentMediaType: application/json;charset=utf-8
              example:
                id: '967763288'
                title: My Webhook
                enabled: false
                targetUrl: https://www.mytargeturl6.com
                createdDate: 02-15-2021T11:56:11.000Z
                verificationToken: i7MOAD4/44zzgsru6toJyiFRJhFqaiYUPwztmd1rWVOsIGbI8eY7FFtw5UQqIWlzkM6VFOCk1Q+T/BhPSzeggA==
                subscriptions:
                - createdDate: 02-15-2021T11:56:11.000Z
                  modifiedDate: 02-15-2021T11:56:11.000Z
                  eventType: Update
                  objectType: Contact
                  fullPayload: false
                  subscriptionId: '908986303'
                - createdDate: 02-15-2021T11:56:11.000Z
                  modifiedDate: 02-15-2021T11:56:11.000Z
                  eventType: Update
                  objectType: Company
                  fullPayload: true
                  subscriptionId: '979209107'
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Monitoring API/Webhooks
      summary: Zoominfo Get Webhooks
      description: 'Use this endpoint to get a list of webhooks.


        To get a specific webhook, append the webhook `id` to the request URL. For example:


        `https://api.zoominfo.com/webhooks/213786430`


        See the examples for the response format.'
      operationId: GetWebhooks
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Fri, 12 Feb 2021 19:41:45 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            CF-Ray:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 6208c9f6aaba3b8d-BOS
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: _pxhd=0849f0b610ff6f4bb7315f6c8b69bec9a147a41c560ccbed1ec0260895ae0813:34718280-6c80-11eb-9f90-73ec8864d63a; path=/;
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1.1 google, 1.1 google
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: DYNAMIC
            cf-request-id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 08395c8e2600003b8db8b84000000001
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            X-RateLimit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1500'
            X-RateLimit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1499'
            X-RateLimit-Reset:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1613158966'
            X-Request-Id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 2d17a4f5-e916-4628-b7a1-30a14c849b04
            X-Usage-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999905712'
            X-Usage-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999893068'
            X-Usage-Unique-Id-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Unique-Id-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9994133'
            X-Usage-Websights-Api-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Websights-Api-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9998889'
            X-Usage-Websights-Api-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '100000010'
            X-Usage-Websights-Api-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '99998905'
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: cloudflare
          content:
            application/json;charset=utf-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Getallwebhooks'
                - examples:
                  - webhooks:
                    - id: '271677337'
                      title: Record6
                      enabled: true
                      targetUrl: https://www.record79.com
                      createdDate: 02-11-2021T12:00:06.000Z
                      subscriptions:
                      - createdDate: 02-11-2021T12:00:06.000Z
                        modifiedDate: 02-11-2021T12:00:06.000Z
                        eventType: Update
                        objectType: Contact
                        fullPayload: false
                        subscriptionId: '975208210'
                    - id: '967686737'
                      title: Your webhook title
                      enabled: true
                      targetUrl: https://mywebhookapp.com/feeds
                      createdDate: 02-12-2021T08:26:05.000Z
                      subscriptions:
                      - createdDate: 02-12-2021T08:26:05.000Z
                        modifiedDate: 02-12-2021T08:26:05.000Z
                        eventType: Update
                        objectType: Company
                        fullPayload: true
                        subscriptionId: '223154011'
                    - id: '849814821'
                      enabled: true
                      targetUrl: https://www.record2.com
                      createdDate: 02-12-2021T14:07:12.000Z
                      subscriptions:
                      - createdDate: 02-12-2021T14:07:12.000Z
                        modifiedDate: 02-12-2021T14:07:12.000Z
                        eventType: Update
                        objectType: Contact
                        subscriptionId: '454498605'
                      - createdDate: 02-12-2021T14:07:12.000Z
                        modifiedDate: 02-12-2021T14:07:12.000Z
                        eventType: Update
                        objectType: Company
                        subscriptionId: '416742895'
                    - id: '570575403'
                      enabled: false
                      targetUrl: https://www.mytargeturl.com
                      createdDate: 02-12-2021T14:09:04.000Z
                      subscriptions:
                      - createdDate: 02-12-2021T14:09:04.000Z
                        modifiedDate: 02-12-2021T14:09:04.000Z
                        eventType: Update
                        objectType: Contact
                        subscriptionId: '879354729'
                      - createdDate: 02-12-2021T14:09:04.000Z
                        modifiedDate: 02-12-2021T14:09:04.000Z
                        eventType: Update
                        objectType: Company
                        subscriptionId: '637113259'
                    - id: '213786430'
                      title: My Webhook
                      enabled: false
                      targetUrl: https://www.mytargeturl2.com
                      createdDate: 02-12-2021T14:12:08.000Z
                      subscriptions:
                      - createdDate: 02-12-2021T14:12:08.000Z
                        modifiedDate: 02-12-2021T14:12:08.000Z
                        eventType: Update
                        objectType: Contact
                        subscriptionId: '393093719'
                      - createdDate: 02-12-2021T14:12:08.000Z
                        modifiedDate: 02-12-2021T14:12:08.000Z
                        eventType: Update
                        objectType: Company
                        subscriptionId: '125773778'
                contentMediaType: application/json;charset=utf-8
              example:
                webhooks:
                - id: '271677337'
                  title: Record6
                  enabled: true
                  targetUrl: https://www.record79.com
                  createdDate: 02-11-2021T12:00:06.000Z
                  subscriptions:
                  - createdDate: 02-11-2021T12:00:06.000Z
                    modifiedDate: 02-11-2021T12:00:06.000Z
                    eventType: Update
                    objectType: Contact
                    fullPayload: false
                    subscriptionId: '975208210'
                - id: '967686737'
                  title: Your webhook title
                  enabled: true
                  targetUrl: https://mywebhookapp.com/feeds
                  createdDate: 02-12-2021T08:26:05.000Z
                  subscriptions:
                  - createdDate: 02-12-2021T08:26:05.000Z
                    modifiedDate: 02-12-2021T08:26:05.000Z
                    eventType: Update
                    objectType: Company
                    fullPayload: true
                    subscriptionId: '223154011'
                - id: '849814821'
                  enabled: true
                  targetUrl: https://www.record2.com
                  createdDate: 02-12-2021T14:07:12.000Z
                  subscriptions:
                  - createdDate: 02-12-2021T14:07:12.000Z
                    modifiedDate: 02-12-2021T14:07:12.000Z
                    eventType: Update
                    objectType: Contact
                    subscriptionId: '454498605'
                  - createdDate: 02-12-2021T14:07:12.000Z
                    modifiedDate: 02-12-2021T14:07:12.000Z
                    eventType: Update
                    objectType: Company
                    subscriptionId: '416742895'
                - id: '570575403'
                  enabled: false
                  targetUrl: https://www.mytargeturl.com
                  createdDate: 02-12-2021T14:09:04.000Z
                  subscriptions:
                  - createdDate: 02-12-2021T14:09:04.000Z
                    modifiedDate: 02-12-2021T14:09:04.000Z
                    eventType: Update
                    objectType: Contact
                    subscriptionId: '879354729'
                  - createdDate: 02-12-2021T14:09:04.000Z
                    modifiedDate: 02-12-2021T14:09:04.000Z
                    eventType: Update
                    objectType: Company
                    subscriptionId: '637113259'
                - id: '213786430'
                  title: My Webhook
                  enabled: false
                  targetUrl: https://www.mytargeturl2.com
                  createdDate: 02-12-2021T14:12:08.000Z
                  subscriptions:
                  - createdDate: 02-12-2021T14:12:08.000Z
                    modifiedDate: 02-12-2021T14:12:08.000Z
                    eventType: Update
                    objectType: Contact
                    subscriptionId: '393093719'
                  - createdDate: 02-12-2021T14:12:08.000Z
                    modifiedDate: 02-12-2021T14:12:08.000Z
                    eventType: Update
                    objectType: Company
                    subscriptionId: '125773778'
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /webhooks/967763288:
    parameters: []
    put:
      tags:
      - Monitoring API/Webhooks
      summary: Zoominfo Update Webhook
      description: 'Use this endpoint to update an existing webhook, including its enabled status, target URL, and subscription details.


        Specify the webhook by appending the webhook `id` in the request URL. For example:


        `https://api.zoominfo.com/webhooks/213786430`


        When using the Update Webhook endpoint, values you provide in the JSON body of your request overwrite values in the existing webhook. Common scenarios for using this endpoint include the following.


        **Enable a webhook**


        As described in the Create Webhook endpoint, we recommend initially configuring a new webhook as disabled so you can ensure the target URL is reachable, and the verification token is in place in your integrated app. Once these tasks are complete, you can use the Update Webhook endpoint to enable the webhook.


        For example, send a request specifying the webhook `id` in the URL to change the `enabled` value to `true`:


        Request URL:


        `https://api.zoominfo.com/webhooks/{webhook_id}`


        JSON body:


        ```

        {

        "enabled": true

        }


        ```


        **Update webhook subscription details**


        Example: Your webhook has a subscription with the `objectType` set to `Company`, you can change it to `Contact` using the Update Webhook endpoint.


        Request URL:


        `https://api.zoominfo.com/webhooks/{webhook_id}`


        JSON body:


        ```

        {

        "subscriptions": [

        {

        "subscriptionId": "393093719",

        "eventType": "Update",

        "objectType": "Contact"

        }

        ]

        }


        ```


        **Add a new objectType to a subscription**


        Example: Your webhook has a subscription that includes only the `Contact` `objectType`. You can add the `Company` `objectType` to the subscription.


        Request URL:


        `https://api.zoominfo.com/webhooks/{webhook_id}`


        JSON body:


        ```

        {

        "subscriptions": [

        {

        "eventType": "Update",

        "objectType": "Company"

        }

        ]

        }


        ```


        **Delete a subscription**


        You can delete a subscription by simply sending the `subscriptionId` in your request without specifying any subscription parameters.


        Request URL:


        `https://api.zoominfo.com/webhooks/{webhook_id}`


        JSON body:


        ```

        {

        "subscriptions": [

        {

        "subscriptionId": "836880237"

        }

        ]

        }


        ```


        **Input params**


        | Parameter | DataType | Description |

        | --- | --- | --- |

        | title | String | Title for the webhook |

        | enabled | Boolean | Enable or disable the webhook |

        | targetUrl | String | Destination URL for the webhook data. Must be in `https://` format. |

        | subscriptions | ArrayList | Specify the `eventType` and `objectType` for the webhook |


        **Output fields**


        | Field | Description |

        | --- | --- |

        | id | Unique ZoomInfo identifier for the webhook |

        | title | Title for the webhook |

        | enabled | Displays whether the webhook is enabled or disabled |

        | targetUrl | Destination URL for the webhook data |

        | createdDate | Timestamp for when the webhook was created |

        | verificationToken | Verification token generated when the webhook was created |

        | subscriptions | List of subscriptions. Each subscription includes the `createdDate`, `modifiedDate`, `eventType`, `objectType` and a unique `subscriptionId`. |'
      operationId: UpdateWebhook
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateWebhookRequest'
              - examples:
                - title: My Webhook New Title
                  enabled: false
                  subscriptions:
                  - subscriptionId: '979209107'
                    objectType: Contact
                    fullPayload: false
              contentMediaType: application/json
            example:
              title: My Webhook New Title
              enabled: false
              subscriptions:
              - subscriptionId: '979209107'
                objectType: Contact
                fullPayload: false
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 18 Feb 2021 14:56:58 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            CF-Ray:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 6238990d3d45ff80-BOS
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: _pxhd=45fc1c3046abb6244b0185ea2c816d5d8ad1645f125863de7b0bf5232681e441:6d4be711-712d-11eb-81c9-e7703dba2369; path=/;
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1.1 google, 1.1 google
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: DYNAMIC
            cf-request-id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 08573dfc460000ff80e007f000000001
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            X-RateLimit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1500'
            X-RateLimit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1497'
            X-RateLimit-Reset:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1613660231'
            X-Request-Id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 746e6b5e-03e1-4f7c-973d-13e6bd26d15a
            X-Usage-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999901882'
            X-Usage-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999890929'
            X-Usage-Unique-Id-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Unique-Id-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9993024'
            X-Usage-Websights-Api-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Websights-Api-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9998855'
            X-Usage-Websights-Api-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '100000010'
            X-Usage-Websights-Api-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '99998871'
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: cloudflare
          content:
            application/json;charset=utf-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/AddanobjectTypetoasubscription'
                - examples:
                  - id: '370425875'
                    title: Record6
                    enabled: true
                    targetUrl: http://www.record79.com
                    createdDate: 02-16-2021T13:18:59.000Z
                    subscriptions:
                    - createdDate: 02-16-2021T13:18:59.000Z
                      modifiedDate: 02-16-2021T13:18:59.000Z
                      eventType: Update
                      objectType: Contact
                      fullPayload: false
                      subscriptionId: '144626982'
                    - createdDate: 02-18-2021T09:56:58.000Z
                      modifiedDate: 02-18-2021T09:56:58.000Z
                      eventType: Update
                      objectType: Company
                      fullPayload: false
                      subscriptionId: '416102777'
                contentMediaType: application/json;charset=utf-8
              example:
                id: '370425875'
                title: Record6
                enabled: true
                targetUrl: http://www.record79.com
                createdDate: 02-16-2021T13:18:59.000Z
                subscriptions:
                - createdDate: 02-16-2021T13:18:59.000Z
                  modifiedDate: 02-16-2021T13:18:59.000Z
                  eventType: Update
                  objectType: Contact
                  fullPayload: false
                  subscriptionId: '144626982'
                - createdDate: 02-18-2021T09:56:58.000Z
                  modifiedDate: 02-18-2021T09:56:58.000Z
                  eventType: Update
                  objectType: Company
                  fullPayload: false
                  subscriptionId: '416102777'
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /webhooks/570575403:
    parameters: []
    delete:
      tags:
      - Monitoring API/Webhooks
      summary: Zoominfo Delete Webhook
      description: 'Use this endpoint to delete a webhook. Specify the webhook by appending the webhook `id` in the request URL. For example:


        `https://api.zoominfo.com/webhooks/213786430`


        **Output fields**


        | Field | Description |

        |------------------------|------------------------------------------------|

        | id | Unique ZoomInfo identifier for the webhook |

        | targetUrl | Destination URL for the webhook data |

        | createdDate | Timestamp for when the webhook was created |

        | status | Status for the webhook

        | subscriptions | List of subscriptions. Each subscription includes the `createdDate`, `modifiedDate`, `eventType`, `objectType` and a unique `subscriptionId`.|'
      operationId: DeleteWebhook
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Fri, 12 Feb 2021 19:51:00 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            CF-Ray:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 6208d7856fe83b8d-BOS
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: _pxhd=0849f0b610ff6f4bb7315f6c8b69bec9a147a41c560ccbed1ec0260895ae0813:34718280-6c80-11eb-9f90-73ec8864d63a; path=/;
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1.1 google, 1.1 google
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: DYNAMIC
            cf-request-id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 083965076300003b8d152ff000000001
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            X-RateLimit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1500'
            X-RateLimit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1499'
            X-RateLimit-Reset:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1613159521'
            X-Request-Id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: b0b71cd2-fa6a-4a1c-a2f1-a25a1083af47
            X-Usage-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999905712'
            X-Usage-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999893068'
            X-Usage-Unique-Id-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Unique-Id-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9994133'
            X-Usage-Websights-Api-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Websights-Api-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9998889'
            X-Usage-Websights-Api-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '100000010'
            X-Usage-Websights-Api-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '99998905'
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: cloudflare
          content:
            application/json;charset=utf-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/DeleteWebhook'
                - examples:
                  - id: '570575403'
                    targetUrl: https://www.mytargeturl.com
                    createdDate: 02-12-2021T14:09:04.000Z
                    status: deleted
                    subscriptions:
                    - createdDate: 02-12-2021T14:09:04.000Z
                      modifiedDate: 02-12-2021T14:09:04.000Z
                      eventType: Update
                      objectType: Contact
                      fullPayload: false
                      subscriptionId: '879354729'
                    - createdDate: 02-12-2021T14:09:04.000Z
                      modifiedDate: 02-12-2021T14:09:04.000Z
                      eventType: Update
                      objectType: Company
                      fullPayload: true
                      subscriptionId: '637113259'
                contentMediaType: application/json;charset=utf-8
              example:
                id: '570575403'
                targetUrl: https://www.mytargeturl.com
                createdDate: 02-12-2021T14:09:04.000Z
                status: deleted
                subscriptions:
                - createdDate: 02-12-2021T14:09:04.000Z
                  modifiedDate: 02-12-2021T14:09:04.000Z
                  eventType: Update
                  objectType: Contact
                  fullPayload: false
                  subscriptionId: '879354729'
                - createdDate: 02-12-2021T14:09:04.000Z
                  modifiedDate: 02-12-2021T14:09:04.000Z
                  eventType: Update
                  objectType: Company
                  fullPayload: true
                  subscriptionId: '637113259'
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /webhooks/validate:
    parameters: []
    post:
      tags:
      - Monitoring API/Webhooks
      summary: Zoominfo Validate Target Url
      description: 'Use this endpoint to ensure the target URL for a webhook is accessible and that the JSON payload can be delivered.


        This request:


        * Pings the target server to ensure it''s responsive

        * Posts some JSON body for the specified `objectType` to ensure data can be written to the target app


        **Input params**


        | Parameter | DataType | Description |

        | --- | --- | --- |

        | targetUrl | String | Destination URL for the webhook data. Must be in https:// format. |

        | objectType | String | Specify the `objectType` for the webhook |


        **Output fields**


        | Field | Description |

        | --- | --- |

        | message | Response message from your target URL |

        | success | Indicates success or failure of validation |

        | responseCode | HTTP response code from your target URL |'
      operationId: ValidateTargetURL
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ValidateTargetURLRequest'
              - examples:
                - targetUrl: https://mytargeturl/feeds/person
                  objectType: Contact
                  fullPayload: true
              contentMediaType: application/json
            example:
              targetUrl: https://mytargeturl/feeds/person
              objectType: Contact
              fullPayload: true
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 17 Feb 2021 14:50:36 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            CF-Ray:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 623052552abd3b9f-BOS
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: _pxhd=45fc1c3046abb6244b0185ea2c816d5d8ad1645f125863de7b0bf5232681e441:6d4be711-712d-11eb-81c9-e7703dba2369; path=/;
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1.1 google, 1.1 google
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: DYNAMIC
            cf-request-id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 085211c93600003b9f1894a000000001
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            X-RateLimit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1500'
            X-RateLimit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1498'
            X-RateLimit-Reset:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1613573468'
            X-Request-Id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 7de107ac-2727-4b8b-acb8-3ec6080dc690
            X-Usage-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999903614'
            X-Usage-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999891455'
            X-Usage-Unique-Id-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Unique-Id-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9993081'
            X-Usage-Websights-Api-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Websights-Api-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9998864'
            X-Usage-Websights-Api-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '100000010'
            X-Usage-Websights-Api-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '99998880'
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: cloudflare
          content:
            application/json;charset=utf-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/ValidateTargetURLisaccessible'
                - examples:
                  - message: Created
                    success: true
                    responseCode: 201
                contentMediaType: application/json;charset=utf-8
              example:
                message: Created
                success: true
                responseCode: 201
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /webhooks/849814821/token:
    parameters: []
    post:
      tags:
      - Monitoring API/Webhooks
      summary: Zoominfo Generate Verification Token
      description: 'Use this endpoint to generate a new verification token for an existing webhook.


        **Important**: When you generate a new token, the previous token is immediately revoked and becomes invalid. When updating a verification token for an active Webhook, ensure that you update the verification token immediately in your integrated app, as ZoomInfo will still attempt to send the data, but it will fail based on the mismatched tokens.


        Specify the webhook for which you want the token generated by appending the webhook `id` in the request URL. For example: `https://api.zoominfo.com/webhooks/213786430/token`'
      operationId: GenerateVerificationToken
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Fri, 12 Feb 2021 19:55:10 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            CF-Ray:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 6208dd9e4e793b8d-BOS
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: _pxhd=0849f0b610ff6f4bb7315f6c8b69bec9a147a41c560ccbed1ec0260895ae0813:34718280-6c80-11eb-9f90-73ec8864d63a; path=/;
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1.1 google, 1.1 google
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: DYNAMIC
            cf-request-id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 083968d6f100003b8d13a3b000000001
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            X-RateLimit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1500'
            X-RateLimit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1499'
            X-RateLimit-Reset:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1613159771'
            X-Request-Id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 93bfb11d-4c09-4404-b3d7-b14bca5685c2
            X-Usage-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999905712'
            X-Usage-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999893067'
            X-Usage-Unique-Id-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Unique-Id-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9994133'
            X-Usage-Websights-Api-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Websights-Api-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9998889'
            X-Usage-Websights-Api-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '100000010'
            X-Usage-Websights-Api-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '99998905'
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: cloudflare
          content:
            application/json;charset=utf-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/GenerateVerificationToken'
                - examples:
                  - verificationToken: z5doGe6rx+1deDHMgUI/j56AN0we8NQD0G2YWR2aEODzCCx7L9BdtVm2zVnYLfYZqvyeVu3EpBkLUewxdRJAug==
                contentMediaType: application/json;charset=utf-8
              example:
                verificationToken: z5doGe6rx+1deDHMgUI/j56AN0we8NQD0G2YWR2aEODzCCx7L9BdtVm2zVnYLfYZqvyeVu3EpBkLUewxdRJAug==
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /webhooks/subscriptiontypes:
    parameters: []
    get:
      tags:
      - Monitoring API/Webhooks
      summary: Zoominfo Get Subscription Types
      description: Retrieve accepted subscription types (`objectTypes` and `eventTypes`).
      operationId: GetSubscriptionTypes
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 15 Feb 2021 21:01:39 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            CF-Ray:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 6221f7216ad53b76-BOS
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: _pxhd=de7f2c49c8a1c78d0ba90202e5973e066dcb8c585c864a25d73775cc92fed399:3951e581-6f99-11eb-8e62-819a45506ba9; path=/;
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1.1 google, 1.1 google
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: DYNAMIC
            cf-request-id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 084918c8e200003b7621b44000000001
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            X-RateLimit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1500'
            X-RateLimit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1499'
            X-RateLimit-Reset:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1613422960'
            X-Request-Id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 5a51d294-63b7-4ff2-958e-096df0069016
            X-Usage-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999904255'
            X-Usage-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '1000000000'
            X-Usage-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '999891613'
            X-Usage-Unique-Id-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Unique-Id-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9993087'
            X-Usage-Websights-Api-Record-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '10000000'
            X-Usage-Websights-Api-Record-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '9998873'
            X-Usage-Websights-Api-Request-Limit-Limit:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '100000010'
            X-Usage-Websights-Api-Request-Limit-Remaining:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '99998889'
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: cloudflare
          content:
            application/json;charset=utf-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/GetSubscriptionTypes'
                - examples:
                  - objectTypes:
                    - Contact
                    - Company
                    eventTypes:
                    - Update
                contentMediaType: application/json;charset=utf-8
              example:
                objectTypes:
                - Contact
                - Company
                eventTypes:
                - Update
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    GenerateVerificationToken:
      title: GenerateVerificationToken
      required:
      - verificationToken
      type: object
      properties:
        verificationToken:
          type: string
          example: example_value
      examples:
      - verificationToken: z5doGe6rx+1deDHMgUI/j56AN0we8NQD0G2YWR2aEODzCCx7L9BdtVm2zVnYLfYZqvyeVu3EpBkLUewxdRJAug==
    Subscription1:
      title: Subscription1
      required:
      - createdDate
      - modifiedDate
      - eventType
      - objectType
      - fullPayload
      - subscriptionId
      type: object
      properties:
        createdDate:
          type: string
          example: '2025-03-15T14:30:00Z'
        modifiedDate:
          type: string
          example: '2025-03-15T14:30:00Z'
        eventType:
          type: string
          example: standard
        objectType:
          type: string
          example: standard
        fullPayload:
          type: boolean
          example: true
        subscriptionId:
          type: string
          example: '500123'
      examples:
      - createdDate: 02-15-2021T11:56:11.000Z
        modifiedDate: 02-15-2021T11:56:11.000Z
        eventType: Update
        objectType: Contact
        fullPayload: false
        subscriptionId: '908986303'
    Subscription3:
      title: Subscription3
      required:
      - subscriptionId
      - objectType
      - fullPayload
      type: object
      properties:
        subscriptionId:
          type: string
          example: '500123'
        objectType:
          type: string
          example: standard
        fullPayload:
          type: boolean
          example: true
      examples:
      - subscriptionId: '979209107'
        objectType: Contact
        fullPayload: false
    Getallwebhooks:
      title: Getallwebhooks
      required:
      - webhooks
      type: object
      properties:
        webhooks:
          type: array
          items:
            $ref: '#/components/schemas/Webhook'
          description: ''
          example: []
      examples:
      - webhooks:
        - id: '271677337'
          title: Record6
          enabled: true
          targetUrl: https://www.record79.com
          createdDate: 02-11-2021T12:00:06.000Z
          subscriptions:
          - createdDate: 02-11-2021T12:00:06.000Z
            modifiedDate: 02-11-2021T12:00:06.000Z
            eventType: Update
            objectType: Contact
            fullPayload: false
            subscriptionId: '975208210'
        - id: '967686737'
          title: Your webhook title
          enabled: true
          targetUrl: https://mywebhookapp.com/feeds
          createdDate: 02-12-2021T08:26:05.000Z
          subscriptions:
          - createdDate: 02-12-2021T08:26:05.000Z
            modifiedDate: 02-12-2021T08:26:05.000Z
            eventType: Update
            objectType: Company
            fullPayload: true
            subscriptionId: '223154011'
        - id: '849814821'
          enabled: true
          targetUrl: https://www.record2.com
          createdDate: 02-12-2021T14:07:12.000Z
          subscriptions:
          - createdDate: 02-12-2021T14:07:12.000Z
            modifiedDate: 02-12-2021T14:07:12.000Z
            eventType: Update
            objectType: Contact
            subscriptionId: '454498605'
          - createdDate: 02-12-2021T14:07:12.000Z
            modifiedDate: 02-12-2021T14:07:12.000Z
            eventType: Update
            objectType: Company
            subscriptionId: '416742895'
        - id: '570575403'
          enabled: false
          targetUrl: https://www.mytargeturl.com
          createdDate: 02-12-2021T14:09:04.000Z
          subscriptions:
          - createdDate: 02-12-2021T14:09:04.000Z
            modifiedDate: 02-12-2021T14:09:04.000Z
            eventType: Update
            objectType: Contact
            subscriptionId: '879354729'
          - createdDate: 02-12-2021T14:09:04.000Z
            modifiedDate: 02-12-2021T14:09:04.000Z
            eventType: Update
            objectType: Company
            subscriptionId: '637113259'
        - id: '213786430'
          title: My Webhook
          enabled: false
          targetUrl: https://www.mytargeturl2.com
          createdDate: 02-12-2021T14:12:08.000Z
          subscriptions:
          - createdDate: 02-12-2021T14:12:08.000Z
            modifiedDate: 02-12-2021T14:12:08.000Z
            eventType: Update
            objectType: Contact
            subscriptionId: '393093719'
          - createdDate: 02-12-2021T14:12:08.000Z
            modifiedDate: 02-12-2021T14:12:08.000Z
            eventType: Update
            objectType: Company
            subscriptionId: '125773778'
    Subscription8:
      title: Subscription8
      required:
      - createdDate
      - modifiedDate
      - eventType
      - objectType
      - subscriptionId
      type: object
      properties:
        createdDate:
          type: string
          example: '2025-03-15T14:30:00Z'
        modifiedDate:
          type: string
          example: '2025-03-15T14:30:00Z'
        eventType:
          type: string
          example: standard
        objectType:
          type: string
          example: standard
        fullPayload:
          type: boolean
          example: true
        subscriptionId:
          type: string
          example: '500123'
      examples:
      - createdDate: 02-11-2021T12:00:06.000Z
        modifiedDate: 02-11-2021T12:00:06.000Z
        eventType: Update
        objectType: Contact
        fullPayload: false
        subscriptionId: '975208210'
    ValidateTargetURLisaccessible:
      title: ValidateTargetURLisaccessible
      required:
      - message
      - success
      - responseCode
      type: object
      properties:
        message:
          type: string
          example: example_value
        success:
          type: boolean
          example: true
        responseCode:
          type: integer
          contentEncoding: int32
          example: 100
      examples:
      - message: Created
        success: true
        responseCode: 201
    DeleteWebhook:
      title: DeleteWebhook
      required:
      - id
      - targetUrl
      - createdDate
      - status
      - subscriptions
      type: object
      properties:
        id:
          type: string
          example: '500123'
        targetUrl:
          type: string
          example: https://www.example.com/resource
        createdDate:
          type: string
          example: '2025-03-15T14:30:00Z'
        status:
          type: string
          example: active
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription1'
          description: ''
          example: []
      examples:
      - id: '570575403'
        targetUrl: https://www.mytargeturl.com
        createdDate: 02-12-2021T14:09:04.000Z
        status: deleted
        subscriptions:
        - createdDate: 02-12-2021T14:09:04.000Z
          modifiedDate: 02-12-2021T14:09:04.000Z
          eventType: Update
          objectType: Contact
          fullPayload: false
          subscriptionId: '879354729'
        - createdDate: 02-12-2021T14:09:04.000Z
          modifiedDate: 02-12-2021T14:09:04.000Z
          eventType: Update
          objectType: Company
          fullPayload: true
          subscriptionId: '637113259'
    UpdateWebhookRequest:
      title: UpdateWebhookRequest
      required:
      - title
      - enabled
      - subscriptions
      type: object
      properties:
        title:
          type: string
          example: Vice President of Sales
        enabled:
          type: boolean
          example: true
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription3'
          description: ''
          example: []
      examples:
      - title: My Webhook New Title
        enabled: false
        subscriptions:
        - subscriptionId: '979209107'
          objectType: Contact
          fullPayload: false
    AddanobjectTypetoasubscription:
      title: AddanobjectTypetoasubscription
      required:
      - id
      - title
      - enabled
      - targetUrl
      - createdDate
      - subscriptions
      type: object
      properties:
        id:
          type: string
          example: '500123'
        title:
          type: string
          example: Vice President of Sales
        enabled:
          type: boolean
          example: true
        targetUrl:
          type: string
          example: https://www.example.com/resource
        createdDate:
          type: string
          example: '2025-03-15T14:30:00Z'
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription1'
          description: ''
          example: []
      examples:
      - id: '370425875'
        title: Record6
        enabled: true
        targetUrl: http://www.record79.com
        createdDate: 02-16-2021T13:18:59.000Z
        subscriptions:
        - createdDate: 02-16-2021T13:18:59.000Z
          modifiedDate: 02-16-2021T13:18:59.000Z
          eventType: Update
          objectType: Contact
          fullPayload: false
          subscriptionId: '144626982'
        - createdDate: 02-18-2021T09:56:58.000Z
          modifiedDate: 02-18-2021T09:56:58.000Z
          eventType: Update
          objectType: Company
          fullPayload: false
          subscriptionId: '416102777'
    GetSubscriptionTypes:
      title: GetSubscriptionTypes
      required:
      - objectTypes
      - eventTypes
      type: object
      properties:
        objectTypes:
          type: array
          items:
            type: string
          description: ''
          example: []
        eventTypes:
          type: array
          items:
            type: string
          description: ''
          example: []
      examples:
      - objectTypes:
        - Contact
        - Company
        eventTypes:
        - Update
    ValidateTargetURLRequest:
      title: ValidateTargetURLRequest
      required:
      - targetUrl
      - objectType
      - fullPayload
      type: object
      properties:
        targetUrl:
          type: string
          example: https://www.example.com/resource
        objectType:
          type: string
          example: standard
        fullPayload:
          type: boolean
          example: true
      examples:
      - targetUrl: https://mytargeturl/feeds/person
        objectType: Contact
        fullPayload: true
    Createawebhook-multipleobjecttypes:
      title: Createawebhook-multipleobjecttypes
      required:
      - id
      - title
      - enabled
      - targetUrl
      - createdDate
      - verificationToken
      - subscriptions
      type: object
      properties:
        id:
          type: string
          example: '500123'
        title:
          type: string
          example: Vice President of Sales
        enabled:
          type: boolean
          example: true
        targetUrl:
          type: string
          example: https://www.example.com/resource
        createdDate:
          type: string
          example: '2025-03-15T14:30:00Z'
        verificationToken:
          type: string
          example: example_value
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription1'
          description: ''
          example: []
      examples:
      - id: '967763288'
        title: My Webhook
        enabled: false
        targetUrl: https://www.mytargeturl6.com
        createdDate: 02-15-2021T11:56:11.000Z
        verificationToken: i7MOAD4/44zzgsru6toJyiFRJhFqaiYUPwztmd1rWVOsIGbI8eY7FFtw5UQqIWlzkM6VFOCk1Q+T/BhPSzeggA==
        subscriptions:
        - createdDate: 02-15-2021T11:56:11.000Z
          modifiedDate: 02-15-2021T11:56:11.000Z
          eventType: Update
          objectType: Contact
          fullPayload: false
          subscriptionId: '908986303'
        - createdDate: 02-15-2021T11:56:11.000Z
          modifiedDate: 02-15-2021T11:56:11.000Z
          eventType: Update
          objectType: Company
          fullPayload: true
          subscriptionId: '979209107'
    Webhook:
      title: Webhook
      required:
      - id
      - enabled
      - targetUrl
      - createdDate
      - subscriptions
      type: object
      properties:
        id:
          type: string
          example: '500123'
        title:
          type: string
          example: Vice President of Sales
        enabled:
          type: boolean
          example: true
        targetUrl:
          type: string
          example: https://www.example.com/resource
        createdDate:
          type: string
          example: '2025-03-15T14:30:00Z'
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription8'
          description: ''
          example: []
      examples:
      - id: '271677337'
        title: Record6
        enabled: true
        targetUrl: https://www.record79.com
        createdDate: 02-11-2021T12:00:06.000Z
        subscriptions:
        - createdDate: 02-11-2021T12:00:06.000Z
          modifiedDate: 02-11-2021T12:00:06.000Z
          eventType: Update
          objectType: Contact
          fullPayload: false
          subscriptionId: '975208210'
    Subscription:
      title: Subscription
      required:
      - eventType
      - objectType
      - fullPayload
      type: object
      properties:
        eventType:
          type: string
          example: standard
        objectType:
          type: string
          example: standard
        fullPayload:
          type: boolean
          example: true
      examples:
      - eventType: Update
        objectType: Contact
        fullPayload: true
    CreateWebhookRequest:
      title: CreateWebhookRequest
      required:
      - title
      - enabled
      - targetUrl
      - subscriptions
      type: object
      properties:
        title:
          type: string
          example: Vice President of Sales
        enabled:
          type: boolean
          example: true
        targetUrl:
          type: string
          example: https://www.example.com/resource
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
          description: ''
          example: []
      examples:
      - title: My Webhook
        enabled: false
        targetUrl: https://www.mytargeturl10.com
        subscriptions:
        - eventType: Update
          objectType: Contact
          fullPayload: true
        - eventType: Update
          objectType: Company
          fullPayload: false
  securitySchemes:
    httpBearer:
      type: http
      scheme: bearer
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from the /authenticate endpoint
