openapi: 3.2.0
info:
  title: Zoominfo Audiences API
  version: '1.0'
  contact:
    name: ZoomInfo Customer Support
    email: help@zoominfo.com
  description: 'Operations tagged Audiences across 2 of this provider''s published API definitions: zoominfo-gtm-gtm-studio-v1-openapi.json, zoominfo-gtm-marketing-v1-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.zoominfo.com/gtm
  description: Base URL for the GTM Studio API
security:
- OAuth2Auth: []
tags:
- name: Audiences
paths:
  /studio/v1/folders:
    post:
      operationId: Folders_createFolder
      summary: Create New Folder
      description: 'Creates a new folder for organizing audiences in GTM Studio.

        Folders group related audiences together, making it easier to navigate and manage large collections — for example, grouping by campaign, region, or team.

        Specify `name` and optionally set `starred` to `true` to mark the folder for quick access. The folder is created empty; audiences are assigned to it via the Create Audience or Update Audience endpoints using `folderId`.

        Returns `201 Created` with the full folder resource including the system-assigned `folderId` and creation metadata.

        Returns `400` if required fields are missing or invalid.'
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FolderJsonApiModel'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/FolderJsonApiModelCreate'
        description: Request body containing the folder creation details
      security:
      - OAuth2Auth:
        - api:audience:manage
      x-additional-content-types:
      - application/json
      x-api-roles:
      - lim:wkb
    get:
      operationId: Folders_listFolders
      summary: List Folders
      description: 'Retrieves a paginated list of all folders, with optional filtering and sorting.

        Use this endpoint to browse the folder structure or to find a `folderId` before creating or moving an audience.

        Filter by `createdById`, `updatedById`, `searchText` (partial name match), or date ranges (`createdAfter`, `createdBefore`, `updatedAfter`, `updatedBefore`).

        Use `sort` to order results by `name`, `createdAt`, `updatedAt`, `audienceCount`, or `recentlyViewed`; prefix with `-` for descending order (default: `-updatedAt`).

        Use `page[number]` and `page[size]` (default `25`, max `100`) to paginate.

        Returns `200` with a paginated array of folder resources including `audiences` (list of audience IDs in each folder) and navigation links.

        Returns `400` if filter or sort parameters are invalid.'
      parameters:
      - name: page[number]
        in: query
        required: false
        description: Page number for the results.
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 1
        explode: false
      - name: page[size]
        in: query
        required: false
        description: Number of records to return per page. Default is 25.
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 25
        explode: false
      - name: sort
        in: query
        required: false
        description: 'Field based on which to sort the results. Use ''-'' prefix for descending order.

          Allowed values: name, createdAt, updatedAt, audienceCount, recentlyViewed'
        schema:
          type: string
          default: -updatedAt
        explode: false
      - name: filter[createdById]
        in: query
        required: false
        description: Filter folders by userId of the creator.
        schema:
          type: array
          items:
            type: integer
            format: uint32
        explode: false
      - name: filter[updatedById]
        in: query
        required: false
        description: Filter folders by userId of the last updated person.
        schema:
          type: array
          items:
            type: integer
            format: uint32
        explode: false
      - name: filter[searchText]
        in: query
        required: false
        description: Search folders by name (partial match).
        schema:
          type: string
        explode: false
      - name: filter[createdAfter]
        in: query
        required: false
        description: 'Filter folders created after a specific date. Eg: 2025-10-10T17:08:00Z'
        schema:
          type: string
          format: date-time
        explode: false
      - name: filter[createdBefore]
        in: query
        required: false
        description: 'Filter folders created before a specific date. Eg: 2025-10-10T17:08:00Z'
        schema:
          type: string
          format: date-time
        explode: false
      - name: filter[updatedAfter]
        in: query
        required: false
        description: 'Filter folders updated after a specific date. Eg: 2025-10-10T17:08:00Z'
        schema:
          type: string
          format: date-time
        explode: false
      - name: filter[updatedBefore]
        in: query
        required: false
        description: 'Filter folders updated before a specific date. Eg: 2025-10-10T17:08:00Z'
        schema:
          type: string
          format: date-time
        explode: false
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FolderJsonApiList'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      security:
      - OAuth2Auth:
        - api:audience:read
      x-api-roles:
      - lim:wkb
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the GTM Studio API
  /studio/v1/folders/{folderId}:
    get:
      operationId: Folders_getFolderById
      summary: Get Specific Folder
      description: 'Retrieves the full state of a single folder by its `folderId`.

        Returns all folder attributes — name, starred status, description, notes, creation and update timestamps, and the list of `audienceId` values contained in the folder.

        Use this endpoint to inspect a folder''s contents before operating on its audiences, or to verify folder state after an update.

        Returns `200` with the folder resource.

        Returns `404` if no folder matches the provided `folderId`.'
      parameters:
      - name: folderId
        in: path
        required: true
        description: The ID of the folder to retrieve.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FolderJsonApiModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      security:
      - OAuth2Auth:
        - api:audience:read
      x-api-roles:
      - lim:wkb
    patch:
      operationId: Folders_updateFolder
      summary: Update Folder
      description: 'Updates one or more attributes of an existing folder without requiring a full replacement.

        Supported fields: `name`, `starred`, `description`, and `notes`. Only fields present in the request body are modified; all other attributes remain unchanged.

        Use this endpoint to rename a folder, star or unstar it, or update its description and notes.

        Returns `200` with the updated folder resource.

        Returns `404` if no folder matches the provided `folderId`.'
      parameters:
      - name: folderId
        in: path
        required: true
        description: The ID of the folder to update.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FolderJsonApiModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateFolderJsonApiModel'
        description: Request body containing the folder update details
      security:
      - OAuth2Auth:
        - api:audience:manage
      x-additional-content-types:
      - application/json
      x-api-roles:
      - lim:wkb
    delete:
      operationId: Folders_deleteFolder
      summary: Delete Specific Folder
      description: 'Permanently deletes a folder from GTM Studio.

        Deleting a folder removes the audiences it contained as well.

        This action is irreversible.

        Returns `204 No Content` on success.

        Returns `404` if no folder matches the provided `folderId`.'
      parameters:
      - name: folderId
        in: path
        required: true
        description: The ID of the folder to delete.
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Success
          content:
            application/vnd.api+json:
              schema: {}
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      security:
      - OAuth2Auth:
        - api:audience:manage
      x-api-roles:
      - lim:wkb
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the GTM Studio API
  /studio/v1/audiences:
    post:
      operationId: Audiences_createAudience
      summary: Create New Audience
      description: 'Create a named working list of people (`CONTACT`) or companies (`COMPANY`) to drive a GTM motion — campaign targeting, enrichment runs, outbound sequences, or importing leads from trade shows and events.


        You can define the audience name, audience type (`CONTACT` or `COMPANY`), and the source of the audience.

        Supported audience sources are:

        - `CUSTOM`: audience has no linked source dataset.

        - `ZOOMINFO_PUBLIC_API`: audience is defined by `zoomInfoSearchCriteria`.

        Requests to create audiences can optionally include definitions for columns to be added to the audience.

        If no column definitions are provided, the audience will be created without any columns, and columns may

        be added in the future using the [Create New Columns](ref:columns_addcolumns) endpoint.


        **Folders:** Every audience must live in a folder. Pass `folderId` to place it in an existing folder (use [List Folders](ref:folders_listfolders) to find one). If `folderId` is omitted, GTM Studio automatically creates a new folder with the same name as the audience.


        **Columns:** Define columns up front — they describe the shape of data you intend to load. The `columnId` values returned here are required when loading rows via [Bulk Upsert Rows](ref:rows_upsertrows). Choose `dataType` carefully — it cannot be changed after creation. If `columns` is omitted, the audience is created with no columns; add them later via [Create New Columns](ref:columns_addcolumns) before loading any rows.


        For `zoomInfoSearchCriteria`, use the [Lookup Data](ref:lookupinterface_lookup) endpoint to retrieve valid values.


        Returns `201 Created` with the audience resource.

        Returns `400` if required fields are missing or `type` is invalid.'
      parameters:
      - name: autoMatchCriteria
        in: query
        required: false
        description: When `true`, the system uses AI to automatically infer and apply match criteria mappings for columns (for example, mapping an "Email" column to `CONTACT_EMAIL`). Defaults to `false`. Set to `true` to enable auto-mapping; leave `false` to define match criteria manually.
        schema:
          type: boolean
          default: false
        explode: false
      responses:
        '201':
          description: Created
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateAudienceResponseJsonApiModel'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AudienceJsonApiModel'
        description: Request body containing the audience creation details
      security:
      - OAuth2Auth:
        - api:audience:manage
      x-additional-content-types:
      - application/json
      x-api-roles:
      - lim:wkb
    get:
      operationId: Audiences_listAudiences
      summary: List Audiences
      description: 'Search and browse all GTM Studio audiences. The primary way to discover an `audienceId` before loading rows, managing columns, or triggering enrichment. Also use this to check what audiences already exist before creating a duplicate.


        **Filters:**

        - `filter[type]`: `CONTACT` or `COMPANY`

        - `filter[searchText]`: case-insensitive partial match on audience name


        **Sorting:** `sort` accepts `name`, `createdAt`, `updatedAt`, or `recordCount`. Prefix with `-` for descending order. Default: `-updatedAt`.


        **Pagination:** `page[number]` (default `1`) and `page[size]` (default `25`, max `100`).


        Returns `200` with a paginated list of audience resources and navigation links.

        Returns `400` if filter or sort parameters are invalid.'
      parameters:
      - name: page[number]
        in: query
        required: false
        description: Page number for the results.
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 1
        explode: false
      - name: page[size]
        in: query
        required: false
        description: Number of records to return per page. Default is 25.
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 25
        explode: false
      - name: sort
        in: query
        required: false
        description: 'Field based on which to sort the results. Use ''-'' prefix for descending order.

          Allowed values: name, createdAt, updatedAt, recordCount'
        schema:
          type: string
          default: -updatedAt
        explode: false
      - name: filter[type]
        in: query
        required: false
        description: Filter audiences by record type. `CONTACT` for person-level records; `COMPANY` for account-level records.
        schema:
          $ref: '#/components/schemas/AudienceType'
        explode: false
      - name: filter[searchText]
        in: query
        required: false
        description: Search audiences by name using a case-insensitive contains match.
        schema:
          type: string
        explode: false
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AudiencesJsonApiList'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      security:
      - OAuth2Auth:
        - api:audience:read
      x-api-roles:
      - lim:wkb
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the GTM Studio API
  /studio/v1/audiences/{audienceId}:
    get:
      operationId: Audiences_getAudience
      summary: Fetch Audience
      description: 'Retrieves the full state of a single audience by its `audienceId`.

        Returns all audience attributes — name, type, source origin, current `recordCount`, folder location, creation and update timestamps, and the complete column structure with all column properties.

        Use this endpoint to check audience configuration before writing rows or before running enrichment.

        Returns `200` with the audience resource.

        Returns `404` if no audience matches the provided `audienceId`.'
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier for the audience
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ReadAudienceDetailJsonApiModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      security:
      - OAuth2Auth:
        - api:audience:read
      x-api-roles:
      - lim:wkb
    delete:
      operationId: Audiences_deleteAudience
      summary: Delete Audience
      description: 'Permanently deletes an audience and all associated data — rows, column definitions, and enrichment history.

        This action is irreversible; the audience and all its data cannot be recovered after deletion.

        Use this endpoint only when retiring an audience entirely; to remove specific records, use the Delete Rows endpoint instead.

        Returns `204 No Content` on success.

        Returns `404` if no audience matches the provided `audienceId`.'
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier for the audience
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Success
          content:
            application/vnd.api+json:
              schema: {}
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      security:
      - OAuth2Auth:
        - api:audience:manage
      x-api-roles:
      - lim:wkb
    patch:
      operationId: Audiences_patchAudience
      summary: Update Audience
      description: 'Updates one or more metadata attributes of an existing audience without requiring a full replacement.

        Supported fields: `name`, `folderId`, `description`, and `notes`. Only fields present in the request body are modified; all other attributes remain unchanged.

        Use this endpoint to rename an audience, move it to a different folder, or update its description or notes.

        Returns `200` with the updated audience resource.

        Returns `400` if the request body is malformed or contains unsupported fields.

        Returns `404` if no audience matches the provided `audienceId`.'
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier for the audience
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ReadAudienceJsonApiModel'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AudienceUpdateJsonApiModel'
        description: Request body containing the audience patch details
      security:
      - OAuth2Auth:
        - api:audience:manage
      x-additional-content-types:
      - application/json
      x-api-roles:
      - lim:wkb
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the GTM Studio API
  /studio/v1/audiences/{audienceId}/filter-metadata:
    get:
      operationId: Audiences_getAudienceFilterMetadata
      summary: Get Audience Filter Metadata
      description: 'Returns the available filter operators for each column in the specified audience.

        Use this endpoint before building a filter-based row query to discover which operators — such as `EQUALS`, `CONTAINS`, `NOT_EQUALS` are supported for each column.

        The response includes per-operator configuration: whether multiple values are supported (`isMultipleSupported`), the maximum number of allowed values (`valueCountLimit`), and the minimum character requirement per value for string-based operators (`minCharLimit`).

        Use this metadata to validate filter inputs client-side before sending a List Rows request.

        Returns `200` with a list of `FilterMetadata` objects keyed by `columnId`.

        Returns `404` if no audience matches the provided `audienceId`.'
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier for the audience
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AudienceFilterMetadataJsonApiModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      security:
      - OAuth2Auth:
        - api:audience:read
      x-api-roles:
      - lim:wkb
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the GTM Studio API
  /studio/v1/audiences/{audienceId}/actions/match-criteria:
    post:
      operationId: Audiences_upsertMatchCriteria
      summary: Upsert Column Match Criteria
      description: 'Upserts match criteria for the audience''s designated match column (the column used for enrichment matching).

        Match criteria define how audience column values are mapped to ZoomInfo attributes (for example, mapping an "Email" column to `CONTACT_EMAIL`) for enrichment resolution.


        If a request body is provided, the supplied match criteria are applied directly — each entry maps an audience `columnId` to a ZoomInfo attribute field.

        If the request body is omitted or `matchCriteria` is not provided, the system attempts to auto-map match criteria using AI.

        If the match column does not exist, it will be created automatically.


        Existing match criteria on the audience''s match column are replaced by the new values.

        Returns `200` with the updated match column resource.

        Returns `400` if a `columnId` does not exist in the audience or a `mappedTo` value is invalid.

        Returns `404` if no audience matches the provided `audienceId`.'
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier for the audience
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ReadColumnJsonApiModel'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      requestBody:
        required: false
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpsertMatchCriteriaRequestJsonApiModel'
        description: Request body containing match criteria to apply. If omitted, auto-mapping is attempted for all eligible columns.
      security:
      - OAuth2Auth:
        - api:audience:manage
      x-additional-content-types:
      - application/json
      x-api-roles:
      - lim:wkb
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the GTM Studio API
  /studio/v1/audiences/{audienceId}/actions/enrich:
    post:
      operationId: Audiences_enrichAudience
      summary: Enrich Audience
      description: 'Initiates an asynchronous enrichment job that appends ZoomInfo intelligence data to rows in the specified audience.


        The request body must include a `scope` field specifying the enrichment target:

        - `AUDIENCE`: Enriches all rows in the audience. The `rows` and `columns` fields are optional.

        - `ROW`: Enriches specific rows by `rowId`. The `rows` field is required and must contain at least one element. The `columns` field is optional.


        This operation is asynchronous. Returns `202 Accepted` with an `EnrichJob` resource containing the job id.

        Poll the [Get Async Job Status](ref:jobs_getAsyncJobStatus) endpoint at `GET /v1/audiences/{audienceId}/jobs/{jobId}` using that job id to monitor progress and detect `SUCCEEDED`, `PARTIALLY_SUCCEEDED`, or `FAILED` terminal states.


        Returns `202 Accepted` on successful job creation.

        Returns `204 No Content` if no rows match the provided scope.

        Returns `400` for malformed requests, missing required fields, or invalid scope combinations.

        Returns `402` if enrichment cannot be processed for the account.

        Returns `404` if no audience matches the provided `audienceId`.'
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier for the audience
        schema:
          type: string
          format: uuid
      responses:
        '202':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EnrichJobJsonApiModel'
        '204':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EnrichJobJsonApiModel'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '402':
          description: Payment Required
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AudienceEnrichmentJsonApiModel'
        description: Request body containing the enrichment details
      security:
      - OAuth2Auth:
        - api:audience:manage
      x-additional-content-types:
      - application/json
      x-api-roles:
      - lim:wkb
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the GTM Studio API
  /studio/v1/audiences/{audienceId}/jobs/{jobId}:
    get:
      operationId: Audiences_getJobStatus
      summary: Get Job Status
      description: 'Returns the current status and progress of any previously initiated asynchronous job for an audience.

        Covers all job types: `AUDIENCE_CREATE`, `AUDIENCE_ENRICH`, and `ROW_UPSERT`.

        Provide the `audienceId` and `jobId` returned by the originating operation.

        The response includes the job status — one of `SCHEDULED` (queued), `RUNNING` (actively processing), `SUCCEEDED` (finished successfully), `PARTIALLY_SUCCEEDED` (completed with some failures), `FAILED` (terminated with errors), or `CANCELLED` — and a `percentProgress` value.

        Returns `200` with the job status resource.

        Returns `404` if the `audienceId` or `jobId` does not exist.'
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier for the audience.
        schema:
          type: string
          format: uuid
      - name: jobId
        in: path
        required: true
        description: The unique identifier for the job.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JobStatusResponseJsonApiModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      security:
      - OAuth2Auth:
        - api:audience:read
      x-api-roles:
      - lim:wkb
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the GTM Studio API
  /studio/v1/audiences/{audienceId}/columns/actions/bulk/create:
    post:
      operationId: Columns_addColumns
      summary: Create New Columns
      description: 'Add columns to an audience to define the shape of data it holds. Do this before loading rows — `columnId` values returned here are required by [Bulk Upsert Rows](ref:rows_upsertrows). Choose `dataType` carefully — it cannot be changed after creation.


        **Supported `dataType` values for `CUSTOM` columns:**

        - Text: `TEXT` (short labels, names, <2000 chars), `LARGE_TEXT` (notes, descriptions, >2000 chars)

        - Contact data: `EMAIL` (single address), `PHONE` (single number), `URL` (website or domain)

        - Numbers: `INTEGER` (whole numbers), `DECIMAL` (floating-point), `PERCENT`, `CURRENCY`

        - Boolean: `BOOLEAN`, `CHECKBOX`

        - Dates: `DATE` (calendar date, no time component)

        - Arrays: `STRING_LIST`, `NUMBER_LIST`, `EMAIL_LIST`, `PHONE_LIST`, `URL_LIST`

        - Structured: `OBJECT` (JSON)


        **Column types:**

        - `CUSTOM` — Values you load directly via Bulk Upsert Rows. Requires `name` and `dataType`.

        - `FORMULA` — Values computed from a `prompt` expression evaluated across other columns in the audience.

        - `AI` — Values generated by a ZoomInfo AI tool. Requires `prompt`. Optionally specify `tool` (`AI_DATA_ANALYSIS`, `AI_WEB_RESEARCH`, `AI_CONVERSATION_INTELLIGENCE`, `AI_EMAILER`) and `dataDependencies` (other column IDs or knowledge base sources for grounding). Use [Get Column Data Dependencies](ref:columns_getsupporteddatadependencies) to discover valid context sources.

        - `ZOOMINFO_MATCH` — Values populated by ZoomInfo enrichment matching. Accepts only `ZI_CONTACT_ID` or `ZI_COMPANY_ID` as `dataType`. Configure match criteria via [Upsert Column Match Criteria](ref:audiences_upsertmatchcriteria) after creation.


        Returns `201 Created` with all column resources including system-assigned `columnId` values and read-only behavior flags (`isDeletable`, `isEditable`, `isFilterable`, `isSortable`).

        Returns `400` if required fields are missing or `dataType` is invalid.

        Returns `404` if no audience matches the provided `audienceId`.'
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier for the audience
        schema:
          type: string
          format: uuid
      responses:
        '201':
          description: Created
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ReadColumnListJsonApiModel'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ColumnJsonApiModel'
        description: Request body containing the column creation details
      security:
      - OAuth2Auth:
        - api:audience:manage
      x-additional-content-types:
      - application/json
      x-api-roles:
      - lim:wkb
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the GTM Studio API
  /studio/v1/audiences/{audienceId}/columns/data-dependencies/{tool}:
    get:
      operationId: Columns_getSupportedDataDependencies
      summary: Get Column Data Dependencies
      description: 'Returns the available data dependencies for AI-powered columns so clients can build valid prompts and grounding context before creating the column.

        This endpoint solves data dependency discovery for AI workflows by listing which audience columns and knowledge sources can be used as context for the selected AI column type.

        Use this to discover valid context sources, validate that selected context is supported, and choose relevant data dependencies that improve AI-generated output quality.

        Response entries include data dependency identifiers, display names, data types, and whether the source comes from an audience column (`COLUMN`) or from a knowledge source (`KNOWLEDGE_BASE`).

        Returns `200 OK` with the list of supported data dependencies for the requested `tool`.

        Returns `400` if `tool` is invalid or not supported for data dependency discovery.

        Returns `404` if no audience matches the provided `audienceId`.'
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier for the audience
        schema:
          type: string
          format: uuid
      - name: tool
        in: path
        required: true
        description: AI tool used to retrieve supported data dependencies (`AI_DATA_ANALYSIS`, `AI_WEB_RESEARCH`, `AI_CONVERSATION_INTELLIGENCE`, or `AI_EMAILER`).
        schema:
          $ref: '#/components/schemas/AiTool'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ColumnDataDependencyListModel'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      security:
      - OAuth2Auth:
        - api:audience:read
      x-api-roles:
      - lim:wkb
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the GTM Studio API
  /studio/v1/audiences/{audienceId}/columns/{columnId}:
    patch:
      operationId: Columns_patchColumn
      summary: Update Column
      description: 'Updates a specific column''s definition within an audience.

        Supported fields: `name`, `isFrozen`, and `isHidden`. Only fields present in the request body are modified.

        Use this endpoint to rename a column or toggle its display state.

        Returns `200` with the updated column resource.

        Returns `400` if the update is invalid or the column is not editable (`isEditable: false`).

        Returns `404` if the `audienceId` or `columnId` does not exist.'
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier for the audience
        schema:
          type: string
          format: uuid
      - name: columnId
        in: path
        required: true
        description: The unique identifier for the column
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ReadColumnJsonApiModel'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ColumnUpdateJsonApiModel'
        description: Request body containing the column update details
      security:
      - OAuth2Auth:
        - api:audience:manage
      x-additional-content-types:
      - application/json
      x-api-roles:
      - lim:wkb
    delete:
      operationId: Columns_deleteColumn
      summary: Delete Column
      description: 'Permanently removes a specific column from an audience, including all cell values stored in that column across every row.

        Only columns where `isDeletable` is `true` can be removed using this endpoint; attempting to delete a non-deletable column returns `400`.

        This action is irreversible — all data in the deleted column cannot be recovered.

        Returns `204 No Content` on successful deletion.

        Returns `400` if the column is not deletable.

        Returns `404` if the `audienceId` or `columnId` does not exist.'
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier for the audience
        schema:
          type: string
          format: uuid
      - name: columnId
        in: path
        required: true
        description: The unique identifier for the column
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Success
          content:
            application/vnd.api+json:
              schema: {}
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      security:
      - OAuth2Auth:
        - api:audience:manage
      x-api-roles:
      - lim:wkb
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the GTM Studio API
  /studio/v1/audiences/{audienceId}/rows/{rowId}:
    get:
      operationId: Rows_getRowById
      summary: Get Row by ID
      description: 'Retrieves a single row from an audience by its `rowId`.

        Returns the full row record including all cell values and their `CellState` — `RESULT` (value present), `BLANK` (no value set), `LOADING` (enrichment in progress), `ERROR` (enrichment failed for this cell), or `NO_RESULT` (enrichment completed but returned no match).

        To limit the response to specific columns, pass one or more `columnId` values in the `columns` query parameter; if omitted, all columns are returned.

        Use this endpoint to inspect individual records, verify enrichment results, or retrieve a row before an update operation.

        Returns `200` with the row resource.

        Returns `404` if the `audienceId` or `rowId` does not exist.'
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier for the audience
        schema:
          type: string
          format: uuid
      - name: rowId
        in: path
        required: true
        description: The unique identifier for the row
        schema:
          type: string
          format: uuid
      - name: columns
        in: query
        required: false
        description: List of column IDs to include in the response, If provided, only these columns will be returned for each row.
        schema:
          type: array
          items:
            type: string
        explode: false
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RowJsonApiModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      security:
      - OAuth2Auth:
        - api:audience:read
      x-api-roles:
      - lim:wkb
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the GTM Studio API
  /studio/v1/audiences/{audienceId}/rows/actions/search:
    post:
      operationId: Rows_listRows
      summary: List Rows
      description: 'Retrieves rows from an audience with support for filtering, sorting, and pagination.

        Rows are individual contact or company records; each row contains cells keyed by `columnId`, where each cell reports its `value` and a `CellState` — `RESULT` (value present), `BLANK` (no value set), `LOADING` (enrichment in progress), `ERROR` (enrichment failed for this cell), or `NO_RESULT` (enrichment returned no match).

        Provide a flat `filters` array in the request body to narrow results by column values and conditions.

        Use `page[number]` and `page[size]` (default `25`, max `100`) to paginate through results.

        Use the `sort` query parameter with a `columnId` value and a `-` prefix for descending order.

        Use the `columns` query parameter to limit which columns are returned per row.

        Returns `200` with a paginated array of rows and navigation links.

        Returns `400` if filter criteria are malformed or column references are invalid.'
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier for the audience
        schema:
          type: string
          format: uuid
      - name: page[number]
        in: query
        required: false
        description: Page number for the results.
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 1
        explode: false
      - name: page[size]
        in: query
        required: false
        description: Number of records to return per page. Default is 25.
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 500
          default: 25
        explode: false
      - name: sort
        in: query
        required: false
        description: ColumnId based on which to sort the results. Use '-' prefix for descending order.
        schema:
          type: string
        explode: false
      - name: columns
        in: query
        required: false
        description: List of column IDs to include in the response, If provided, only these columns will be returned for each row.
        schema:
          type: array
          items:
            type: string
        explode: false
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetRowsJsonApiModel'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      requestBody:
        required: false
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RowSearchJsonApiModel'
        description: Request body containing the row search criteria
      security:
      - OAuth2Auth:
        - api:audience:read
      x-additional-content-types:
      - application/json
      x-api-roles:
      - lim:wkb
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the GTM Studio API
  /studio/v1/audiences/{audienceId}/rows/actions/upsert:
    post:
      operationId: Rows_upsertRows
      summary: Upsert Rows
      description: 'Creates and/or updates up to 50 rows in an audience in a single synchronous operation.

        Each entry in the request body includes cell values keyed by `columnId`. Including a `rowId` updates that existing row; omitting `rowId` creates a new row.

        Both creates and updates can be combined freely in the same request.

        Use this endpoint when upserting **50 rows or fewer**. For larger batches (up to 500 rows), use [Bulk Upsert Rows](ref:Rows_upsertRows) at `POST /actions/bulk/upsert` instead.

        Returns `200` with `data[]` row resources — each entry includes `id`, `type`, and `attributes.values` with full cell details (`columnId`, `value`, `state`, and `errorDetails` when applicable).

        Returns `400` if the request body is malformed, exceeds 50 rows, or `columnId` references are invalid.'
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier for the audience
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpsertRowsJsonApiModel'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '402':
          description: Payment Required
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RowUpsertListApiModel'
        description: Request body containing up to 50 rows to create or update. Include `id` to update an existing row; omit it to create a new row.
      security:
      - OAuth2Auth:
        - api:audience:manage
      x-additional-content-types:
      - application/json
      x-api-roles:
      - lim:wkb
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the GTM Studio API
  /studio/v1/audiences/{audienceId}/rows/actions/bulk/upsert:
    post:
      operationId: Rows_bulkUpsertRows
      summary: Bulk Upsert Rows
      description: 'Load records into an audience — create new rows, update existing ones, or mix both in a single call. This is the primary way to populate an audience with GTM data: trade show leads, CRM exports, account lists, enrichment targets.


        Each row is an array of cell values keyed by `columnId` (use the IDs returned by [Create Audience](ref:audiences_createaudience) or [Create New Columns](ref:columns_addcolumns)). Omit `id` to create a new row; include a `rowId` to update an existing one. Max 500 rows per call.


        **Cell values:** Each cell''s `value` must match the column''s `dataType`. For example, an `EMAIL` column expects a string like `"user@example.com"`, an `INTEGER` column expects a number, a `STRING_LIST` column expects an array of strings. Sending the wrong shape will result in a validation error.


        Returns `200` with the full row records including per-cell state: `RESULT` (value present), `BLANK` (no value set), `LOADING` (enrichment in progress), `ERROR` (enrichment failed — check `errorDetails`), or `NO_RESULT` (enrichment found no match).

        Returns `400` if the request body is malformed or `columnId` references are invalid.'
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier for the audience
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpsertRowsJsonApiModel'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '402':
          description: Payment Required
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/BulkRowUpsertListApiModel'
        description: Request body containing rows to create or update. Include `id` (rowId) to update an existing row; omit `id` to create a new row.
      security:
      - OAuth2Auth:
        - api:audience:manage
      x-additional-content-types:
      - application/json
      x-api-roles:
      - lim:wkb
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the GTM Studio API
  /studio/v1/audiences/{audienceId}/rows/actions/bulk/delete:
    delete:
      operationId: Rows_deleteRows
      summary: Delete Rows
      description: 'Permanently removes multiple rows from an audience in a single bulk operation.

        Provide an array of `rowId` values in the request body. All row data and associated cell values are deleted and cannot be recovered.

        Use this endpoint to clean audiences of outdated, duplicate, or irrelevant records. To delete the entire audience, use the Delete Audience endpoint instead.

        This operation is asynchronous. Returns `202 Accepted` with a `jobId`. Poll the [Get Async Job Status](ref:jobs_getAsyncJobStatus) endpoint at `GET /v1/audiences/{audienceId}/jobs/{jobId}` using that `jobId` to confirm all rows have been removed.

        Returns `400` if the request body is malformed or `rowId` values are invalid.'
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier for the audience
        schema:
          type: string
          format: uuid
      responses:
        '202':
          description: Accepted
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RowAsyncJobJsonApiModel'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DeleteRowJsonApiModel'
        description: Request body containing the row deletion details
      security:
      - OAuth2Auth:
        - api:audience:manage
      x-additional-content-types:
      - application/json
      x-api-roles:
      - lim:wkb
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the GTM Studio API
  /marketing/v1/audiences:
    post:
      operationId: AudienceInterface_createAudience
      summary: Creates a new audience
      description: Creates a new audience.
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AudienceModel'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AudienceModelCreate'
        description: Request body containing the audience creation details
      security:
      - OAuth2Auth:
        - api:audience:manage
      x-additional-content-types:
      - application/json
      x-api-roles:
      - fea:mcp
    get:
      operationId: AudienceInterface_getAudiences
      summary: Lists all audiences
      description: Lists all audiences.
      parameters:
      - name: pageToken
        in: query
        required: false
        description: The page token to use for pagination
        schema:
          type: string
        explode: false
      - name: pageSize
        in: query
        required: false
        description: The number of audiences to return per page
        schema:
          type: integer
          format: int32
        explode: false
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetAudiencesResponse'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      security:
      - OAuth2Auth:
        - api:audience:read
      x-api-roles:
      - fea:mcp
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the Marketing API
  /marketing/v1/audiences/{audienceId}:
    get:
      operationId: AudienceInterface_getAudience
      summary: Gets existing audience by ID
      description: Gets an existing audience.
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier of the audience
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AudienceModel'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      security:
      - OAuth2Auth:
        - api:audience:read
      x-api-roles:
      - fea:mcp
    put:
      operationId: AudienceInterface_updateAudience
      summary: Updates audience by ID
      description: Updates an existing audience.
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier of the audience
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AudienceModel'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AudienceModelUpdate'
        description: Request body containing the audience update details
      security:
      - OAuth2Auth:
        - api:audience:manage
      x-additional-content-types:
      - application/json
      x-api-roles:
      - fea:mcp
    delete:
      operationId: AudienceInterface_deleteAudience
      summary: Deletes audience by ID
      description: Deletes an existing audience.
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier of the audience
        schema:
          type: string
      responses:
        '204':
          description: Success
          content:
            application/vnd.api+json:
              schema: {}
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      security:
      - OAuth2Auth:
        - api:audience:manage
      x-api-roles:
      - fea:mcp
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the Marketing API
  /marketing/v1/audiences/{audienceId}/uploads:
    post:
      operationId: AudienceInterface_uploadAudience
      summary: Creates new audience upload
      description: Create a new audience segment upload.
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier of the audience
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AudienceUploadModel'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AudienceUploadModelCreate'
        description: Request body containing the audience upload details
      security:
      - OAuth2Auth:
        - api:audience-member:manage
      x-additional-content-types:
      - application/json
      x-api-roles:
      - fea:mcp
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the Marketing API
  /marketing/v1/audiences/{audienceId}/uploads/{uploadId}:
    get:
      operationId: AudienceInterface_getAudienceUpload
      summary: Gets audience upload status
      description: Gets the upload status for an existing audience.
      parameters:
      - name: audienceId
        in: path
        required: true
        description: The unique identifier of the audience
        schema:
          type: string
      - name: uploadId
        in: path
        required: true
        description: The unique identifier of the audience upload
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AudienceUploadModel'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Audiences
      security:
      - OAuth2Auth:
        - api:audience-member:manage
      x-api-roles:
      - fea:mcp
    servers:
    - url: https://api.zoominfo.com/gtm
      description: Base URL for the Marketing API
components:
  schemas:
    FolderJsonApiModelCreate:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/FolderCreate'
          description: The primary data of the document
      description: JSON API model for Folder.
    ReadAudienceAttributes:
      type: object
      required:
      - name
      - recordCount
      - type
      - origin
      properties:
        name:
          type: string
          description: Display name of the audience.
        description:
          type: string
          description: Optional free-text description of the audience's purpose or contents.
        notes:
          type: string
          description: Optional notes about the audience for internal reference.
        recordCount:
          type: integer
          format: int32
          description: Total number of rows currently in the audience. Read-only; updated automatically as rows are added or removed.
          readOnly: true
        type:
          allOf:
          - $ref: '#/components/schemas/AudienceType'
          description: Record type for this audience. `CONTACT` for person-level records; `COMPANY` for account-level records. Set at creation and cannot be changed.
        folderId:
          type: string
          description: UUID of the folder that contains this audience. If omitted on create, a new folder matching the audience name is created automatically.
        origin:
          allOf:
          - $ref: '#/components/schemas/SourceOrigin'
          description: The origin of the audience source
          readOnly: true
        folderName:
          type: string
          description: Display name of the folder that contains this audience.
          readOnly: true
        columns:
          type: array
          items:
            $ref: '#/components/schemas/ReadColumn'
          description: The Columns in the audience
          readOnly: true
      description: Audience model representing audience details.
    GetRowsAttributes:
      type: object
      properties:
        filter:
          allOf:
          - $ref: '#/components/schemas/GenericFilterGroupForAudience'
          description: Filter criteria to narrow down the rows returned.
        ids:
          type: array
          items:
            type: string
          description: List of specific Row IDs to retrieve.
      description: Attributes defining the request parameters for retrieving Rows
    CellState:
      type: string
      enum:
      - RESULT
      - BLANK
      - LOADING
      - ERROR
      - NO_RESULT
      description: Processing state of a cell value within a row. Indicates whether enrichment has run and what the outcome was.
      x-enumDescriptions:
        RESULT: A value was successfully retrieved — the cell holds valid data.
        BLANK: No value has been set — the cell is empty and enrichment has not been attempted.
        LOADING: Enrichment is currently in progress for this cell — the value is not yet available.
        ERROR: Enrichment failed for this cell — see `errorDetails` for the reason and whether it is retryable.
        NO_RESULT: Enrichment completed but returned no data — ZoomInfo found no data for this cell.
    Operator:
      type: string
      enum:
      - AND
      - OR
    FolderJsonApiList:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Folder'
          description: The primary data of the document
        meta:
          allOf:
          - $ref: '#/components/schemas/Pagination'
          description: Non-standard meta information about the document
        links:
          allOf:
          - $ref: '#/components/schemas/FoldersPagingLinks'
          description: Links related to the primary data
      description: JSON API model for Folder List.
    ReadColumnAttributes:
      type: object
      required:
      - name
      - isDeletable
      - isEditable
      - isExportable
      - isFilterable
      - isSortable
      - columnType
      properties:
        name:
          type: string
          description: Display name of the column shown in the UI and returned in row responses.
        dataType:
          allOf:
          - $ref: '#/components/schemas/ColumnDataType'
          description: Data type of the column. Optional for AI columns; required for static and ZoomInfo match columns.
        isDeletable:
          type: boolean
          description: Whether this column can be deleted via the Delete Column endpoint. Read-only; set by the system.
          readOnly: true
        isEditable:
          type: boolean
          description: Whether this column's value can be updated via the Update rows endpoint. Read-only; set by the system.
          readOnly: true
        isExportable:
          type: boolean
          description: Whether this column's values can be included in data exports. Read-only; set by the system.
          readOnly: true
        isFilterable:
          type: boolean
          description: Whether this column supports row filtering via the filterCriteria. Read-only; set by the system.
          readOnly: true
        isFrozen:
          type: boolean
          description: Whether this column is pinned (frozen) to the left in grid views. Optional; defaults to `false`.
          default: false
        isHidden:
          type: boolean
          description: Whether this column is hidden from grid views. Optional; defaults to `false`.
          default: false
        isSortable:
          type: boolean
          description: Whether this column supports row sorting via the List Rows endpoint. Read-only; set by the system.
          readOnly: true
        columnType:
          allOf:
          - $ref: '#/components/schemas/ColumnType'
          description: Column type indicating the source and type of this column.
        prompt:
          type: string
          description: Formula or AI prompt used to generate values for this column. Returned for `FORMULA` and `AI` columns.
        tool:
          allOf:
          - $ref: '#/components/schemas/AiTool'
          description: Optional AI tool used to process this AI column. Returned for `AI` columns if a tool was selected.
        dataDependencies:
          type: array
          items:
            $ref: '#/components/schemas/ColumnContextInput'
          description: List of data dependencies that provide context to the AI model for this column. Returned for `AI` columns if data dependencies were specified.
        scriptConfiguration:
          allOf:
          - $ref: '#/components/schemas/ScriptConfiguration'
          description: Optional script configuration for `FORMULA` columns. Includes generated formula language and expression.
        matchCriteria:
          type: array
          items:
            $ref: '#/components/schemas/MatchCriteria'
          description: List of match criteria defining how rows are matched against ZoomInfo data. Returned for `ZOOMINFO_MATCH` columns.
      description: Base attributes shared by all column types in an audience.
    RowAsyncJob:
      type: object
      required:
      - id
      - type
      properties:
        id:
          type: string
          description: The unique identifier of the resource
        type:
          type: string
          description: The type identifier of the resource
          default: RowAsyncJob
          pattern: RowAsyncJob
      description: Row async job response resource.
    JobResponseStatus:
      type: object
      required:
      - status
      properties:
        status:
          allOf:
          - $ref: '#/components/schemas/RunStatus'
          description: Current state of the job. One of `SCHEDULED`, `RUNNING`, `SUCCEEDED`, `PARTIALLY_SUCCEEDED`, `FAILED`, or `CANCELLED`.
        percentProgress:
          type: integer
          format: uint8
          minimum: 0
          maximum: 100
          description: Completion percentage of the job, from `0` to `100`. Not always present for all job types.
      description: Current status and progress of an asynchronous job.
    ColumnMeta:
      type: object
      required:
      - createdAt
      - createdById
      - createdByName
      - updatedAt
      - updatedById
      - updatedByName
      properties:
        createdAt:
          type: string
          format: date-time
          description: The timestamp when the resource was created
          readOnly: true
        createdById:
          type: integer
          format: uint32
          description: Id of the user who created the resource
          readOnly: true
        createdByName:
          type: string
          description: Name of the user who created the resource
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: The timestamp when the resource was last updated
          readOnly: true
        updatedById:
          type: integer
          format: uint32
          description: Id of the user who last updated the resource
          readOnly: true
        updatedByName:
          type: string
          description: Name of the user who last updated the resource
          readOnly: true
      description: Metadata for Column model.
    EnrichAudienceAttributes:
      type: object
      required:
      - scope
      properties:
        scope:
          allOf:
          - $ref: '#/components/schemas/EnrichmentScope'
          description: The scope of the enrichment operation.
        rows:
          type: array
          items:
            type: string
          description: List of `rowId` values to enrich. Required if `scope` is `ROW`; must contain at least one element. Ignored if `scope` is `AUDIENCE`.
        columns:
          type: array
          items:
            type: string
          description: List of `columnId` values to enrich for enrichment operations. Optional and can be provided for any scope value.
      description: 'Defines the scope and targets for an enrichment operation.

        - If `scope` is `AUDIENCE`, enriches all rows; `rows` and `columns` are optional.

        - If `scope` is `ROW`, enriches specific rows; `rows` must be provided with at least one element. `columns` is optional.'
    UpdateFolderJsonApiModel:
      type: object
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/UpdateFolder'
          description: The primary data of the document
      description: JSON API model for Folder.
    ReadAudience:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: Audience
          pattern: Audience
        attributes:
          allOf:
          - $ref: '#/components/schemas/ReadAudienceAttributes'
          description: The attributes defining the resource
        meta:
          allOf:
          - $ref: '#/components/schemas/AudienceMeta'
          description: Non-standard meta information about the resource
          readOnly: true
      description: Audience read request resource.
    ReadAudienceDetailJsonApiModel:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/ReadAudienceDetail'
          description: The primary data of the document
      description: JSON API model for Audience detail responses.
    AudienceFilterMetadataJsonApiModel:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/AudienceFilterMetadata'
          description: The primary data of the document
      description: JSON API model for Audience filter metadata request.
    AiColumn:
      type: object
      required:
      - name
      - isDeletable
      - isEditable
      - isExportable
      - isFilterable
      - isSortable
      - columnType
      - prompt
      properties:
        name:
          type: string
          description: Display name of the column shown in the UI and returned in row responses.
        dataType:
          allOf:
          - $ref: '#/components/schemas/ColumnDataType'
          description: Data type of the column. Optional for AI columns; required for static and ZoomInfo match columns.
        isDeletable:
          type: boolean
          description: Whether this column can be deleted via the Delete Column endpoint. Read-only; set by the system.
          readOnly: true
        isEditable:
          type: boolean
          description: Whether this column's value can be updated via the Update rows endpoint. Read-only; set by the system.
          readOnly: true
        isExportable:
          type: boolean
          description: Whether this column's values can be included in data exports. Read-only; set by the system.
          readOnly: true
        isFilterable:
          type: boolean
          description: Whether this column supports row filtering via the filterCriteria. Read-only; set by the system.
          readOnly: true
        isFrozen:
          type: boolean
          description: Whether this column is pinned (frozen) to the left in grid views. Optional; defaults to `false`.
          default: false
        isHidden:
          type: boolean
          description: Whether this column is hidden from grid views. Optional; defaults to `false`.
          default: false
        isSortable:
          type: boolean
          description: Whether this column supports row sorting via the List Rows endpoint. Read-only; set by the system.
          readOnly: true
        columnType:
          type: string
          description: Column type indicating the source and type of this column.
          default: AI
          pattern: AI
        prompt:
          type: string
          description: The prompt provided to the AI model to generate values for this column. The prompt can include instructions and guidance on the expected analysis, generation behavior, and output format.
        tool:
          allOf:
          - $ref: '#/components/schemas/AiTool'
          description: Optional AI tool used to process this AI column. If omitted, the default AI workflow is used.
        dataDependencies:
          type: array
          items:
            $ref: '#/components/schemas/ColumnContextInput'
          description: List of data dependencies that provide additional context to the AI model for this column. Each data dependency references an existing audience column or a knowledge base attribute used to guide generation.
      description: Column model representing an AI column — values are generated by AI. The optional `tool` determines which AI capability is used.
    ZoomInfo.Core.Foundations.ErrorSourceModel:
      type: object
      properties:
        cookie:
          type: string
          description: Identifies the cookie name that caused the issue
        header:
          type: string
          description: Identifies the header name that caused the error
        pointer:
          type: string
          description: An RFC 6901 compliant JSON pointer to the entity in the request body that caused the error
        parameter:
          type: string
          description: The name of the path or query parameter that caused the error
    Page:
      type: object
      required:
      - size
      - number
      properties:
        size:
          type: integer
          format: uint32
          description: Number of items per page
        number:
          type: integer
          format: uint32
          description: Current page number
      description: Page details for paginated responses.
    ColumnInputType:
      type: string
      enum:
      - COLUMN
      - KNOWLEDGE_BASE
      description: Defines the type of context input used for AI column generation.
      x-enumDescriptions:
        COLUMN: Input source is available in the Audience itself as a column.
        KNOWLEDGE_BASE: Input source is not available as an Audience column. It is for Account Intelligence or ZoomInfo data.
    AudienceJsonApiModel:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/Audience'
          description: The primary data of the document
      description: JSON API model for Audience.
    CellErrorDetails:
      type: object
      required:
      - summary
      - description
      - retryable
      properties:
        summary:
          type: string
          description: Short human-readable label for the error.
        description:
          type: string
          description: Full explanation of the error — what went wrong and why.
        retryable:
          type: boolean
          description: Whether re-running enrichment for this cell is expected to succeed. If `false`, the error is permanent until the underlying data issue is resolved.
      description: Describes an error that occurred during enrichment for a specific cell.
    GenericFilters:
      type: object
      oneOf:
      - $ref: '#/components/schemas/GenericFilterFieldForAudience'
      discriminator:
        propertyName: type
        mapping:
          Filter: '#/components/schemas/GenericFilterFieldForAudience'
    Row:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: Row
          pattern: Row
        attributes:
          allOf:
          - $ref: '#/components/schemas/RowAttributes'
          description: The attributes defining the resource
      description: Attributes defining Row.
    FormulaColumn:
      type: object
      required:
      - name
      - isDeletable
      - isEditable
      - isExportable
      - isFilterable
      - isSortable
      - columnType
      - prompt
      properties:
        name:
          type: string
[...]
