openapi: 3.2.0
info:
  title: Agent API V1 Agent Teams API
  version: '1.0'
  contact:
    name: ZoomInfo Customer Support
    email: help@zoominfo.com
  description: "This definition only exposes one of many API routes from agentic-ai-platform\n    in order to quickly support an integration opportunity with SalesForce.\n    The model includes some definitions used by API routes that are not being\n    surfaced at this time. They remain included where they are referenced as\n    dependencies, to avoid model refactoring, and with the intent that additional\n    capabilities of agentic-ai-platform will be released under ZI-API in the future/"
servers:
- url: https://api.zoominfo.com/gtm
  description: Base URL for the Agent API
security:
- OAuth2Auth: []
tags:
- name: Agent Teams
paths:
  /agent/v1/agent-teams:
    get:
      operationId: AgentTeamsController_listAgentTeams
      summary: List Agent Teams
      description: "Returns a list of Agent Teams. Each Agent Team contains information about the Agent Team including its name, \nthe registered triggers that can initiate an Agent Team run, and whether the Agent Team and its triggers are\ncurrently active.\n\nAgent Teams can be run using [Run Agent Team](ref:agentteamscontroller_runagentteam). Any Agent Team can\nbe executed manually using that endpoint, regardless of whether the Agent Team is marked as active or inactive.\nTo get additional details for an Agent Team, including the required inputs needed to create a new run, please use\n[Get Agent Team Details](ref:agentteamscontroller_getagentteamdetails)"
      parameters:
      - name: page[size]
        in: query
        required: false
        description: 'The number of Agent Teams to return per page of results. Allowable values are between 1 and 100.

          The default value if not provided is 25 Agent Teams per page.'
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        explode: false
      - name: page[number]
        in: query
        required: false
        description: 'The page of results you would like to fetch. The default value if not provided is `1` to fetch the first page of results '
        schema:
          type: integer
          format: int32
          minimum: 1
        explode: false
      - name: sort
        in: query
        required: false
        description: "Sort results by the specified output field. Valid values are name, createdAt, and updatedAt. \nAdd minus sign ('-') before the sort field name for descending order. The default sort if not\nprovided is `name` (sorted by name in alphabetical order)"
        schema:
          type: string
        explode: false
      - name: filter[name]
        in: query
        required: false
        description: Filter Agent Teams by name.
        schema:
          type: string
        explode: false
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AgentTeamsListResponse'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Agent Teams
      security:
      - OAuth2Auth:
        - api:agent-teams:read
      x-api-roles:
      - fea:pls
  /agent/v1/agent-teams/{agentTeamId}:
    get:
      operationId: AgentTeamsController_getAgentTeamDetails
      summary: Get Agent Team Details
      description: 'Fetch an Agent Team by id, returning the full Agent Team details. The Agent Team details include configured input

        parameters that are required when executing an Agent Team using the [Run Agent Team](ref:agentteamscontroller_runagentteam) endpoint.


        Use [List Agent Teams](ref:agentteamscontroller_listagentteams) to find an Agent Team if you don''t already know the identifier

        you are looking to get details for.'
      parameters:
      - name: agentTeamId
        in: path
        required: true
        description: The unique identifier of the Agent Team
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AgentTeamDetailResponse'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Agent Teams
      security:
      - OAuth2Auth:
        - api:agent-teams:read
      x-api-roles:
      - fea:pls
  /agent/v1/agent-teams/{agentTeamId}/runs:
    post:
      operationId: AgentTeamsController_runAgentTeam
      summary: Run Agent Team
      description: "Triggers an Agent Team run. Any Agent Team can be run manually using this endpoint, even if the\nAgent Team is marked with inactive.\n\nAgent Teams run asynchronously, so this endpoint returns the Agent Team run with the id created \nand the initial run status. Poll [Get Agent Team Results](ref:agentteamscontroller_getagentteamrun)\nto get status updates on the Agent Team run."
      parameters:
      - name: agentTeamId
        in: path
        required: true
        description: The unique identifier of the Agent Team to run.
        schema:
          type: string
      responses:
        '202':
          description: Accepted
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AgentTeamRunResponse'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Agent Teams
      requestBody:
        required: false
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RunAgentTeamRequestBody'
        description: Request body containing optional named inputs for the Agent Team run.
      security:
      - OAuth2Auth:
        - api:agent-teams:execute
      x-additional-content-types:
      - application/json
      x-api-roles:
      - fea:pls
    get:
      operationId: AgentTeamsController_listAgentTeamRuns
      summary: List Agent Team Runs
      description: 'Fetch all runs for an Agent Team.


        Do not use this endpoint to poll for the status of an Agent Team run, for that please use

        [Get Agent Team Results](ref:agentteamscontroller_getagentteamrun). The list of Agent Team runs

        will always return sorted in reverse chronological order.'
      parameters:
      - name: agentTeamId
        in: path
        required: true
        description: The unique identifier of the Agent Team
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        description: 'The number of Agent Team runs to return per page of results. Allowable values are between 1 and 100.

          The default value if not provided is 25 Agent Team runs per page.'
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        explode: false
      - name: page[number]
        in: query
        required: false
        description: The page of results you would like to fetch. The default value if not provided is `1` to fetch the first page of results.
        schema:
          type: integer
          format: int32
          minimum: 1
        explode: false
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AgentTeamRunsListResponse'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Agent Teams
      security:
      - OAuth2Auth:
        - api:agent-teams:read
      x-api-roles:
      - fea:pls
  /agent/v1/agent-teams/{agentTeamId}/runs/{runId}:
    get:
      operationId: AgentTeamsController_getAgentTeamRun
      summary: Get Agent Team Results
      description: 'Retrieves the current status and available output for a previously started Agent Team run.


        Poll this endpoint after executing an Agent Team run to check the status of that Agent Team.

        Returns `404` when the Agent Team or run does not exist, or if the run does not belong to the

        specified Agent Team.'
      parameters:
      - name: agentTeamId
        in: path
        required: true
        description: The unique identifier of the Agent Team associated with the run.
        schema:
          type: string
      - name: runId
        in: path
        required: true
        description: The unique identifier of the Agent Team run.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AgentTeamRunResponse'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorResponseModel'
      tags:
      - Agent Teams
      security:
      - OAuth2Auth:
        - api:agent-teams:read
      x-api-roles:
      - fea:pls
components:
  schemas:
    InputParameter:
      type: object
      required:
      - name
      - required
      - type
      properties:
        name:
          type: string
          description: The name of the input parameter. This will be provided in the `name` attribute for the `RunAgentTeamRequest`
        required:
          type: boolean
          description: Indicates whether the parameter is required to start the Agent Team run
        type:
          allOf:
          - $ref: '#/components/schemas/InputParameterType'
          description: The data type of the input parameter. Currently only STRING type parameters are supported
      description: Describes an input parameter that is used to start an agent team run
    RunAgentTeamRequestAttributes:
      type: object
      properties:
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/AgentTeamInput'
          description: Optional list of named input values to pass to the Agent Team.
      description: Attributes for an Agent Team run request.
    AgentTeamsListResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AgentTeam'
          description: The primary data of the document
        meta:
          allOf:
          - $ref: '#/components/schemas/PagingMeta'
          description: Non-standard meta information about the document
        links:
          allOf:
          - $ref: '#/components/schemas/PagingLinks'
          description: Links related to the primary data
      description: Response containing a list of Agent Teams.
    AgentTeamMeta:
      type: object
      required:
      - createdAt
      - createdBy
      - updatedAt
      - creditsUsed
      properties:
        createdAt:
          type: string
          format: date-time
          description: The timestamp when this Agent Team was created
        createdBy:
          type: integer
          format: int32
          description: The id of the user that created this Agent Team
        updatedAt:
          type: string
          format: date-time
          description: The timestamp for the last time this Agent Team was updated
        creditsUsed:
          type: integer
          format: int32
          description: The total amount of AI Credits consumed by this Agent Team over its lifespan
        lastRunDate:
          type: string
          format: date-time
          description: The date of the last successful run of this Agent Team
      description: Metadata information for an Agent Team
    AgentTeamTriggerType:
      type: string
      enum:
      - MANUAL
      - ACCOUNT_CHANGE
      - WEBSITE_VISIT
      - EMAIL_RECEIVED
      - MEETING
      - WEBHOOK
      - CONTACT_CHANGE
      - OPPORTUNITY_CHANGE
      - SCHEDULE
    AgentTeamDetailResponse:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/AgentTeamDetail'
          description: The primary data of the document
      description: Response for a single Agent Team with input parameter details
    PagingMeta:
      type: object
      required:
      - page
      - pageSize
      - totalCount
      properties:
        page:
          type: integer
          format: uint32
          description: The current page of results being returned.
        pageSize:
          type: integer
          format: uint32
          description: The page size as specified by the request.
        totalCount:
          type: integer
          format: uint32
          description: The total count of results within the current search parameters.
      description: Metadata for the current page of results.
    AgentTeamAttributes:
      type: object
      required:
      - name
      - triggers
      - active
      properties:
        name:
          type: string
          description: Name of the Agent Team.
        description:
          type: string
          description: Human-readable description of the Agent Team. This field is omitted when no objective or description is defined.
        triggers:
          type: array
          items:
            $ref: '#/components/schemas/AgentTeamTriggerType'
          description: The trigger types associated with this Agent Team
        active:
          type: boolean
          description: Flag indicating whether the Agent Team's triggers are active or not. Agent Teams that are inactive can still be triggered manually
      description: Public Agent Team details.
    ZoomInfo.Core.Foundations.ErrorResponseModel:
      type: object
      required:
      - errors
      properties:
        detail:
          type: string
          description: A high-level detail of the error(s) that occurred during the request
        title:
          type: string
          description: A high-level summary of the error(s) detected
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorModel'
          description: The list of errors raised during the request
      description: The standard error response body model for the ZoomInfo API.
    InputParameterType:
      type: string
      enum:
      - STRING
    AgentTeamInput:
      type: object
      required:
      - name
      - value
      properties:
        name:
          type: string
          description: Name of the Agent Team input.
        value:
          type: string
          description: Value supplied for the input.
      description: Input parameter passed to an Agent Team run.
    AgentTeamDetailAttributes:
      type: object
      required:
      - name
      - triggers
      - active
      properties:
        name:
          type: string
          description: Name of the Agent Team.
        description:
          type: string
          description: Human-readable description of the Agent Team. This field is omitted when no objective or description is defined.
        triggers:
          type: array
          items:
            $ref: '#/components/schemas/AgentTeamTriggerType'
          description: The trigger types associated with this Agent Team
        active:
          type: boolean
          description: Flag indicating whether the Agent Team's triggers are active or not. Agent Teams that are inactive can still be triggered manually
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/InputParameter'
          description: 'The input parameters defined for this Agent Team. '
      description: Public Agent Team details.
    ZoomInfo.Core.Foundations.ErrorSourceModel:
      type: object
      properties:
        cookie:
          type: string
          description: Identifies the cookie name that caused the issue
        header:
          type: string
          description: Identifies the header name that caused the error
        pointer:
          type: string
          description: An RFC 6901 compliant JSON pointer to the entity in the request body that caused the error
        parameter:
          type: string
          description: The name of the path or query parameter that caused the error
    AgentTeamRunStatus:
      type: string
      enum:
      - QUEUED
      - RUNNING
      - COMPLETED
      - FAILED
      - CANCELLED
      - STOPPING
      description: Lifecycle states for an Agent Team run.
      x-enumDescriptions:
        QUEUED: The Agent Team run is queued and waiting to start.
        RUNNING: The Agent Team run is currently executing.
        COMPLETED: The Agent Team run completed successfully.
        FAILED: The Agent Team run completed with a failure.
        CANCELLED: The Agent Team run was stopped before completion.
        STOPPING: The Agent Team run is currently in the process of shutting down
    AgentTeamRunAttributes:
      type: object
      required:
      - agentTeamId
      - status
      properties:
        agentTeamId:
          type: string
          description: The unique identifier of the Agent Team associated with this run.
        status:
          allOf:
          - $ref: '#/components/schemas/AgentTeamRunStatus'
          description: Current execution status of the Agent Team run.
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/AgentTeamInput'
          description: The inputs provided for this run of the Agent Team
        output:
          type: string
          description: Final or in-progress output for the Agent Team run. This field is omitted for runs that have not yet produced output.
      description: Attributes describing an Agent Team run
    RunAgentTeamRequestBody:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/RunAgentTeamRequest'
          description: The primary data of the document
      description: Request body for running an Agent Team.
    PagingLinks:
      type: object
      properties:
        first:
          type: string
          format: uri
          description: A link to the first page of data
        last:
          type: string
          format: uri
          description: A link to the last page of data
        prev:
          type: string
          format: uri
          description: A link to the previous page of data
        next:
          type: string
          format: uri
          description: A link to the next page of data
      description: Links describing the available paging options.
    AgentTeam:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: AgentTeam
          pattern: AgentTeam
        attributes:
          allOf:
          - $ref: '#/components/schemas/AgentTeamAttributes'
          description: The attributes defining the resource
        meta:
          allOf:
          - $ref: '#/components/schemas/AgentTeamMeta'
          description: Non-standard meta information about the resource
      description: Agent Team resource.
    AgentTeamRunMeta:
      type: object
      required:
      - createdAt
      - createdBy
      - updatedAt
      properties:
        createdAt:
          type: string
          format: date-time
          description: The UTC date time when the Agent Team run was created
        createdBy:
          type: integer
          format: int32
          description: The id of the user that executed this Agent Team run
        updatedAt:
          type: string
          format: date-time
          description: The UTC date time when the Agent Team run was last updated
        completedAt:
          type: string
          format: date-time
          description: The UTC date time when the Agent Team run completed
        totalCredits:
          type: integer
          format: int32
          description: The total number of credits consumed by this Agent Team run. This value is only provided after the Agent Team has successfully finished executing
      description: Metadata information for an Agent Team run
    ZoomInfo.Core.Foundations.ErrorModel:
      type: object
      required:
      - id
      - code
      - status
      properties:
        id:
          type: string
          description: The unique id used to identify this specific error instance
        code:
          type: string
          description: The error code describing the error category. A full list of error codes can be found in the documentation for each service
        detail:
          type: string
          description: Message containing the specific details about this occurrence of the error
        source:
          allOf:
          - $ref: '#/components/schemas/ZoomInfo.Core.Foundations.ErrorSourceModel'
          description: An optional object identifying which part of the request caused the error
        status:
          type: string
          description: The HTTP status code for the error
        title:
          type: string
          description: The error name that describes this type of error
      description: The object describing a specific error from the API
    AgentTeamRunResponse:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/AgentTeamRun'
          description: The primary data of the document
      description: Response containing a single Agent Team run.
    AgentTeamRun:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: AgentTeamRun
          pattern: AgentTeamRun
        attributes:
          allOf:
          - $ref: '#/components/schemas/AgentTeamRunAttributes'
          description: The attributes defining the resource
        meta:
          allOf:
          - $ref: '#/components/schemas/AgentTeamRunMeta'
          description: Non-standard meta information about the resource
      description: Model describing an Agent Team run
    RunAgentTeamRequest:
      type: object
      required:
      - type
      - attributes
      properties:
        type:
          type: string
          description: The type of the resource
          default: RunAgentTeamRequest
          pattern: RunAgentTeamRequest
        attributes:
          allOf:
          - $ref: '#/components/schemas/RunAgentTeamRequestAttributes'
          description: The attributes defining the resource
      description: Agent Team run request resource.
    AgentTeamDetail:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          description: The unique identifier for the resource
        type:
          type: string
          description: The type of the resource
          default: AgentTeam
          pattern: AgentTeam
        attributes:
          allOf:
          - $ref: '#/components/schemas/AgentTeamDetailAttributes'
          description: The attributes defining the resource
        meta:
          allOf:
          - $ref: '#/components/schemas/AgentTeamMeta'
          description: Non-standard meta information about the resource
      description: Agent Team resource with full input parameter details.
    AgentTeamRunsListResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AgentTeamRun'
          description: The primary data of the document
        meta:
          allOf:
          - $ref: '#/components/schemas/PagingMeta'
          description: Non-standard meta information about the document
        links:
          allOf:
          - $ref: '#/components/schemas/PagingLinks'
          description: Links related to the primary data
      description: Response containing a list of Agent Team runs.
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.zoominfo.com
          tokenUrl: https://okta-login.zoominfo.com/oauth2/default/v1/token
          scopes:
            api:agent:agentforce: Access Agentforce integration
            api:agent-teams:read: Read Agent Teams
            api:agent-teams:execute: Execute Agent Teams and view run status
            api:agent-pulses:read: Read the authenticated user's pulses
